* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.container {
    display: flex;
    padding-left: 0;
}

.sidebar {
    width: 25%;
    height: 100%;
}

.sidebar ul li {
    padding: 10px 10px 0 0;
}

.sidebar ul li a {
   text-decoration: none;
   color: #4A4A4A;
   font-weight: 500;
   font-size: 0.9rem;
}

.main-content {
    flex: 1;
    padding-left: 80px;
}

.main-content .info {
    width: 40%;
}

.main-content .info p,
small{
    font-size: 0.8rem;
    color: gray;
}

small {
    font-size: 0.7rem;
}

.change-avatar {
    border: none;
    border-radius: 15px;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 20px;
    transition-duration: 0.3s;
    z-index: 2;
    cursor: pointer;
}

.user-avatar-section {
    position: relative;
}

user-avatar {
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

.main-container {
    cursor: pointer;
}

.change-avatar:hover {
    background: #D8D8D8;
}

input[type="file"] {
    display: none;
}

#popup form label {
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
    background: #C1BFBF;
    border: none;
    border-radius: 10px;
}

#popup form label:hover {
    background: #B9B7B7;
    color: white;
}

#popup form label,
.change-confirm {
    border: none;
    border-radius: 15px;
    background: #EF2323;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 10px 5px;
    cursor: pointer;
    margin-top: -10px;
}

#popup form label:hover,
.change-confirm:hover {
    background: #D02A35;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
}

#popup > div {
    width: 40%;
    position: relative;
    background: white;
    top: 40%;
    left: 30%;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    padding: 10px 20px;
    transition: 0.5s;
}

[disabled],
.errorlist{
    display: none;
}

/* SET ADDITIONAL INFO FORM */

.form-control,
.form-textarea {
    border: 1px solid #DEDBDC;
    border-radius: 15px;
    padding: 7px 10px;
    outline: none;
    font-size: 0.8rem;
    width: 45%;
}

.form-textarea {
    height: 90%;
    font-size: 0.7rem;
}

.shorter {
    width: 20%;
    display: inline-block;
    margin-right: 20px;
}

.user-additional-info {
    margin-top: 20px;
    position: relative;
}

.user-additional-info input {
    font-size: 0.7rem;
}

.user-additional-info .row {
    margin-bottom: 10px;
}

.user-additional-info .column:nth-child(1) input,
.user-additional-info .column:nth-child(2) input {
    width: calc(50% - 6px);
}

.user-additional-info .column:nth-child(2) {
    margin-left: -135px;
}

.user-additional-info .column {
    display: inline-block;
    width: 40%;
}

.user-additional-info label {
    display: block;
    font-size: 0.8rem;
    color: #686767;
    margin-top: 10px;
    margin-bottom: 5px;
}

.row-buttons {
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.row-buttons .form-button {
    border: none;
    border-radius: 10px;
    background: #DBD9D9;
    cursor: pointer;
    padding: 5px 10px;
    color: #878686;
    font-weight: 500;
    font-size: 0.9rem;
}

.help-container{
    float: right;
}

.circle-button-modal {
    float: left;
    margin-right: 50px;
    background: white;
    -webkit-box-shadow: 0px 1px 7px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 1px 7px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 1px 7px -2px rgba(0,0,0,0.69);
    padding: 10px 5px;
    margin-top: -200px;
    border-radius: 7px;
    visibility: hidden;
}

.modal-footer {
    display: flex;
    flex-direction: column;
}

.modal-footer .table-row {
    display: table;
    width: 90%;
}

.modal-footer #copyright-cell {
    margin-left: -40px;
    width: 60%;
}

.modal-footer #copyright {
    margin-left: -40px;
}

.modal-footer a {
    font-size: 0.8rem;
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

.modal-footer a:hover {
    border-bottom: 1px solid gray;
}

.modal-footer .table-row .table-cell {
    display: table-cell;
    padding-right: 10px;
}


.circle-button-modal ul {
    padding: 0 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DCDADA;
}

.circle-button-modal ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 500;
}
.circle-button-modal ul li a {
    text-decoration: none;
    color: black;
}

.circle-button-modal ul li:hover {
    background: #D1CFCF;
}

.circle-button-modal ul li i {
    margin-left: 100px;
}

#reset{
    color: #666565;
    cursor: pointer;
}

#save{
    background: #A4000B;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

#reset:disabled{
    cursor: not-allowed;
    display: inline-block;
    color: #868383;
}

#save:disabled {
    cursor: not-allowed;
    display: inline-block;
    background: #DBD9D9;
    color: #666565;
}

.circle-button-modal ul #last-item i {
    margin-left: 178px;
}

.circle-button {
    float: right;
    border: none;
    border-radius: 50%;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: -55px;
    background: white;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.69);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.69);
}

.circle-button:hover {
    background: #DBD9D9;
}

.messages {
    width: 30%;
}

.messages .success,
.messages .error {
    margin-left: -35px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 10px;
}

.messages .success {
    background: #0B5F22;
    border: 1px solid #0B7026;
}

.messages .error {
    background: #A4000B;
    border: 1px solid #6E040B;
}

