<article class="article" id="adults_content">
  <h5 class="page-subtitle">Матеріали для дорослих</h5>
    <p class="page-body">
        Pinterest — не місце для матеріалів для дорослих, зокрема порнографії
        та зображень оголеного тіла. Ми видаляємо матеріали для дорослих і контент
        сексуального характеру або обмежуємо їх поширення, зокрема:
    </p>
    <ul class="page-body-ul">
        <li>
            Оголене тіло
        </li>
        <li>
            сексуалізований вміст, навіть якщо люди повністю або частково одягнені;
        </li>
        <li>
            описи або зображення сексуальних дій;
        </li>
        <li>
            зображення фетишу;
        </li>
    </ul>
    <p class="page-body">
        У деяких контекстах ми дозволяємо публікувати зображення оголеного тіла, хоча можемо обмежити їх
        поширення. Наприклад, зображення оголеного тіла в живописі й скульптурі, а також у науковому й
        історичному контекстах є прийнятними. Також дозволені матеріали про грудне вигодовування та мастектомію. Ці
        правила стосуються тексту, а також зображень і відео як із реального життя, так і цифрових та анімованих.
    </p>
</article>