<article class="article" id="brutal_actions">
  <h3 class="page-subtitle">Зображення або опис жорстоких дій</h3>
  <p class="page-body">
    Pinterest — не місце для насильницьких матеріалів, а також груп або осіб, які пропагують насилля.
    Ми обмежуємо видимість або видаляємо контент й облікові записи, які заохочують, прославляють,
    пропагують небезпечних діячів або групи та їх діяльність або допомагають їм.
    До таких осіб і груп відносяться:
  </p>
  <ul class="page-body-ul">
    <li>
      екстремісти;
    </li>
    <li>
      терористичні організації;
    </li>
    <li>
      банди та інші кримінальні організації.
    </li>
  </ul>
  <p class="page-body">
    З метою їх виявлення Pinterest співпрацює з представниками профільних і урядових служб,
    а також з експертами з безпеки.
  </p>
</article>