<article class="article" id="children_safety">
    <h5 class="page-subtitle">
        Безпека дітей
    </h5>
    <p class="page-body">
        Pinterest забороняє матеріали, пов’язані з будь-якими формами
        сексуальної експлуатації дітей. Ми дотримуємося суворої політики
        нульової толерантності до будь-яких матеріалів, зокрема зображень,
        відео або текстів, а також облікових записів, що мають ознаки
        експлуатації неповнолітніх або несуть загрозу для них. Pinterest
        забороняє не лише незаконні матеріали, що містять сексуальне насильство
        над дітьми (CSAM), але й будь-який контент, що сприяє сексуалізації
        неповнолітніх, зокрема зображення та тексти. Ми також тісно
        співпрацюємо з Національним центром у справах зниклих і
        експлуатованих дітей (NCMEC) для боротьби з такою діяльністю і
        повідомляємо про порушення правил щодо контенту згідно
        із законом. Нижче наведено типи контенту, який ми видаляємо.
    </p>
    <ul class="page-body-ul">
        <li>
            Незаконні матеріали, пов’язані із сексуальним насильством над дітьми.
        </li>
        <li>
            Сексуалізація або сексуальна експлуатація неповнолітніх,
            як-от зваблювання, висловлювання сексуального характеру або відверті
            зображення, зокрема в мультфільмах або аніме.
        </li>
        <li>
            Зображення оголеного тіла або зображення сексуального
            характеру за участю неповнолітніх.
        </li>
        <li>
            Контент, який сприяє встановленню небажаних контактів із неповнолітніми,
            наприклад адреси електронної пошти, номери телефонів і фізичні адреси.
            Він видаляється, щоб запобігти встановленню контактів із метою
            започаткування експлуататорських зв’язків.
        </li>
        <li>
            Коментарі до зображень неповнолітніх, які є
            відвертими або мають сексуальний характер.
        </li>
        <li>
            Навмисне неправомірне використання контенту з неповнолітніми,
            що в інших випадках не становить порушення. Наприклад, ми
            деактивуємо користувачів, які зберігають контент, що в інших
            випадках не становить порушення, у колекції, або використовують
            його в інших контекстах, які свідчать про намір сексуалізації
            неповнолітніх.
        </li>
    </ul>
</article>