<article class="article" id="climate_lying">
    <h5 class="page-subtitle">Дезінформація щодо клімату</h5>
    <ul class="page-body-ul">
        <li>
            Контент, який заперечує існування або наслідки зміни клімату, людський вплив
            на зміну клімату або твердження, що зміна клімату підтримується науковим консенсусом.
        </li>
        <li>
            Неправдивий або оманливий контент про рішення, що суперечать загальноприйнятому науковому консенсусу.
        </li>
        <li>
            Контент, який спотворює наукові дані, зокрема шляхом вилучення або вибіркового підбору,
            з метою підірвати довіру до кліматичної науки й експертів.
        </li>
        <li>
            Шкідливий, неправдивий контент або контент, який вводить в оману, а також матеріали про надзвичайні
            ситуації у сфері громадської безпеки, включно зі стихійними лихами й екстремальними
            погодними подіями.
        </li>
    </ul>
</article>