<article class="article" id="content_safety">
    <h3 class="page-title">
        Безпека контенту
    </h3>
    <p class="page-body">
        Pinterest — не місце для відвертого, хибного чи оманливого,
        шкідливого, ворожого чи агресивного контенту або діяльності. Ми можемо видаляти,
        обмежувати в поширенні або блокувати відповідний контент, а також блокувати облікові записи,
        осіб, групи й домени, що його створюють або поширюють, залежно від того, якої шкоди він завдає.
        Ви можете прочитати більше про порядок застосування наших Правил спільноти на сторінці
        «Контроль за дотриманням правил і політик» <a href="#">тут</a> .
    </p>
    <p class="page-body">
        Ми прагнемо надати вам чіткі та прозорі правила, які легко зрозуміти та яких легко дотримуватися.
        Якщо у вас є запитання або ви зіткнулися з проблемами на Pinterest, будь ласка,
        <a href="#">зв’яжіться з нами</a> .
    </p>
</article>