<article class="article" id="copyright">
    <h3 class="page-title">Інтелектуальна власність та інші права</h3>
    <p class="page-body">
        Поважайте права інших користувачів Pinterest і людей за межами сайту.
    </p>
    <ul class="page-body-ul">
        <li>
            Не порушуйте права інтелектуальної власності, недоторканості приватного життя та інші законні права.
        </li>
        <li>
            Не здійснюйте жодних протизаконних дій. Не розміщуйте незаконну інформацію.
        </li>
        <li>
            Не використовуйте назву, логотип або торгову марку Pinterest,
            вводячи користувачів в оману (більше інформації є в <a href="#">правилах використання бренда</a>).
        </li>
    </ul>
</article>