<article class="article" id="criticism">
    <h5 class="page-subtitle">Переслідування та критика</h5>
    <p class="page-body">
        У Pinterest забороняється ображати окремих осіб або групи людей, шкодити їм або
        закликати до проявів ворожнечі на їх адресу. Є найрізноманітніші причини для висловлення критики,
        але ми можемо видалити образливий контент або обмежити його розповсюдження,
        щоб Pinterest залишався позитивним місцем для пошуку натхнення. До такого контенту відноситься:
    </p>
    <ul class="page-body-ul">
        <li>
            змінені зображення, спрямовані на декласування або приниження осіб;
        </li>
        <li>
            приниження людей через їх зовнішній вигляд або ймовірну історію сексуальних
            або романтичних відносин;
        </li>
        <li>
            зауваження сексуального характеру на адресу фізичного вигляду людини й настирливі
            прохання або пропозиції сексуального характеру;
        </li>
        <li>
            критика, яка містить образи, ненормативну лексику та інші висловлювання
            або зображення образливого характеру;
        </li>
        <li>
            знущання над людьми, які переживають смуток, горе, втрату чи обурення
        </li>
    </ul>
    <p class="page-body">
        Крім того, ми зібрали <a href="#">деякі ресурси</a>, щоб ви могли захистити себе.
    </p>
</article>