<article class="article" id="dangerous_behaviour">
    <h3 class="page-subtitle">
        Нанесення шкоди своєму організму й небезпечна поведінка
    </h3>
    <p class="page-body bold">
        Якщо ви або хтось із ваших знайомих бореться із суїцидальними думками
        або може заподіяти собі шкоди, у нашому Довідковому центрі є <a href="#">ресурси</a>,
        завдяки яким ви негайно можете отримати безкоштовну та конфіденційну допомогу.
    </p>
    <p class="page-body">
        Pinterest — не місця для контенту, який демонструє, обґрунтовує або заохочує
        самогубство, нанесення собі тілесних ушкоджень, розлади харчової
        поведінки або зловживання психоактивними речовинами. Ми о
        бмежуємо видимість або видаляємо такий контент, у тому числі таке:
    </p>
    <ul class="page-body-ul">
        <li>
            інструкції щодо нанесення шкоди своєму організму;
        </li>
        <li>
            суїцидальні висловлювання й цитати;
        </li>
        <li>
            зображення, які викликають негативні емоції графічним або іншим чином,
            або описи нанесення шкоди своєму організму;
        </li>
        <li>
            пропаганду нанесення шкоди своєму організму;
        </li>
        <li>
            знущання над людьми, які наносять шкоду своєму організму,
            вдавалися до спроб чи померли в результаті самогубства;
        </li>
        <li>
            зображення аксесуарів, які використовуються для заподіяння шкоди своєму організму;
        </li>
        <li>
            негативні внутрішні діалоги та нетактичний гумор про нанесення шкоди своєму організму.
        </li>
        <li>
            матеріали, пов'язані з масовим самогубством або невдалими спробами суїциду.
        </li>
    </ul>
</article>