<article class="article" id="dangerous_goods">
  <h5 class="page-subtitle">Небезпечні товари та діяльність</h5>
  <p class="page-body">
    У Pinterest забороняється демонстрація та пропаганда небезпечної діяльності, покупка або
    приватними особами деяких регульованих товарів, як-от товарів або речовин, які можуть
    завдати шкоди в разі використання, змінення або безвідповідального виготовлення.
    Ми обмежуємо видимість або видаляємо такий контент і облікові записи, у тому числі таке:
  </p>
  <ul class="page-body-ul">
    <li>
      оголошення від приватних осіб або неліцензованих продавців, які продають,
      купують або пропонують обмінятись алкогольними напоями, тютюновими виробами,
      наркотиками та зброєю, у тому числі вогнепальною зброєю та приладдям до неї,
      комплектувальними до вогнепальної зброї чи боєприпасами;
    </li>
    <li>
      контент, який надходить від або стосується неперевірених, нелегальних або сумнівних інтернет-аптек;
    </li>
    <li>
      пропозиції, спроби чи інструкції щодо того, як обійти закони та правила про купівлю та продаж товарів;
    </li>
    <li>
      інструкції зі створення летальних або токсичних речовин;
    </li>
    <li>
      інструкції зі створення летальної зброї, як-от бомб або гранат,
      у тому числі зброї, виготовленої на 3D-принтерах.
    </li>
    <li>
      комерційний продаж марихуани, продуктів і речей, що містять марихуану;
    </li>
    <li>
      комерційний продаж певної зброї та комплектувальних;
    </li>
    <li>
      небезпечні розіграші або випробування, які можуть заподіяти фізичну шкоду або викликати
      сильний стрес, особливо якщо в них присутні неповнолітні або їхня участь заохочується.
    </li>
  </ul>
  <h3 class="page-subtitle">
    Небезпечні або оманливі товари й практики
  </h3>
  <p class="page-body">
    Pinterest — не місце для шкідливих або сумнівних товарів і рекомендацій.
    Ми обмежуємо видимість таких матеріалів і облікових записів або видаляємо
    подібний контент, зокрема (але не тільки):
  </p>
  <ul class="page-body-ul">
    <li>
      інструкції та товари для зламу або порушення заходів безпеки
    </li>
    <li>
      азартні ігри та лотереї в Інтернеті;
    </li>
    <li>
      підроблені документи;
    </li>
    <li>
      товари чи послуги, що порушують конфіденційність;
    </li>
    <li>
      фінансові рекомендації з метою експлуатації
    </li>
  </ul>
  <h3 class="page-subtitle">Видавання себе за когось іншого</h3>
  <p class="page-body">
    Забороняються облікові записи, користувачі яких видають себе за когось іншого чи дають
    неправдиву інформацію про свій зв’язок із юридичною чи фізичною особою. Якщо ви маєте
    обліковий запис фаната, публічної особи або бренда, дайте чітко зрозуміти в імені
    користувача або профілі Pinterest, що ви не пов’язані з ними.
  </p>
  <h3 class="page-subtitle">Коментарі</h3>
  <p class="page-body">
    На коментарі до пінів поширюються всі наші Правила спільноти. Крім того,
    коментарі мають бути актуальними. Ми можемо видалити коментарі, які
    порушують наші правила, зокрема ті, що містять:
  </p>
  <ul class="page-body-ul">
    <li>
      Невідповідний або беззмістовний матеріал
    </li>
    <li>
      Спам
    </li>
    <li>
      Матеріали сексуального характеру
    </li>
    <li>
      Інструкції щодо нанесення шкоди своєму організму
    </li>
    <li>
      Введення в оману
    </li>
    <li>
      Ворожі дії
    </li>
    <li>
      Переслідування чи порушення конфіденційності
    </li>
    <li>
      Порушення авторського права або торгової марки
    </li>
  </ul>
  <h3 class="page-subtitle">
    Повідомлення
  </h3>
  <p class="page-body">
    Усі наші <a href="#">Правила спільноти</a> застосовуються до повідомлень, якими обмінюються пінери.
    Повідомлення повинні мати значення й бути потрібними. На додаток до можливості
    <a href="#">блокувати надсилання додаткових</a> небажаних повідомлень від певного користувача ми
    можемо попереджати або призупиняти облікові записи, які порушують наші правила,
    зокрема надсилаючи повідомлення, які містять:
  </p>
  <ul class="page-body-ul">
    <li>Спам</li>
    <li>
      Розповсюдження або вимагання контенту сексуального характеру
    </li>
    <li>
      Контент, що описує нанесення шкоди собі або самогубство
    </li>
    <li>
      Введення в оману
    </li>
    <li>
      Ненависть, як-от расові образи
    </li>
    <li>
      Образливий контент або поведінкy
    </li>
    <li>
      Використання приватної інформації
    </li>
  </ul>
</article>