<article class="article" id="desinformation">
  <h5 class="page-subtitle">Дезінформація про громадянську участь</h5>
  <ul class="page-body-ul">
    <li>
      Хибна інформація, яка ставить під сумнів чесність виборів або перешкоджає громадянській участі
      в них осіб або груп, зокрема реєстрації для голосування, самому голосуванню та внесенню в реєстр.
    </li>
    <li>
      Хибна інформація про дати, час, місця проведення та порядок участі в голосуванні чи реєстрі.
    </li>
    <li>
      Контент, який вводить виборців в оману щодо правильності заповнення та подання бланків реєстру чи
      бюлетенів, включаючи надсилання їх поштою
    </li>
    <li>
      Хибна інформація про те, хто допускається до голосування чи участі в реєстрі,
      і відомості, які надаються для участі.
    </li>
    <li>
      Хибні твердження про те, хто збирає інформацію та/або як вона використовуватиметься.
    </li>
    <li>
      Хибна інформація про безпеку спільноти, яка має на меті завадити реалізації права голосу
      громадян або їхнього права на участь у реєстрі.
    </li>
    <li>
      Контент, який пропагує незаконну участь виборців і учасників чи видавання себе за іншу особу,
      або містить вказівки з реалізації цих дій.
    </li>
    <li>
      Контент, спрямований на делегітимізацію результатів виборів на основі хибних тверджень.
    </li>
    <li>
      Погрози, спрямовані на місця голосування, залучений до реєстру чи голосування персонал,
      виборців або учасників реєстру, включаючи залякування вразливих або
      захищених державою груп виборців або учасників.
    </li>
  </ul>
</article>