<article class="action" id="enemy_actions">
    <h3 class="page-title">
        Ворожі дії
    </h3>
    <p class="page-body">
        Pinterest — не місце для ворожого контенту або окремих осіб чи груп людей, які пропагують ворожі дії.
        Ми обмежуємо видимість або видаляємо такий контент і облікові записи, у тому числі таке:
    </p>
    <ul class="page-body-ul">
        <li>
            образливі висловлювання або негативні стереотипи, карикатури та узагальнення;
        </li>
        <li>
            підтримку груп, які пропагують расову ненависть, і осіб, які пропагують ворожі дії,
            упереджені думки та конспірологічні теорії;
        </li>
        <li>
            приниження або тривіалізацію насильства через приналежність жертви до
            соціально вразливої чи захищеної групи;
        </li>
        <li>
            підтримку верховенства білої раси, обмеження прав жінок та інших дискримінаційних ідей;
        </li>
        <li>
            конспірологічні теорії та дезінформацію на основі ворожості, як-от заперечення Голокосту;
        </li>
        <li>
            заперечення гендерної ідентичності або сексуальної орієнтації особи та підтримку
            конверсійної терапії та пов’язаних із нею заходів;
        </li>
        <li>
            напади на людей, у тому числі громадських діячів на основі їх приналежності до
            соціально вразливої або захищеної групи;
        </li>
        <li>
            знущання або напади на переконання, священні символи, рухи чи установи захищених
            чи соціально вразливих груп, визначених нижче.
        </li>
    </ul>
    <p class="page-body">
        До захищених і соціально вразливих груп населення відносяться люди, згруповані за
        їхньою фактичною або ймовірною расою, кольором шкіри, привілейованим статусом,
        етнічним походженням, міграційним статусом, національністю, релігійними поглядами або
        віруваннями, статтю або гендерною ідентичністю, обмеженою дієздатністю або станом здоров’я.
        Сюди також входять люди, які згруповані на основі нижчого соціально-економічного статусу, віку,
        ваги чи розміру, вагітності або військового становища.
    </p>
</article>