<article class="article" id="expluatation">
    <h3 class="page-title">Експлуатація</h3>
    <p class="page-body">
        Pinterest — не місце для експлуатації людей і тварин. Ми вилучимо або обмежимо розповсюдження контенту
        та облікових записів, пов’язаних із діяльністю, яка загрожує шкодою людям або тваринам,
        у тому числі сексуальною, фізичною або фінансовою експлуатацією. Серед такого контенту:
    </p>
    <ul class="page-body-ul">
        <li>
            Неузгоджені зображення, тобто зображення особистого або сексуального характеру, отримані або
            опубліковані без згоди. Сюди відноситься публікація порнографічних матеріалів із
            метою помсти та зображення, зроблені нібито з-під спідниці.
        </li>
        <li>
            Послуги сексуального характеру для дорослих, які можуть включати сексуальну або фізичну експлуатацію
            або торгівлю людьми, як-от еротика або порнографія на веб-камеру та послуги ескорту.
        </li>
        <li>
            Торгівля людьми, рабство, рабство та примусова чи обов’язкова праця.
        </li>
        <li>
            Інша незаконна комерційна експлуатація, наприклад торгівля органами або продуктами,
            виготовленими з людських решток або частин тіла.
        </li>
        <li>
            Продаж диких тварин, захищеної чи зникаючої дикої природи. Повний перелік заборонених товарів,
            виготовлених із диких тварин, ви можете переглянути на сайті нашого партнера,
            <a href="https://www.endwildlifetraffickingonline.org/coalition-prohibited-wildlife-policy">
                Всесвітнього фонду дикої природи
            </a>
        </li>
        <li>
            Трупи, частини тварин або продукти, отримані з частин котів чи собак або захищеної та
            зникаючої дикої природи, у тому числі слонову кістку.
        </li>
        <li>
            Безвідповідальний і шкідливий туризм відносно до тварин або інший спосіб експлуатації,
            як-от організовані бої тварин.
        </li>
    </ul>
</article>