<article class="action" id="lying">
    <h5 class="page-subtitle">
        Введення в оману
    </h5>
    <p class="page-body">
        Pinterest — не місце для матеріалів, які вводять в оману, або дезінформації,
        а також груп і осіб, які їх створюють чи поширюють. Ми
        обмежуємо або блокуємо розповсюдження неправдивого або оманливого контенту,
        який може нашкодити добробуту, безпеці або довірі користувачів і спільноти,
        зокрема зазначене нижче.
    </p>
    <ul class="page-body-ul">
        <li>
            Не підтверджені медично заяви щодо здоров’я, які загрожують здоров’ю та безпеці
            спільноти, у тому числі пропаганда фальшивих ліків, поради про відмову
            від вакцинації або надання неправдивої інформації про здоров’я спільноти
            або екстрені заходи безпеки.
        </li>
        <li>
            Неправдивий або оманливий контент стосовно окремих осіб або захищених груп людей,
            що призводить до появи страху, ненависті або упереджених думок.
        </li>
        <li>
            Неправдивий або оманливий контент, який заохочує перетворювати людей, групи людей,
            місця чи організації на цілі переслідувань або фізичного насильства.
        </li>
        <li>
            Теорії змови, зокрема про зміну клімату або громадянську участь.
        </li>
        <li>
            Контент, що походить від дезінформаційних кампаній, зокрема про зміну клімату чи
            громадянську участь.
        </li>
        <li>
            Фактична інформація, яка навмисно публікується або змінюється, щоб зруйнувати довіру
            або заподіяти шкоду, як-от зміна або упущення контексту, дати чи часу.
        </li>
        <li>
            Сфабрикований або навмисно змінений візуальний або аудіоконтент,
            який руйнує довіру або заподіює шкоду.
        </li>
    </ul>
</article>