<article class="action" id="lying">
    <h3 class="page-title">
        Введення в оману
    </h3>
    <p class="page-body">
        Pinterest — не місце для матеріалів, які вводять в оману, або дезінформації,
        а також груп і осіб, які їх створюють чи поширюють. Ми
        обмежуємо або блокуємо розповсюдження неправдивого або оманливого контенту,
        який може нашкодити добробуту, безпеці або довірі користувачів і спільноти,
        зокрема зазначене нижче.
    </p>
    <ul class="page-body-ul">
        <li>
            Не підтверджені медично заяви щодо здоров’я, які загрожують здоров’ю та безпеці
            спільноти, у тому числі пропаганда фальшивих ліків, поради про відмову
            від вакцинації або надання неправдивої інформації про здоров’я спільноти
            або екстрені заходи безпеки.
        </li>
        <li>
            Неправдивий або оманливий контент стосовно окремих осіб або захищених груп людей,
            що призводить до появи страху, ненависті або упереджених думок.
        </li>
    </ul>
</article>