<article class="article" id="partners_law">
  <h3 class="page-title">Правила для партнерів</h3>
    <p class="page-body">
        Партнерські посилання дають змогу авторам оцінювати свій внесок й отримувати плату за
        створення контенту, який надихає користувачів. Однак партнерські програми можуть стати
        об’єктом для спамерів, які намагаються незаконно скористатися програмою та маніпулювати
        платформою Pinterest для отримання доходу.
    </p>
    <p class="page-body">
        Ось наші правила для партнерів:
    </p>
    <ul class="page-body-ul">
        <li>
            Завжди дотримуйтеся <a href="#">Правил платного партнерства</a>.
        </li>
        <li>
            Кожен партнер повинен використовувати тільки один справжній обліковий запис Pinterest.
        </li>
        <li>
            Партнери повинні пропонувати оригінальний контент, який має унікальну цінність для аудиторії.
        </li>
        <li>
            Будьте чесними щодо комерційного характеру вашого контенту, розміщуваних посилань
            і ресурсів, на які вони вказують. Наразі деякі служби скорочення посилань
            не підтримуються на Pinterest. Якщо посилання вашого піна заблоковано,
            ви можете <a href="#">його відредагувати</a> .
        </li>
        <li>
            Забороняється штучно маніпулювати алгоритмами Pinterest або трафіком користувачів, наприклад:
        </li>
        <ul class="page-body-ul inner">
            <li>
                використовувати фальшиві облікові записи для створення або збереження партнерських посилань;
            </li>
            <li>
                просити користувачів зберегти партнерські піни в обмін на послугу;
            </li>
            <li>
                просити користувачів створювати піни з посиланнями, що містять ідентифікатор партнера;
            </li>
            <li>
                створювати повторювані партнерські піни або створювати піни масово: продавці повинні
                дотримуватися нашої <a href="#">політики щодо спаму</a> та помірно використовувати
                партнерські посилання.
            </li>
        </ul>
    </ul>
    <p class="page-body">
        Ми можемо видалити облікові записи або контент, що порушують наші
        Правила для партнерів, обмежити чи заблокувати розповсюдження останнього.
        Якщо у вас є запитання або ви зіткнулися з проблемами на Pinterest, <a href="#">зв’яжіться з нами</a> .
    </p>
</article>