<article class="article" id="pay_partner">
  <h3 class="page-title">Правила платного партнерства</h3>
  <h5 class="page-subtitle">Що таке платне партнерство?</h5>
  <p class="page-body">
    Ми визначаємо платне партнерство як будь-які спонсорські або брендовані матеріали Pinterest,
    які представляють бізнес-партнера або на які впливає бізнес-партнер заради взаємної вигоди.
    Наприклад, якщо бізнес-партнер заплатив користувачу або в інший спосіб заохотив його зберегти матеріали.
  </p>
  <h5 class="page-subtitle">Правила платного партнерства</h5>
  <p class="page-body">
    Усі платні партнерства повинні повідомляти про те, що публікують контент для комерційного використання.
    Окрім дотримання Правил спільноти, користувачі, які беруть участь у платному партнерстві, повинні:
  </p>
  <ul class="page-body-ul">
    <li>
      дотримуватись усіх чинних законів і нормативних актів щодо реклами;
    </li>
    <li>
      додати чіткі відомості із зазначенням комерційного характеру контенту (наприклад,
      відповідний тег, який указуватиме, що контент було опубліковано в рамках платного
      партнерства, або додати мітку за допомогою
      <a href="#">інструменту платного партнерства Pinterest</a>);
    </li>
    <li>
      дотримуватися наших <a href="#">Правил розміщення реклами</a>, зокрема правил щодо забороненого контенту.
    </li>
  </ul>
  <p class="page-body">
    Ось як можна запобігти поширенню оманливого контенту й шкідливій поведінці:
  </p>
  <ul class="page-body-ul">
    <li>
      переконайтеся, що публікуєте контент на відповідних дошках;
    </li>
    <li>
      підтримуйте високу якість публікацій і уникайте спаму;
    </li>
    <li>
      підтримуйте високу якість публікацій і уникайте спаму;
    </li>
    <li>
      зберігайте матеріали, які насправді вас цікавлять.
    </li>
  </ul>
  <p class="page-body">
    Забороняється заохочувати користувачів або платити їм за поширення спаму,
    великої кількості матеріалів або за збереження пінів.
  </p>
  <ul class="page-body-ul">
    <li>
      Наприклад, організаціям заборонено платити користувачам за кожну дошку,
      на яку вони підписалися, або за кожний збережений пін. Організація
      може заплатити спеціально запрошеному блогеру за опікування дошкою
      бренда або використовувати модель плати за клік (pay-per-click),
      як-от партнерські посилання. Однак організаціям забороняється платити
      великим групам користувачів, щоб вони зберігали певні піни й штучно
      збільшували популярність матеріалів.
    </li>
  </ul>
  <p class="page-body">
    Ми можемо обмежувати поширення неприйнятних матеріалів і видаляти або блокувати контент
    і облікові записи, які порушують наші правила платного партнерства. Якщо у вас виникли
    запитання або проблеми з Pinterest, <a href="#">зв’яжіться з нами</a> .
  </p>
</article>