<article class="article" id="personal_info">
    <h5 class="page-subtitle">
        особисту інформацію;
    </h5>
    <p class="page-body">
        Ми забороняємо поширювати персональну чи конфіденційну інформацію. Ми видаляємо:
    </p>
    <ul class="page-body-ul">
        <li>
            паспортні дані та інформацію з документів, які підтверджують особу;
        </li>
        <li>
            особисту контактну інформацію та адреси;
        </li>
        <li>
            особисту інформацію для входу на сайти (імена користувачів і паролі);
        </li>
        <li>
            фотографії людей, які не хочуть, щоб ці фотографії розміщували в Інтернеті;
        </li>
        <li>
            особисту фінансову інформацію та історії хвороб.
        </li>
    </ul>
    <p class="page-body">
        Якщо ви побачили небажані фотографії або відомості про вас, <a href="#">повідомте нас про це.</a>
        Неповнолітні або їхні вповноважені представники також можуть повідомити про
        небажані фотографії або відомості, надіславши листа на електронну адресу
        <a href="mailto:privacy-support@gmail.com">privacy-support@gmail.com.</a>
    </p>
</article>