<article class="article" id="rules">
    <h3 class="page-title">Правила конкурсу</h3>
    <ul class="page-body-ul">
        <li>
            Не змушуйте учасників зберігати конкретні зображення. Дайте змогу користувачам
            власноруч обирати піни за смаками та вподобаннями, навіть якщо ви обмежуєте вибір
            певними пінами або матеріалами певного сайту.
        </li>
        <li>
            Не дозволяйте розміщувати кожному учаснику більше однієї публікації.
        </li>
        <li>
            Не натякайте на те, що Pinterest рекомендує брати участь у вашій акції або спонсорує її.
        </li>
        <li>
            У <a href="#">правилах використання бренда</a>
            можна ознайомитись із загальними правилами щодо використання бренда Pinterest.
        </li>
    </ul>
    <p class="page-body">
        Зрештою, дотримуйтеся чинних законів і правил.
    </p>
</article>