<article class="article" id="safety">
    <h3 class="page-title">Безпека й доступ</h3>
    <p class="page-body">
        З метою захисту платформи Pinterest ми просимо вас:
    </p>
    <ul class="page-body-ul">
        <li>
            Не намагайтесь отримати доступ до систем Pinterest, а
            також систем наших технічних постачальників. Не використовуйте ці системи та не втручайтеся в них.
        </li>
        <li>
            Не обходьте наші системи безпеки й не створюйте перешкод їх роботі,
            а також не шукайте вразливі місця наших систем або мереж, окрім випадків
            санкціонованої <a href="#">програми винагородження користувачів, які знайшли
            помилки в Pinterest</a> .
        </li>
        <li>
            Не використовуйте недокументовані або непідтримувані способи доступу,
            пошуку, очищення, завантаження чи зміни будь-яких елементів Pinterest.
        </li>
        <li>
            Не намагайтеся декомпілювати наше програмне забезпечення.
        </li>
        <li>
            Не надсилайте віруси й спам, не спричиняйте перевантаження та не виконуйте бомбардування
            електронною поштою з метою нашкодити користувачам чи порушити роботу серверів
            або мереж Pinterest.
        </li>
        <li>
            Не збирайте та не зберігайте персональну інформацію користувачів Pinterest без їхнього дозволу.
        </li>
        <li>
            Не розголошуйте свій пароль, не надавайте доступ до свого облікового запису,
            а також не робіть нічого іншого, що ставить під загрозу ваш обліковий запис.
        </li>
        <li>
            Забороняється купувати та продавати свій обліковий запис, дошки або ім’я користувача,
            а також передавати їх за винагороду.
        </li>
    </ul>
    <p class="page-body">
        Ви не можете користуватися Pinterest, якщо <a href="https://ofac.treasury.gov/">санкції США</a>
        забороняють це у вашому регіоні. Особисті та корпоративні облікові записи зараз
        недоступні в Північній Кореї. Корпоративні облікові записи зараз недоступні на Кубі, у Криму,
        Донецькій Народній Республіці, Луганській Народній Республіці, Ірані, Північній Кореї чи Сирії.
    </p>
</article>