<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <ul class="nav-list">
                <li><a href="#our-aim">Наша мета</a></li>
                <li><a href="#content_safety">Безпека контенту</a></li>
                <li><a href="#copyright">Інтелектуальна власність та інші права</a></li>
                <li><a href="#safety">Безпека й доступ</a></li>
                <li><a href="#spam">Спам</a></li>
                <li>
                    <a href="#pay_partner">
                        Правила платного партнерства
                    </a>
                </li>
                <li><a href="#partners_law">Правила для партнерів</a></li>
                <li><a href="#rules">Правила конкурсу</a></li>
            </ul>
        </nav>
    </div>
</div>