<article class="article" id="spam">
  <h3 class="page-title">Спам</h3>
  <p class="page-body">
    Ми прагнемо, щоб у Pinterest пропонувався тільки якісний контент, тому видаляємо будь-який спам.
    Просимо вас із повагою ставитися до інших користувачів Pinterest і
    не вчиняти жодних дій, спрямованих на поширення спаму.
  </p>
  <p class="page-body">
    Наші правила щодо спаму:
  </p>
  <ul class="page-body-ul">
    <li>
      Забороняється використовувати засоби автоматизації, які не було явно схвалено Pinterest.
      Сюди відносяться несанкціоновані служби, які автоматично діють від вашого імені.
      Відомості про затверджені партнерські інструменти можна знайти тут .
    </li>
    <li>
      Забороняється створювати або використовувати фальшиві облікові записи,
      створювати облікові записи масово або з метою порушення цих правил.
    </li>
    <li>
      Забороняється створювати або зберігати повторюваний, оманливий або
      недоречний контент із метою отримання доходу. Наші рекомендації зі
      створення чудових пінів можна знайти <a href="#">тут</a> .
    </li>
    <li>
      Забороняється отримувати дохід за рахунок користувачів або їхнього веб-трафіку,
      використовуючи способи, які вводять користувачів в оману, заважають
      користуватися платформою або не мають для них жодної цінності.
    </li>
    <li>
      Забороняється розміщувати посилання на сумнівні, обманні, ненадійні або
      фальшиві сайти, а також сайти, які сприяють поширенню спаму. Сайти мають
      містити оригінальний контент, який має унікальну цінність для аудиторії.
    </li>
    <li>
      Не надсилайте повторювані й спамерські оголошення, особливо якщо
      вони носять оманливий або комерційний характер.
    </li>
    <li>
      Не залишайте повторювані або недоречні коментарі. Коментарі повинні бути автентичними та
      оригінальними. Ми також закликаємо вас ставитися до інших із повагою й
      залишати ввічливі та конструктивні коментарі.
    </li>
    <li>
      Не використовуйте кілька облікових записів та не узгоджуйте дії з іншими
      користувачами, щоб маніпулювати платформою Pinterest.
    </li>
    <li>
      Забороняється використовувати будь-які інші недобросовісні тактики, щоб неналежним
      чином впливати на поширення, кліки чи інші показники, у тому числі:
      купувати чи продавати взаємодію, додавати нерелевантні ключові слова,
      створювати несправжній трафік чи перенаправляти наявні піни в нові місця.
    </li>
    <li>
      Забороняється ухилятися від наших систем захисту від спаму. Наприклад,
      не використовуйте сервіси переадресації для створення посилання на сайт,
      заборонений на Pinterest.
    </li>
    <ul class="page-body-ul inner">
      <li>
        Використовуючи переадресацію, дотримуйтеся принципу прозорості — користувачі Pinterest
        повинні мати чітке уявлення про те, куди вони перейдуть за посиланням. Посилання з
        надмірними або оманливими переспрямуваннями, а також служби скорочення посилань,
        що неправомірно використовуються для спаму, можуть бути заблоковані.
      </li>
    </ul>
  </ul>
</article>