<article class="article" id="violence_and_threats">
    <h3 class="page-subtitle">
        Сцени насильства та погрози
    </h3>
    <p class="page-body">
        Pinterest — не місце для зображення насильства або погроз.
        Ми обмежуємо видимість або видаляємо такий контент, у тому числі таке:
    </p>
    <ul class="page-body-ul">
        <li>
            контент, який зображує застосування насильства;
        </li>
        <li>
            тривожні сцени до або після насильницьких дій;
        </li>
        <li>
            погрози або висловлювання, які пропагують насильство.
        </li>
    </ul>
    <p class="page-body">
        У деяких випадках ми дозволяємо зберігати зображення тривожного характеру,
        присвячені пам’яті та інформаційно-просвітницькій діяльності, але обмежуємо
        видимість такого контенту у загальнодоступних частинах платформи.
    </p>
</article>