{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'user/css/account_settings_page.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/main_profile_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block js_additional %}
    <script src="{% static 'user/js/main_profile_page.js' %}"></script>
    <script src="{% static 'user/js/account_settings_page.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="main-container">
        {% include '../_includes/login_header.html' %}
        <div class="container">
            {% include '../_includes/sidebar.html' %}
            <div class="main-content" id="main-content">
                <div class="info">
                    <h5>
                        Керування обліковими записами
                    </h5>
                    <p>
                        Ви можете змінити персональні дані
                        або тип облікового запису
                    </p>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <h6>Ваш обліковий запис</h6>
                    <form method="post" class="personal-data-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <label>{{ field.label }}</label>
                            {% if forloop.counter == 5 %}
                                <i class="fa-solid fa-arrow-down" id="first-arrow"></i>
                            {% elif forloop.counter == 6 %}
                                <i class="fa-solid fa-arrow-down" id="second-arrow"></i>
                            {% endif %}
                            {{ field }}
                            {% if forloop.counter == 2 %}
                                <a class="change-password-btn change-btn">Змінити</a>
                                <div class="change-type-account-info">
                                    <h6>
                                        Перетворіть звичайний обліковий запис на
                                        корпоративний
                                    </h6>
                                    <p>
                                        З корпоративним обліковим записом ви
                                        матимете доступ до таких інструментів,
                                        як реклама й аналітика, щоб розвивати
                                        свій бізнес у Pinterest
                                    </p>
                                    <a class="change-account-type-btn change-btn">
                                        Змінити тип
                                    </a>
                                    <h6 id="upper-text">
                                        Персональні дані
                                    </h6>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="account-deactivation">
                            <h5>Деактивація та видалення</h5>
                            <h6>Деактивувати обліковий запис</h6>
                            <p class="description">
                                Тимчасово приховайте свій профіль,піни й дошки
                            </p>
                            <a href="#" class="account-deactive change-btn">
                                Деактивувати обліковий запис
                            </a>
                            <h5>
                                Видалення даних і облікового запису
                            </h5>
                            <p class="description">
                                Остаточно видаліть свої дані й усе, що пов'язано з вашим обліковим
                                записом
                            </p>
                            <a href="#" class="account-delete change-btn">
                                Видалити обліковий запис
                            </a>
                        </div>
                        <div class="row-buttons">
                            <button class="form-button" id="reset" disabled>Скинути</button>
                            <button type="submit" class="form-button" id="save" disabled>Зберегти</button>
                            {% include "../_includes/help_footer.html" %}
                        </div>
                    </form>
                    <button class="circle-button" id="help-button">?</button>
            </div>
        </div>
    </div>
{% endblock %}