{% extends 'main/layout.html' %}


{% load static %}
{% block css_additional %}

    <link rel="stylesheet" href="{% static 'user/css/convert_business.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/main_profile_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block js_additional %}
    <script src="{% static 'user/js/main_profile_page.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="main-container">
        {% include '../_includes/login_header.html' %}
        <div class="container">
            <div class="main-content" id="main-content">
                <div class="info">
                    <h4 class="info-title">
                        Перейдіть на безкоштовний корпоративний обліковий запис
                    </h4>
                    <p class="info-explanation">
                        Розвивайте свій бізнес і бренд, використовуючи такі інструменти, як реклама та аналітика.
                        Це не вплине на вміст, профіль і підписників. Ви можете знову повернутися до особистого
                        облікового запису в розділі «Налаштування».
                    </p>
                </div>
                <div class="main-content">
                    <a href="{% url 'account-settings' %}" class="back-btn">
                        <i class="fa-solid fa-arrow-left fa-xl" style="color: #000000;"></i>
                    </a>
                    {% include '../_includes/business_change.html' %}
                    <div class="buttons-row">
                        <a href="{% url 'account-settings' %}" class="btn cancel-btn">Скасувати</a>
                        <a href="{% url 'hub' %}" class="btn apply-btn">Перейти</a>
                    </div>
                    <div class="page-footer">
                        <small>
                            Перетворюючи особистий обліковий запис на корпоративний,
                            ви приймаєте ці умови Pinterest:
                            <a href="#">
                                Умови надання послуг для організацій
                            </a>
                            та
                            <a href="#">
                                Політика конфіденційності Pinterest.
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}