{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
  <link rel="stylesheet" href="{% static 'user/css/main_profile_page.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block js_additional %}
  <script src="{% static 'user/js/main_profile_page.js' %}"></script>
{% endblock %}

{% block body %}
  {% include '../_includes/login_header.html' %}
  <button class="order-by">
    <i class="fa-solid fa-arrow-down-wide-short"></i>
  </button>
  <section class="main-section">
    <div class="main-profile-info">
      <div class="user-profile-avatar">
        {% if not avatar %}
          <img alt=""
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/512px-Eo_circle_green_letter-d.svg.png?20200417132624"
               decoding="async" width="100" height="100"
               srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/768px-Eo_circle_green_letter-d.svg.png?20200417132624 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/1024px-Eo_circle_green_letter-d.svg.png?20200417132624 2x"
               data-file-width="512"
               data-file-height="512"
               class="user-avatar">
        {% else %}
          <img alt="user avatar"
               src="{{ avatar.url }}"
               width="100"
               height="100"
               class="user-avatar"
          />
        {% endif %}
      </div>
      <h3 class="username">
        {{ full_name }}
      </h3>
      <p class="user-login profile-p">
        @procdima49
      </p>
      {% if personal_site %}
        <p class="user-site profile-p">
          <a href="{{ personal_site }}">{{ personal_site }}</a>
        </p>
      {% endif %}
      <p class="user-bio profile-p">
        {{ bio }}
      </p>
      <p class="profile-p subscribers-count">
        0 підписок
      </p>
      <div class="profile-btns">
        <a href="#" class="popup-btn profile-btn">Поділитись</a>
        <a href="{% url 'settings-profile' %}" class="profile-btn">Редагувати профіль</a>
      </div>
      <div class="filter-pins-btn">
        <a href="#" class="filter-btn">Створені</a>
        <a href="#" class="filter-btn active">Збережені</a>
      </div>
    </div>
    <button class="add-btn">
    <i class="fa-solid fa-plus"></i>
  </button>
  </section>
{% endblock %}