{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
<link rel="stylesheet" href="{% static 'user/css/main_profile_page.css' %}">
<link rel="stylesheet" href="{% static 'user/css/settings_profile.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block js_additional %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'user/js/main_profile_page.js' %}"></script>
<script src="{% static 'user/js/settings_profile.js' %}"></script>
{% endblock %}

{% block body %}
<div class="main-container">
    {% include '../_includes/login_header.html' %}
    <div class="container">
        {% include '../_includes/sidebar.html' %}
        <div class="main-content" id="main-content">
            <div class="info">
                <h5>
                    Редагування профілю
                </h5>
                <p>
                    Подбайте про конфіденційність своїх особистих даних.
                    Інформація, яку ви додаєте сюди, відображається для всіх
                    користувачів, що можуть переглядати ваш профіль
                </p>
            </div>
            <small>Фото</small>
            <div class="user-avatar-section">
                <img alt="The user avatar"
                     src="{% if avatar %}{{ avatar.url }}{% else %}https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/512px-Eo_circle_green_letter-d.svg.png?20200417132624{% endif %}"
                     decoding="async" width="80" height="80"
                     data-file-width="512"
                     data-file-height="512"
                     class="user-avatar" id="default-image"
                     style="border-radius: 50%;"
                />
                <button class="change-avatar" id="showModal">Змінити</button>
            </div>
            {% include '../_includes/upload_avatar_popup.html' %}
            <div class="user-additional-info">
                <form method="post" class="additional-info-form" action="">
                    {% csrf_token %}
                    <input type="hidden" value="second-form" name="hidden-field">
                    <div class="row">
                        {% for field in second_form %}
                            {% if forloop.counter <= 2 %}
                                <div class="column">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% for field in second_form %}
                        {% if forloop.counter > 2 %}
                            <label>{{ field.label }}</label>
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <small>
                        www.pinterest.com/procdima49
                    </small>
                    <div class="row-buttons">
                        <button class="form-button" id="reset">Скинути</button>
                        <button type="submit" class="form-button" id="save">Зберегти</button>
                        <span class="help-container">
                            <span class="circle-button-modal" id="help-popup">
                                <ul>
                                    <li>
                                        <a href="#">
                                        Відвідати довідковий центр
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" id="last-item">
                                            Створити віджет
                                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </a>
                                    </li>
                                </ul>
                                <span class="modal-footer">
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <a href="#">Про нас</a>
                                        </div>
                                        <div class="table-cell">
                                            <a href="#">Новини</a>
                                        </div>
                                        <div class="table-cell">
                                            <a href="#">Для організацій</a>
                                        </div>
                                        <div class="table-cell">
                                            <a href="#">Вакансії</a>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <a href="#">Розробники</a>
                                        </div>
                                        <div class="table-cell" id="copyright-cell">
                                            <a href="#" id="copyright">Авторські права</a>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-ceil">
                                            <a href="#">
                                                Політика конфіденційності
                                            </a>
                                        </div>
                                    </div>
                                     <div class="table-row">
                                        <div class="table-ceil">
                                            <a href="#">
                                                Персоналізовані оголошення
                                            </a>
                                        </div>
                                    </div>
                                     <div class="table-row">
                                        <div class="table-ceil">
                                            <a href="#">
                                                Ваші права на конфіденційність
                                            </a>
                                        </div>
                                         <div class="table-ceil">
                                            <a href="#">
                                                Умови
                                            </a>
                                        </div>
                                    </div>
                                </span>
                            </span>
                        </span>
                    </div>
                </form>
                <button class="circle-button" id="help-button">?</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}