{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
<link rel="stylesheet" href="{% static 'user/css/main_profile_page.css' %}">
<link rel="stylesheet" href="{% static 'user/css/settings_profile.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block js_additional %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static 'user/js/main_profile_page.js' %}"></script>
<script src="{% static 'user/js/settings_profile.js' %}"></script>
{% endblock %}

{% block body %}
<div class="main-container">
    {% include '../_includes/login_header.html' %}
    <div class="container">
        {% include '../_includes/sidebar.html' %}
        <div class="main-content" id="main-content">
            <div class="info">
                <h5>
                    Редагування профілю
                </h5>
                <p>
                    Подбайте про конфіденційність своїх особистих даних.
                    Інформація, яку ви додаєте сюди, відображається для всіх
                    користувачів, що можуть переглядати ваш профіль
                </p>
            </div>
            <small>Фото</small>
            <div class="user-avatar-section">
                <img alt="The user avatar"
                     src="{% if avatar %}{{ avatar.url }}{% else %}https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/512px-Eo_circle_green_letter-d.svg.png?20200417132624{% endif %}"
                     decoding="async" width="80" height="80"
                     data-file-width="512"
                     data-file-height="512"
                     class="user-avatar" id="default-image"
                     style="border-radius: 50%;"
                />
                <button class="change-avatar" id="showModal">Змінити</button>
            </div>
            {% include '../_includes/upload_avatar_popup.html' %}
            <div class="user-additional-info">
                It`ll be additional info about user
            </div>
        </div>
    </div>
</div>

{% endblock %}