<footer class="footer">
    <ul class="menu-choice">
        <li class="menu"><a href="#">Умови надавання послуг</a></li>
        <li class="menu"><a href="#">Політика конфіденційності</a></li>
        <li class="menu"><a href="#">Довідка</a></li>
        <li class="menu"><a href="#">Користувачі</a></li>
        <li class="menu"><a href="#">Колекції</a></li>
        <li class="menu"><a href="#">Покупки</a></li>
        <li class="menu"><a href="#">Сьогодні</a></li>
        <li class="menu"><a href="#">Переглянути </a></li>
    </ul>
</footer>