<section id="shop">
    <div class="main-cnt">
        <div class="image-cnt">
            <img class="background-image-part" src="../static/main/images/fourth_section/main-section-img.jpg">
            <div class="inner-image">
                <img class="pean-img" src="../static/main/images/fourth_section/makeup-story.jpeg"
                 width="200" height="400">
                <p class="profile-description">

                </p>
            </div>
            <img class="circle-avatar" src="../static/main/images/fourth_section/circle-avatar.jpg"
                width="200" height="200">
            <span class="circle-avatar avatar-description"><p class="avatar-title">Scout the City</p>
                <p class="avatar-subs-counter">56,7 тис.підписників</p>
            </span>
        </div>
        <div class="title-cnt">
            <div class="description">
                <h1 class="part-title">
                    Подивіться,
                    зробіть,
                    спробуйте і примірте
                </h1>
                <p class="part-description">
                    У Fineterest ви можете знаходити для себе нові захоплення й ідеї зі всього світу
                </p>
                <a href="#" class="watch-btn">Подивитись</a>
            </div>
        </div>
    </div>
</section>