<header class="main-header">
    <div class="header-content">
        <div class="flex-container">
            <div class="logo-container">
                <h1 class="logo-title">Fineterest</h1>
            </div>
            <div class="li-content">
                <div class="header-options-container">
                    <ul class="header-options">
                        <li class="header-li">Опис</li>
                        <li class="header-li">Бізнес</li>
                        <li class="header-li">Блог</li>
                    </ul>
                </div>
                <div class="login-container">
                    <a href="#" class="login login-button">Увійти</a>
                    <a href="#" class="login register-button">Реєстрація</a>
                </div>
            </div>
        </div>
    </div>
</header>