<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pinterest</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Головна</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link dropdown-btn" href="#">Створити</a>
            <i class="fa-solid fa-caret-down create-arrow"></i>
            <ul class="dropdown-content">
              <li>
                Створити пін-ідею
              </li>
              <li>
                Створити пін
              </li>
            </ul>
          </div>
        </li>
        <form class="search-form">
          <button>
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <input type="text" name="" placeholder="Пошук серед ваших пінів"/>
          <button id="your-pins">
            Ваші піни
            <i class="fa-solid fa-caret-up fa-rotate-180"></i>
          </button>
        </form>
        <li class="nav-item dropdown">
          <div class="tooltip-container">
            <button id="bell-btn" class="tooltip-button">
              <i class="fa-solid fa-bell"></i>
            </button>
            <div class="tooltip">Сповіщення</div>
          </div>
        </li>
        <li class="nav-item">
          <div class="tooltip-container">
            <button id="chat-btn" class="tooltip-button">
              <i class="fa-solid fa-message"></i>
            </button>
            <div class="tooltip">Повідомлення</div>
          </div>
        </li>
        <li class="nav-item">
          <div class="tooltip-container">
            <button id="profile-btn" class="tooltip-button">
              <img alt="File:Eo circle green letter-d.svg"
                   src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/512px-Eo_circle_green_letter-d.svg.png?20200417132624"
                   decoding="async" width="20" height="20"
                   srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/768px-Eo_circle_green_letter-d.svg.png?20200417132624 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/1024px-Eo_circle_green_letter-d.svg.png?20200417132624 2x"
                   data-file-width="512"
                   data-file-height="512">
            </button>
            <div class="tooltip">Профіль</div>
          </div>
        </li>
        <li class="nav-item">
          <div class="tooltip-container">
            <div class="dropdown">
              <button id="detail-btn" class="tooltip-button dropdown-btn">
                <i class="fa-solid fa-caret-down"></i>
              </button>
              <span class="dropdown-content" id="account-settings">
                <small>Зараз:</small>
                <br>
                <span class="user-info">
                  <span class="user-avatar">
                    <img alt="File:Eo circle green letter-d.svg"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/512px-Eo_circle_green_letter-d.svg.png?20200417132624"
                     decoding="async" width="60" height="60"
                     srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/768px-Eo_circle_green_letter-d.svg.png?20200417132624 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Eo_circle_green_letter-d.svg/1024px-Eo_circle_green_letter-d.svg.png?20200417132624 2x"
                     data-file-width="512"
                     data-file-height="512">
                  </span>
                  <div>
                    <div class="user-info-without-avatar">
                      <div class="user-username">
                      <!--<span class="user-username">-->
                        <h6>dima proc</h6>
                      </div>
                     <!-- </span> -->
                      <br>
                      <div class="account-type">
                        <small>Особистий</small>
                      </div>
                      <br>
                      <div class="user-login">
                        <small>@procdima49</small>
                        <br>
                      </div>
                    </div>
                  </div>
                </span>
                <small>Ваші облікові записи</small>
                <ul>
                  <li>
                    Додати обліковий запис
                  </li>
                  <li>
                    Перейти на корпоративний обліковий запис
                  </li>
                </ul>
                <small>Інші параметри</small>
                <ul>
                  <li>
                    Налаштування
                  </li>
                  <li>
                    Налаштувати стрічку
                  </li>
                  <li>
                    Установіть додаток Windows
                  </li>
                  <li>
                    Ваші права на конфіденційність
                  </li>
                  <li>
                    Отримати довідку
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </li>
                  <li>
                    Переглянути умови надання послуг
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </li>
                  <li>
                    Переглянути політику конфіденційності
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </li>
                  <li>
                    Стати бета-тестером
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </li>
                  <li>
                    Вихід
                  </li>
                </ul>
              </span>
            </div>
            <div class="tooltip">Облікові записи й інші параметри</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>