<section id="registration">
    <div class="background-overlay">
        <div class="layout-content left-content">
            <div class="desc-content">
                <h1 class="section-desc">Зареєструйтесь, щоб знаходити більше ідей</h1>
            </div>
        </div>
    </div>
    <div class="layout-content right-content">
        <div class="form-content">
            <div class="first-section-link">
                <a href="#top" class="link-btn">
                    <img src="https://cdn-icons-png.flaticon.com/512/130/130906.png "
                         width="12" height="12" alt="" title="" class="img-small">
                </a>
            </div>
            <form class="signin-form" method="post" id="registration-form">
                <h2 class="form-header">
                    Ласкаво просимо у <br>Pinterest
                </h2>
                <p class="form-description">
                    Знаходьте нові ідеї для <br>натхнення
                </p>
                {% csrf_token %}
                <input type="hidden" value="first-form" id="hidden-field">
                <div id="error-message"></div>
                {% for field in form %}
                    <label>{{ field.label }}</label>
                    {{ field }}
                {% endfor %}
                <button type="submit" class="continue-button">
                    Продовжити
                </button>
                <h6>або</h6>
                <a class="continue-with-btn" id="facebook">
                    Продовжити як Користувач
                </a>
                <div class="space"></div>
                <a class="continue-with-btn" id="google">
                    Продовжити як Користувач
                </a>
                    <p class="usage-terms">
                        Продовжуючи, ви погоджуєтесь із
                        положеннями основних документів Pinterest.
                        Це <strong>
                            <a href="#">Умови надавання послуг</a>
                        </strong>
                        і <strong>
                            <a href="#">Політика конфіденційності</a>
                        </strong>
                        .А також підтверджуєте, що прочитали їх.
                        <strong>
                            <a href="№">Повідомлення</a>
                        </strong>
                    </p>
                    <p id="login">
                        Уже зареєструвались?
                        <strong>
                            <a href="" id="showLoginForm">Увійти</a>
                        </strong>
                    </p>
            </form>
            <div class="test-block">
                <form class="login-form" id="login-form" method="post">
                    <input type="hidden" value="second-form"/>
                    {% csrf_token %}
                    <h2 class="form-header">
                        Ласкаво просимо у <br>Pinterest
                    </h2>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="message-error">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% for field in second_form %}
                        <label>{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    <a href="{% url 'reset-password' %}" class="forgot-password" style="margin-left: 50px;">Забули пароль?</a>
                    <button type="submit" class="continue-button">Увійти</button>
                    <h6>або</h6>
                    <a class="continue-with-btn" id="facebook-login">
                        Продовжити як Користувач
                    </a>
                    <br>
                    <br>
                    <a class="continue-with-btn" id="google-login">
                        Продовжити як Користувач
                    </a>
                    <p class="usage-terms">
                        Продовжуючи, ви погоджуєтесь із
                        положеннями основних документів Pinterest.
                        Це <strong>
                            <a href="#">Умови надавання послуг</a>
                        </strong>
                        і <strong>
                            <a href="#">Політика конфіденційності</a>
                        </strong>
                        .А також підтверджуєте, що прочитали їх.
                        <strong>
                            <a href="№">Повідомлення</a>
                        </strong>
                    </p>
                    <a href="/" id="showRegistrationForm" class="registration-text">
                        Ще не зареєструвались в Fineterest? Зареєструватись
                    </a>
                    <p class="organisation-member">
                        Представник організації? <a href="#">Вам сюди</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
