<div class="section-yellow">
    <section id="search">
        <div class="content">
            <div class="img-content">
                <div class="central img-container">
                    <img class="chicken-image" id="central-img" width="250" height="320"
                         src="../static/main/images/search_section/chicken_dishes1.jpeg">
                </div>
                <div class="left img-container">
                    <img class="chicken-image" id="left-img" width="200" height="200"
                         src="../static/main/images/search_section/chicken_dishes2.jpeg">
                </div>
                <div class="right img-container">
                    <img class="chicken-image" id="right-img" width="200" height="200"
                         src="../static/main/images/search_section/chicken_dishes3.png">
                </div>
                <div class="top img-container">
                    <img class="chicken-image" id="top-img" width="200" height="200"
                         src="../static/main/images/search_section/chicken_dishes4.jpg">
                </div>
                <div class="search">
                    <a href="#" class="search-chicken-dinner" id="search-btn">
                        <span>
                            <img src="   https://cdn-icons-png.flaticon.com/512/54/54481.png " width="20" height="20"
                                 alt="" title="" class="img-small">
                        </span>
                        Прості страви із курки
                        на сніданок
                    </a>
                </div>
            </div>
            <div class="title-content">
                <h2 class="title-main">Знайдіть ідею</h2>
                <p class="title-description">
                    Що ще ви хочете спробувати?
                    Придумайте запит на цікаву для вас тему, на приклад,
                    "прості страви із курки на сніданок",
                    і подивіться результати
                </p>
                <a href="#" class="btn result-btn">Подивитись</a>
            </div>
        </div>
    </section>
</div>
