<section id="save">
    <div class="main-content">
        <div class="text-content">
            <div class="title-main">
                <h1>Зберігайте ідеї, які вам сподобались</h1>
                <p class="title-desc">
                    Зберігайте ідеї, які сподобались, щоб повернутись до них у майбутньому.
                </p>
                <a class="btn look-btn" href="#">Переглянути</a>
            </div>
        </div>
        <div class="image-content">

        </div>
    </div>
</section>