<section id="save">
    <div class="main-content">
        <div class="text-content">
            <div class="title-main">
                <h1>Зберігайте ідеї, які вам сподобались</h1>
                <p class="title-desc">
                    Зберігайте ідеї, які сподобались, щоб повернутись до них у майбутньому.
                </p>
                <a class="btn look-btn" href="#">Переглянути</a>
            </div>
        </div>
        <div class="image-content">
            <div class="interior-image-block">
                <div class="main-interior-container">
                    <img class="sect-img" id="main-interior"
                         src="../static/main/images/third_section/interier.jpg" width="400"
                         height="320">
                    <div class="image-text">
                        <p>Інтер'єр у стилі листа папороті</p>
                    </div>
                    <div class="inner-images">
                        <img class="interior-img sect-img" id="left-inner"
                             src="../static/main/images/third_section/interier2.jpg" width="90"
                             height="100">
                        <img class="interior-img sect-img" id="center-inner"
                             src="../static/main/images/third_section/interier3.jpeg"
                             width="90" height="100">
                        <img class="interior-img sect-img" id="right-inner"
                             src="../static/main/images/third_section/interier4.jpeg"
                             width="90" height="100">
                    </div>
                </div>
            </div>
            <div class="bedroom-img-container">
                <img class="bedroom-img" id="bedroom"
                         src="../static/main/images/third_section/scandinavian-bedroom.jpeg"
                         width="270" height="220">
                <div class="image-text" id="bedroom-img-text">
                    <p>Спальня у скандинавському стилі</p>
                </div>
            </div>
            <div class="balcony-img" id="balcony-img">
                <img class="balcony-img" id="balcony"
                     src="../static/main/images/third_section/balcony.jpeg"
                     width="170" height="170">
                <div class="image-text" id="balcony-img-text">
                    <p>Балкон моєї мрії</p>
                </div>
            </div>
            <div class="style-food-img" id="style-food-img">
            <img class="style-food-img" id="style-food"
                 src="../static/main/images/third_section/style-food.jpeg"
                 width="170" height="170">
                <div class="image-text" id="style-food-text">
                    <p>Стильна подача</p>
                </div>
            </div>
            <div class="bathroom-img" id="bathroom-img">
                <img class="bathroom-img" id="bathroom"
                     src="../static/main/images/third_section/bathroom.jpg"
                     width="170" height="170">
                <div class="image-text" id="bathroom-ideas">
                    <p>Ідеї для ванної</p>
                </div>
            </div>
        </div>
    </div>
</section>