<section id="top">
    <!-- Include a site header -->
    {% include "./header.html" %}
    <div class="main-title">
        <h1 class="find-new-title">Знайдіть свіжі ідеї:</h1>
        <div class="carousel">
            <div id="phrase-container">
                <h3 class="carousel-title" id="first-title" data-index="0">Iдея страв на вечерю</h3>
                <h3 class="carousel-title" id="second-title" data-index="1">Ідея домашнього декору</h3>
                <h3 class="carousel-title" id="third-title" data-index="2">Ідея стильного образу</h3>
                <h3 class="carousel-title" id="fourth-title" data-index="3">Ідея для садівників</h3>
            </div>
            <br>
            <div class="carousel-indicators">
                <span class="carousel-indicator" id="first-point" data-index="0"></span>
                <span class="carousel-indicator" id="second-point" data-index="1"></span>
                <span class="carousel-indicator" id="third-point" data-index="2"></span>
                <span class="carousel-indicator" id="fourth-point" data-index="3"></span>
            </div>
        </div>
        <div class="carousel-photos">
            <div class="carousel-group">
                <img class="section-img" id="left-img" src="../static/main/images/main_page/dishes/dishes-first.jpg"
                     width="230" height="200">
                <img class="section-img lower-first" id="second-img" src="../static/main/images/main_page/dishes/dishes-two.jpg"
                     width="230" height="100">
                <span class="link-btn-hover">
                        <a href="#" type="button" class="link-btn">
                            <img src="   https://cdn-icons-png.flaticon.com/512/32/32195.png " width="18" height="18" alt=""
                                 title="" class="img-small-second">
                        </a>
                    </span>
                <img class="section-img lower-first" id="third-img" src="../static/main/images/main_page/dishes/dishes-three.jpg"
                     width="230" height="100">
                <img class="section-img" id="fourth-img" src="../static/main/images/main_page/dishes/dishes-four.jpg"
                     width="230" height="200">
            </div>
            <div class="carousel-group">
                <img class="section-img house-decor" id="house-first-img"
                     src="../static/main/images/main_page/house-decor/house-first.jpg" width="230" height="200">
                <img class="section-img lower house-decor" id="house-second-img"
                     src="../static/main/images/main_page/house-decor/house-second.jpg" width="230" height="100">
                <img class="section-img house-decor" id="house-third-img"
                     src="../static/main/images/main_page/house-decor/house-third.jpg" width="230" height="200">
                <img class="section-img lower house-decor" id="house-fourth-img"
                     src="../static/main/images/main_page/house-decor/house-fourth.jpg" width="230" height="100">
            </div>
            <div class="carousel-group">
                <img class="section-img fashion-look" id="fashion-first-img"
                 src="../static/main/images/main_page/fashion-look/look-first.jpg" width="230" height="200">
                <img class="section-img lower fashion-look" id="fashion-second-img"
                     src="../static/main/images/main_page/fashion-look/look-second.jpg" width="230" height="100">
                <img class="section-img fashion-look" id="fashion-third-img"
                     src="../static/main/images/main_page/fashion-look/look-third.jpg" width="230" height="200">
                <img class="section-img lower fashion-look" id="fashion-fourth-img"
                     src="../static/main/images/main_page/fashion-look/look-fourth.jpg" width="230" height="100">
            </div>
            <div class="carousel-group">
                <img class="section-img style-garden" id="garden-first-img"
                     src="../static/main/images/main_page/style-garden/garden-first.jpg" width="230" height="200">
                <img class="section-img lower style-garden" id="garden-second-img"
                     src="../static/main/images/main_page/style-garden/garden-second.jpg" width="230" height="100">
                <img class="section-img style-garden" id="garden-third-img"
                     src="../static/main/images/main_page/style-garden/garden-third.jpg" width="230" height="200">
                <img class="section-img lower style-garden" id="garden-fourth-img"
                     src="../static/main/images/main_page/style-garden/garder-fourh.jpg" width="230" height="100">
            </div>
        </div>
        <div class="section-footer">
            <p class="how-it-works">Як це працює?
                <span>
                    <a href="#" type="button">
                        <img src="   https://cdn-icons-png.flaticon.com/512/2985/2985150.png " width="18" height="18" alt="" title="" class="img-small">
                    </a>
                </span>
            </p>
        </div>
    </div>
</section>