<section id="top">
    <!-- Include a site header -->
    {% include "./header.html" %}
    <div class="main-title">
        <h1 class="find-new-title">Знайдіть свіжі ідеї:</h1>
        <div class="carousel">
            <div id="phrase-container">
                <h3 class="carousel-title" id="first-title" data-index="0">Iдея страв на вечерю</h3>
                <h3 class="carousel-title" id="second-title" data-index="1">Ідея домашнього декору</h3>
                <h3 class="carousel-title" id="third-title" data-index="2">Ідея стильного образу</h3>
                <h3 class="carousel-title" id="fourth-title" data-index="3">Ідея для садівників</h3>
            </div>
            <br>
            <div class="carousel-indicators">
                <span class="carousel-indicator" id="first-point" data-index="0"></span>
                <span class="carousel-indicator" id="second-point" data-index="1"></span>
                <span class="carousel-indicator" id="third-point" data-index="2"></span>
                <span class="carousel-indicator" id="fourth-point" data-index="3"></span>
            </div>
        </div>
        <div class="carousel-photos">
            <div class="dishes-section">
                <img class="section-img" id="left-img" src="../static/main/images/main_page/dishes-first.jpg" width="230" height="200">
                <img class="section-img lower" id="second-img" src="../static/main/images/main_page/dishes-two.jpg" width="230" height="100">
                <span class="link-btn-hover">
                    <a href="#" type="button" class="link-btn">
                        <img src="   https://cdn-icons-png.flaticon.com/512/32/32195.png " width="18" height="18" alt="" title="" class="img-small-second">
                    </a>
                </span>
                <img class="section-img lower" id="third-img" src="../static/main/images/main_page/dishes-three.jpg" width="230" height="100">
                <img class="section-img" id="fourth-img" src="../static/main/images/main_page/dishes-four.jpg" width="230" height="200">
            </div>
        </div>
        <div class="section-footer">
            <p class="how-it-works">Як це працює?
                <span>
                    <a href="#" type="button">
                        <img src="   https://cdn-icons-png.flaticon.com/512/2985/2985150.png " width="18" height="18" alt="" title="" class="img-small">
                    </a>
                </span>
            </p>
        </div>
    </div>
</section>