<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Ми отримали ваш запит</h1>
        <p>Оберіть варіант нижче,щоб повернутись до облікового запису</p>
        <a href="http://127.0.0.1:8080{% url 'create-new-password' user_email=email user_token=token %}" class="btn btn-reset-password" id="btn-reset-password"
           style="background: #D00000; border: none; border-radius: 5px; text-decoration: none; color: white; padding: 10px 6px;">
            Скинути пароль
        </a>
        <a href="#" class="btn btn-without-password" id="btn-enter-without-password">Увійти без пароля</a>
        <p>
            Інформація для вас:Введіть пароль протягом 24 годин.Якщо цей термін минув,зробіть новий запит.
            Якщо ви не надсилали запит на зміну паролю,просто не звертайте уваги на цього листа
        </p>
        <p class="additional-info">
            Цього електронного листа було надіслано на адресу {{ email }}
            <strong><a>Не моя електронна адреса</a></strong>
        </p>
        <footer>
            <ul class="footer-menu">
                <li class="menu-point">Довідковий центр</li>
                <li class="menu-point">Політика конфіденційності</li>
                <li class="menu-point">Умови надання послуг</li>
            </ul>
        </footer>
    </body>
</html>