{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'password/css/reset-password.css' %}">
{% endblock %}

{% block js_additional %}
    <script src="{% static 'password/js/reset-password.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="reset-password">
        <h1 class="main-title">Давайте пошукаємо ваш акаунт Fineterest</h1>
        <p>Укажіть адресу своєї електронної пошти,будь ласка</p>
        <div class="row-form">
            <span class="search-icon"><img src="../static/password/images/search.png" alt=" " width="20" height="20"/></span>
            <form class="find-user-form" method="post">
                {% for field in form %}
                    {% if field.errors %}
                        <div class="error-message">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field }}
                {% endfor %}
            </form>
            <span class="cancel-button"><a class="cancel-button-btn"><img src="../static/password/images/cancel.png" alt="" width="20" height="20"/></a></span>
        </div>
        <button type="submit" class="search-btn">Пошук</button>
    </section>
{% endblock %}

