{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'password/css/reset-password.css' %}">
{% endblock %}

{% block js_additional %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'password/js/reset-password.js' %}"></script>
{% endblock %}

{% block body %}
    <header class="reset-password-header">
        <h4 class="site-logo">Fineterest</h4>
        <a href="#" class="btn header-btn" id="view-btn">Переглянути</a>
        <form class="search-input">
            <span class="search-icon" id="header-icon"><img src="../static/password/images/search.png" alt=" " width="20" height="20"/></span>
            <input class="search-any" placeholder="Ідея простих страв на сніданок, модних образів і багато іншого"/>
            <span class="cancel-button" id="header-cancel"><a class="cancel-button-btn"><img src="../static/password/images/cancel.png" alt="" width="20" height="20"/></a></span>
        </form>
        <div class="btn-section">
            <a href="#" class="btn header-btn" id="login">Увійти</a>
            <a href="#" class="btn header-btn" id="signup">Реєстрація</a>
            <a href="#" class="popup-menu">
                <img src="   https://cdn-icons-png.flaticon.com/512/2985/2985150.png " width="16" height="16" alt="" title="" class="img-small">
            </a>
        </div>
    </header>
    <section class="reset-password">
        <h1 class="main-title">Давайте пошукаємо ваш акаунт Fineterest</h1>
        <p>Укажіть адресу своєї електронної пошти,будь ласка</p>
        <div class="row-form">
            <span class="search-icon" id="email-input"><img src="../static/password/images/search.png" alt=" " width="18" height="18"/></span>
            <form class="find-user-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        <div class="error-message">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field }}
                {% endfor %}
                <button type="submit" class="btn btn-send-mail">Відправити лист для скидання паролю</button>
            </form>
            <span class="cancel-button"><a class="cancel-button-btn"><img src="../static/password/images/cancel.png" alt="" width="20" height="20"/></a></span>
        </div>
        <a href="#" class="search-btn" id="find-email">Пошук</a>
    </section>
    <div id="message"></div>
    <div class="sending-confirmation" style="margin-top: 30px;">
        <h2>Повідомлення надіслане</h2>
        <p class="info-title">
            Ми відправили лист на адресу <strong>{{ email }}</strong>.
            Якщо ця адреса електронної пошти зв'язана із з акаунтом Fineterest,
            ви зможете скинути пароль.
        </p>
        <p class="offer-title">Не отримали лист?Спробуйте виконати ці рекомендації із нашого
            <strong>
                <a href="#">Довідкового центру</a>
            </strong>
        </p>
        <div class="btn-section">
            <a href="#" id="repeat" class="section-btn repeat-btn">Повторити спробу</a>
            <a href="{% url 'main_page' %}" class="section-btn back-to-login-btn">Назад на сторінку входу</a>
        </div>
    </div>
{% endblock %}

