{% extends "main/layout.html" %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'password/css/set_new_password.css' %}">
{% endblock %}

{% block body %}
    {% include "./_includes/reset_password_header.html" %}
    <section class="form-section">
    <h3 class="form-header">Вкажіть новий пароль</h3>
        <form id="set-new-password" class="password-form" method="post">
            {% csrf_token %}
            {% for field in form %}
                <label>{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <button type="submit" class="btn btn-reset-password">
                Змінити пароль
            </button>
        </form>
    </section>
{% endblock %}