{% extends "main/layout.html" %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'password/css/set_new_password.css' %}">
{% endblock %}

{% block js_additional %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'password/js/set-new-password.js' %}"></script>
{% endblock %}

{% block body %}
    {% include "./_includes/reset_password_header.html" %}
    <section class="form-section">
    <h3 class="form-header">Вкажіть новий пароль</h3>
        <form id="set-new-password" class="password-form" method="post" action="{% url 'create-new-password' email token%}">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <span>
                        <img src="   https://cdn-icons-png.flaticon.com/512/463/463612.png " width="256" height="256"
                             alt="" title="" class="img-small" id="error-icon">
                    </span>
                    <div class="form-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <label>{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <button type="submit" class="btn btn-reset-password">
                Змінити пароль
            </button>
        </form>
    </section>
    <div class="modal-overlay" id="modal-overlay"></div>
    <section class="popup-window">
        <h4 class="section-header">Пароль змінено</h4>
        <p>Пароль успішно змінено</p>
        <button class="close-popup">ОК</button>
    </section>
{% endblock %}