<article class="article" id="goods_requirements">
    <h3 class="page-title">
        Вимоги до товарів
    </h3>
    <p class="page-body">
        Товар, що використовується в пінах чи будь-якому іншому форматі на Pinterest, має відповідати таким вимогам:
    </p>
    <ul class="page-body-ul">
        <li>
            Товари повинні відповідати нашим <a href="#">правилам спільноти</a>
            та <a href="#">умовам надання послуг</a>.
        </li>
        <li>
            Pinterest має регулярно отримувати актуальну (протягом 24 годин) і точну інформацію стосовно
            ціни та наявності товару на складі. Цього можна досягти двома шляхами: щоденно
            синхронізувати стрічку або надати Pinterest доступ до метатегів на цільовій сторінці товару.
        </li>
        <li>
            Зображення піна має демонструвати конкретний товар, який можна придбати
            (це правило не поширюється на послуги).
        </li>
        <li>
            Зображення та опис піна повинні давати чітке уявлення про товар.
        </li>
    </ul>
    <h5 class="page-subtitle">
        Заборонені товари
    </h5>
    <p class="page-body">
        Ми не дозволяємо розміщувати як товарні піни:
    </p>
    <ul class="page-body-ul">
        <li>
            Алкоголь
        </li>
        <li>
            Фінансові послуги, як-от надання кредитів (зокрема варіанти оплати кредиту,
            запропоновані безпосередньо Продавцем для нефінансових товарів),
            криптовалюта тощо.
        </li>
        <li>
            Товари, пов’язані з азартними іграми, наприклад лотереями
        </li>
        <li>
            Медичні товари й послуги, зокрема рецептурні й безрецептурні препарати, медичні пристрої
            та інші небезпечні медичні товари, які містять нереалістичні обіцянки,
            наприклад пігулки для втрати ваги.
        </li>
        <li>
            Будь-які товари й способи торгівлі зі списку заборонених товарів і послуг у наших
            <a href="#">Правилах розміщення реклами</a> , а саме:
        </li>
        <ul class="page-body-ul">
            <li>
                Товари й матеріали для дорослих
            </li>
            <li>
                Наркотики й пов’язані з ними товари, зокрема будь-які продукти
                на основі канабідіолу та масла насіння конопель
            </li>
            <li>
                Види тварин під загрозою вимирання та живі тварини
            </li>
            <li>
                Заборонені товари
            </li>
            <li>
                Підробки або контрафактні товари
            </li>
            <li>
                Товари, пов’язані політичними кампаніями
            </li>
            <li>
                Товари, що можуть викликати занепокоєння або тривогу
            </li>
            <li>
                Тютюнові вироби
            </li>
            <li>
                Зброя й вибухові речовини
            </li>
        </ul>
    </ul>
    <p class="page-body">
        Щоб дізнатися більше про Програму перевірених продавців, завітайте на наш
        <a href="#">корпоративний сайт</a> .
    </p>
</article>