<article class="article" id="merchant_requirements">
    <h3 class="page-title">
        Вимоги до продавців
    </h3>
    <p class="page-body">
        Вимоги до продавців
    </p>
    <ul class="page-body-ul">
        <li>
            Продавцями не можуть бути торговельні майданчики, які займаються перепродажем чи пересилкою товарів.
        </li>
        <li>
            Продавці не повинні бути афілійованими постачальниками.
        </li>
        <li>
            Продавці не можуть займатись оптовою торгівлею.
        </li>
        <li>
            У продавця має бути чітко сформульована політика доставки, яку легку знайти та в
            якій зазначено орієнтовний час доставки товарів.
        </li>
        <li>
            У продавця має бути чітко сформульована політика повернення, яку легко знайти та в якій зазначено,
            чи можливе повернення товарів, як воно здійснюється та скільки часу може потребувати,
            а також контактна інформація.
        </li>
        <li>
            Продавець повинен мати спеціальну сторінку з відомостями про компанію та її
            пропозиції або відповідні посилання в соціальних мережах.
        </li>
        <li>
            сайти та сторінки товару мають бути якісними. Не допускаються сайти які:
        </li>
        <ul class="page-body-ul inner">
            <li>
                Мають неякісний контент, у тому числі
            </li>
            <ul class="page-body-ul inner">
                <li>
                    Граматичні помилки, велику кількість орфографічних або грубих помилок чи одруківок
                </li>
                <li>
                    Розмиті чи зернисті зображення
                </li>
                <li>
                    Недійсні посилання або неповні сторінки
                </li>
            </ul>
            <li>
                Неоригінальний контент, у тому числі:
            </li>
            <ul class="page-body-ul inner">
                <li>
                    Неоригінальний контент у розділі дощок «про нас» чи описі товару
                </li>
                <li>
                    Стокові зображення
                </li>
            </ul>
            <li>
                Мають доменний вік менше 9 місяців
            </li>
            <li>
                Спонукають користувачів відвідати іншу сторінку, яка не належить бренду
            </li>
            <li>
                Змушують користувачів зареєструватися для перегляду товарів
            </li>
            <li>
                Є небезпечними чи фальшивими
            </li>
            <li>
                Містять багато рекламних оголошень чи спливаючих вікон
            </li>
            <li>
                Містять спливаючі вікна, які не закриваються
            </li>
            <li>
                Містять неактуальний контент чи товари, яких немає в наявності
            </li>
        </ul>
    </ul>
</article>