<article class="article" id="overall_laws">
  <h3 class="page-title">Загальні правила для продавців</h3>
  <p class="page-body">
    Хоча Pinterest не бере безпосередньої участі в процесах купівлі-продажу та доставки товарів,
    ми все одно хочемо, щоб ці процеси проходили належним чином. Від продавців
    ми очікуємо найвищого рівня сервісу. Це означає, що вони мають надавати чітку
    та зрозумілу інформацію щодо якості, ціни, терміну доставки та умов повернення свого товару.
    Безперечно, продавці мають відповідати нашим очікуванням.
  </p>
  <p class="page-body">
    Використовуючи нашу платформу, продавці зобов’язуються дотримуватися всіх чинних законів,
    правил і галузевих стандартів. Продавці також несуть відповідальність за процеси купівлі й
    доставки, обслуговування клієнтів, обробку скарг, вирішення проблем і конфліктів.
  </p>
  <p class="page-body">
    Ми зберігаємо за собою право видалити товарний пін через порушення цих правил і
    заблокувати доступ до стрічки будь-якого продавця через погані оцінки від третіх
    сторін або інші сигнали про порушення на платформі, зокрема велику кількість скарг.
    Ми залишаємо за собою право видаляти будь-які матеріали, зокрема піни й дошки, і на
    власний розсуд блокувати доступ до Pinterest.
  </p>
</article>