<article class="article" id="complaint_sending">
    <h3 class="page-title">
        Надсилання скарги про порушення авторських прав
    </h3>
    <p class="page-body">
        Щоб надіслати скаргу про порушення авторських прав, заповніть відповідну форму.
    </p>
    <p class="page-body">
        <a href="#" class="form-redirect-btn">Заповніть форму щодо порушення авторських прав</a>
    </p>
    <p class="page-body">
        Якщо ви не бажаєте заповнювати цю форму, надішліть таку інформацію нашому призначеному агенту з
        питань авторського права:
    </p>
    <p class="page-body">
        1. Ідентифікація матеріалів, захищених авторським правом, які, на вашу думку, його порушують.
    </p>
    <p class="page-body">
        2. Ідентифікація контенту на Pinterest, який ви вважаєте таким, що порушує ваші права,
        включно з інформацією, яка допоможе нам його знайти, як-от URL-адресою контенту на Pinterest.
    </p>
    <p class="page-body">
        3. Ваша поштова адреса, номер телефону й адреса електронної пошти.
    </p>
    <p class="page-body">
        4. Наступні твердження в тексті вашого сповіщення:
    </p>
    <ul class="page-body-ul">
        <li>
            «Я заявляю, що в мене є обґрунтовані підстави стверджувати, що використання захищеного
            авторським правом матеріалу або посилання на такий матеріал не дозволено правовласником,
            його агентом або законом (наприклад, у межах сумлінного використання)».
        </li>
        <li>
            «Я заявляю, що інформація в цьому сповіщенні є точною і, усвідомлюючи відповідальність
            за свідоме надання неправдивих відомостей, що я є правовласником, маю повноваження діяти
            від імені правовласника або є власником виключного авторського права, яке, ймовірно, було порушено».
        </li>
    </ul>
    <p class="page-body">
        5. Ваше повне ім’я за документами й електронний або фізичний підпис
        (наприклад, ваше повне ім’я друкованими літерами).
    </p>
    <p class="page-body">
        Якщо матеріал, на який ви скаржитеся, є зображенням, ви можете попросити нас видалити всі його копії.
        На початку скарги просто попросіть нас «видалити всі піни, які містять зображення». Зверніть увагу,
        що ми можемо видалити лише ідентичні копії зображення. Якщо розмір файлу зображення було змінено,
        ми не зможемо його знайти або видалити.
    </p>
    <p class="page-body">
        Надішліть заповнену скаргу про порушення авторських прав на адресу
    </p>
    <p class="page-body important-info">
        Pinterest Copyright Agent<br>
        651 Brannan Street<br>
        San Francisco, CA 94107-1532<br>
        Факс: +1 415 762 7100<br>
        Електронна пошта: <a href="mailto:copyright@gmail.com">copyright@gmail.com</a>
    </p>
    <p class="page-body">
        Цю електронну адресу можна використовувати лише для надсилання скарг про порушення авторських прав.
        Якщо вам потрібно зв’язатися з нами з будь-якої іншої причини, відвідайте наш Довідковий центр.
    </p>
    <p class="page-body">
        Примітка. Шахрайські чи недобросовісні скарги про порушення авторських прав можуть мати юридичні й
        фінансові наслідки. Перед надсиланням скарги про порушення авторських прав переконайтеся,
        що ви обґрунтовано вважаєте, що зазначений уміст порушує авторські права, зокрема порядок
        добросовісного використання, і що ви усвідомлюєте наслідки надсилання оманливої скарги.
    </p>
</article>