<article class="article" id="content-deleted">
    <h3 class="page-title">
        Що робити, якщо мій контент було видалено через скаргу про порушення авторських прав?
    </h3>
    <p class="page-body">
        Якщо ви отримали сповіщення про видалення вашого контенту через скаргу про порушення
        авторських прав, це означає, що правовласник подав повну й обґрунтовану скаргу з
        проханням видалити його. Якщо ви хочете, щоб ми переслали вам інформацію із цієї
        скарги про порушення авторських прав, просто надішліть нам електронного листа на
        адресу <a href="mailto:copyright@gmail.com">copyright@gmail.com</a>
        і повідомте нас про це (ми можемо видалити деякі особисті контактні дані).
    </p>
    <p class="page-body">
        Якщо контент у вашому обліковому записі буде видалено на підставі завеликої кількості
        скарг про порушення авторських прав, ви можете втратити можливість зберігати піни на
        Pinterest або ми можемо взагалі заблокувати ваш обліковий запис.
    </p>
    <p class="page-body">
        Якщо ви вважаєте, що ми помилково видалили ваш пін, ви можете надіслати зустрічне сповіщення.
        Якщо ми отримаємо обґрунтоване зустрічне сповіщення, то відновимо контент і
        видалимо скаргу з історії вашого облікового запису
    </p>
    <p class="page-body">
        Примітка. Шахрайські чи недобросовісні зустрічні сповіщення можуть мати юридичні й фінансові наслідки.
        Перед надсиланням зустрічного сповіщення переконайтеся, що ви обґрунтовано вважаєте,
        що ми помилково видалили контент, і що ви усвідомлюєте наслідки надсилання оманливого сповіщення.
    </p>
</article>