<article class="article" id="counter_notification">
  <h3 class="page-title">
      Як подати зустрічне сповіщення
  </h3>
    <p class="page-body">
        Якщо ваш контент було видалено через скаргу про порушення авторських прав,
        ви отримаєте від нас електронного листа з інструкціями про те, як подати зустрічне сповіщення.
        Зверніть увагу: ви можете надіслати зустрічне сповіщення, лише якщо вважаєте,
        що контент було видалено помилково.
    </p>
    <p class="page-body">
        Коли ми отримаємо обґрунтоване зустрічне сповіщення, то надішлемо його стороні,
        яка надіслала скаргу на цей уміст. Інформація, яку вона отримає, включатиме ваші контактні дані,
        за допомогою яких ця особа може зв’язатися з вами безпосередньо або вжити відповідних заходів.
    </p>
    <p class="page-body">
        Якщо ми надсилаємо ваше зустрічне сповіщення стороні, яка поскаржилася на цей уміст,
        і вона не повідомляє нас про подання позову до суду або Комісії з розгляду скарг щодо
        авторських прав із вимогою обмежити доступ до контенту, ми відновимо цей контент.
        Цей процес може зайняти до 14 робочих днів.
    </p>
</article>