<article class="article" id="repeat_offender">
    <h3 class="page-title">
        Повторні порушники авторських прав
    </h3>
    <p class="page-body">
        Згідно з нашою політикою, за певних обставин і на наш розсуд ми блокуємо або видаляємо
        облікові записи користувачів, які неодноразово порушують авторське право або звинувачуються
        в порушенні авторських прав або інших прав на інтелектуальну власність. Користувачі,
        чиї піни видаляють через скаргу про порушення авторських прав, отримують попередження відповідно
        до політики Pinterest щодо повторних порушень авторських прав.
    </p>
</article>