<article class="article" id="rights_confirmation">
    <h3 class="page-title">
        Портал підтвердження права володіння вмістом
    </h3>
    <p class="page-body">
        Окрім наших каналів про порушення авторських прав, ми створили Портал підтвердження права
        володіння контентом — інструмент, який дає змогу авторам підтвердити право власності на контент
        і вирішити, чи він відображатиметься в Pinterest і в якій формі.
    </p>
    <p class="page-body">
        Усі власники ексклюзивних авторських прав на контент можуть <a href="#">подати заявку</a> на отримання доступу
        до Порталу підтвердження права володіння контентом. Ми розглядаємо заявки, щоб дізнатися,
        чи може правовласник використовувати цей інструмент. У разі схвалення заявки правовласник
        зможе завантажити свій оригінальний контент і повідомити нас, чи може цей контент відображатися
        в Pinterest. Вибрані дії примусового застосування авторських прав буде застосовано як до наявного
        відповідного контенту, так і до майбутнього, доданого на Pinterest.
    </p>
    <p class="page-body">
        Дізнайтеся більше в нашій статті про <a href="#">Портал підтвердження права володіння контентом</a> .
    </p>
</article>