<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <ul class="nav-list">
                <li><a href="#complaint_sending">
                    Надсилання скарги про порушення авторських прав
                </a></li>
                <li><a href="#content_deleted">
                    Що робити, якщо мій контент було видалено через скаргу про порушення авторських прав?
                </a></li>
                <li><a href="#counter_notification">Як подати зустрічне сповіщення</a></li>
                <li><a href="#repeat_offender">Повторні порушники авторських прав</a></li>
                <li><a href="#warning_appeal">
                    Оскарження попередження щодо порушення авторських прав
                </a></li>
                <li>
                    <a href="#rights_confirmation">
                        Портал підтвердження права володіння вмістом
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>