<article class="article" id="warning_appeal">
  <h3 class="page-title">
    Оскарження попередження щодо порушення авторських прав
  </h3>
  <p class="page-body">
    Якщо ваш пін було видалено через скаргу про порушення авторських прав,
    а ви не можете або не хочете збирати дані для подання зустрічного сповіщення,
    але вважаєте, що обставини вимагають зняття попередження, ви можете
    надати нам докладну інформацію про ці обставини, оскарживши попередження
    про порушення авторських прав. Ми розглянемо вашу заявку й вживемо відповідних заходів.
  </p>
</article>