<article class="article" id="additional_info">
    <h3 class="page-title">
        Додаткова інформація для суб’єктів даних у ЄЕЗ, Швейцарії та Великій Британії:
        юридичні підстави, на які ми спираємося під час використання вашої інформації
    </h3>
    <p class="page-body">
        Наведений нижче розділ застосовується лише для жителів ЄЕЗ, Швейцарії та Великої Британії.
        Згідно з чинним законодавством про захист даних у Європейському регіоні (наприклад, GDPR),
        компанії повинні мати юридичне обґрунтування для обробки вашої інформації з різними цілями,
        описаними в цій Політиці конфіденційності.
    </p>
    <p class="page-body">
        Ви також маєте певні права залежно від того, які юридичні підстави ми використовуємо,
        і ми пояснюємо це нижче.
    </p>
    <div class="accordion">
        <div class="chapter">
            <h5 class="page-subtitle">
                Ми використовуємо інформацію на основі законних прав
            </h5>
             <img src="   https://cdn-icons-png.flaticon.com/512/32/32195.png " width="20"
                 height="20" alt="" title="" class="img-small">
        </div>
        <div class="explanation">
            <p class="page-body">
                Ми покладаємося на наші законні інтереси або інтереси третьої сторони,
                якщо вони не переважають ваші інтереси й основні права
            </p>
            <h5 class="page-subtitle bold">
                Щоб показувати вам актуальний, цікавий і персоналізований контент ми:
            </h5>
            <ul class="page-body-ul">
                <li>
                    Визначаємо вашу особу, коли ви користуєтеся нашими Сервісами.
                </li>
                <li>
                    Надаємо вам рекомендації на основі ваших дій у межах наших Сервісів щодо
                    пінів, дощок, тем або контенту, які можуть вам сподобатися.
                    Наприклад, якщо ви взаємодієте з контентом на тему кулінарії в
                    Pinterest, ми можемо пропонувати вам піни й дошки, пов’язані з продуктами харчування.
                </li>
                <li>
                    Персоналізуємо вашу взаємодію з Pinterest на основі ваших дій поза сайтом.
                    Наприклад, якщо ви відвідуєте сайти, на яких продаються електрогітари,
                    ми можемо пропонувати вам піни з гітарами.
                </li>
            </ul>
            <p class="page-body bold">
                Законні інтереси, на які ми покладаємось
            </p>
            <p class="page-body">
                У наших інтересах та інтересах користувачів Pinterest отримувати персоналізовані,
                унікальні й актуальні пропозиції, і саме тому користувачі звертаються до нашого Сервісу.
            </p>
            <p class="page-body bold">
                Категорії інформації, які ми використовуємо
            </p>
            <ul class="page-body-ul">
                <li>
                    Інформація про обліковий запис (за винятком расової чи етнічної приналежності)
                </li>
                <li>
                    Контент
                </li>
                <li>
                    Інформація про місцезнаходження
                </li>
                <li>
                    Дані журналу
                </li>
                <li>
                    Інформація, отримана за допомогою даних файлів cookie та подібних технологій
                    (щоб дізнатися більше про використання файлів cookie, ознайомтеся з нашою
                    <a href="#">Політикою щодо файлів cookie</a>)
                </li>
                <li>
                    Відомості про пристрій
                </li>
                <li>
                    Дані про використання та висновки
                </li>
                <li>
                    Налаштування користувача
                </li>
                <li>
                    Дані з інших джерел (зі сторонніх платформ; від партнерів із технічних послуг;
                    рекламодавців та інших партнерів)
                </li>
            </ul>
            <h5 class="page-subtitle bold">
                Для створення спільноти в межах наших Сервісів ми:
            </h5>
            <ul class="page-body-ul">
                <li>
                    Пропонувати вам інших користувачів, які мають спільні з вами інтереси. Наприклад,
                    якщо ви підписалися на дошки з дизайном інтер’єрів, ми можемо запропонувати
                    цікавих для вас дизайнерів інтер’єру.
                </li>
                <li>
                    Допомагаємо вашим друзям і людям зі списку контактів знаходити вас на Pinterest.
                    Наприклад, якщо ви зареєструвалися через обліковий запис Facebook,
                    ми можемо допомогти вашим друзям із цієї соцмережі знайти вас на
                    Pinterest під час реєстрації. Крім того, люди зможуть
                    відшукати ваш обліковий запис у Pinterest за допомогою вашої адреси
                    електронної пошти. Якщо ви синхронізуєте свої контакти з вашим
                    обліковим записом Pinterest, ми отримаємо доступ до контактів,
                    які зберігаються на вашому пристрої, щоб ви могли дізнатися, чи
                    користуються ваші контакти нашими Сервісами.
                </li>
            </ul>
            <p class="page-body bold">
                Законні інтереси, на які ми покладаємось
            </p>
            <p class="page-body">
                У наших інтересах — допомагати вам установлювати зв’язки,
                щоб надавати вам актуальні й унікальні послуги.
            </p>
            <p class="page-body bold">
                Категорії інформації, які ми використовуємо
            </p>
            <ul class="page-body-ul">
                <li>
                    Інформація про обліковий запис (за винятком расової чи етнічної приналежності)
                </li>
                <li>
                    Контент
                </li>
                <li>
                    Інформація про місцезнаходження
                </li>
                <li>
                    Зміст вашого спілкування з нами
                </li>
                <li>
                    Дані журналу
                </li>
                <li>
                    Інформація, отримана за допомогою даних файлів cookie та подібних технологій
                    (щоб дізнатися більше про використання файлів cookie,
                    ознайомтеся з нашою <a href="#">Політикою щодо файлів cookie</a>)
                </li>
                <li>
                    Відомості про пристрій
                </li>
                <li>
                    Дані про використання та висновки
                </li>
                <li>
                    Налаштування користувача
                </li>
                <li>
                    Дані з інших джерел (зі сторонніх платформ; від партнерів із технічних послуг;
                    рекламодавців та інших партнерів)
                </li>
            </ul>
            <h5 class="page-subtitle bold">
                Юридичні консультації або захист Pinterest у судових процесах чи інших правових суперечках:
            </h5>
            <ul class="page-body-ul">
                <li>
                    Ми зберігаємо та передаємо інформацію, коли звертаємося за юридичною консультацією
                    або прагнемо захистити себе під час судових та інших суперечок. Зокрема,
                    це стосується порушення наших Умов і політик.
                </li>
            </ul>
            <p class="page-body bold">
                Законні інтереси, на які ми покладаємось
            </p>
            <ul class="page-body-ul">
                <li>
                    У наших інтересах та інтересах користувачів Pinterest — відповідати на скарги,
                    запобігати шахрайству, несанкціонованому використанню Pinterest,
                    порушенням наших Умов і політик або іншій шкідливій чи незаконній діяльності,
                    а також боротися з ними.
                </li>
                <li>
                    У наших інтересах звертатися за юридичною консультацією та захищати себе
                    (зокрема, наші права, персонал, майно або продукти), наших користувачів або і
                    нших осіб, у тому числі в межах розслідувань, регуляторних запитів і
                    судових або інших правових суперечок.
                </li>
            </ul>
            <p class="page-body bold">
                Категорії інформації, які ми використовуємо
            </p>
            <p class="page-body">
                Фактична інформація, що використовується, залежить від обставин,
                але може включати в себе зазначені нижче типи даних.
            </p>
            <ul class="page-body-ul">
                <li>
                    Інформація про обліковий запис (за винятком расової чи етнічної приналежності)
                </li>
                <li>
                    Контент
                </li>
                <li>
                    Інформація про місцезнаходження
                </li>
                <li>
                    Зміст вашого спілкування з нами
                </li>
                <li>
                    Дані журналу
                </li>
                <li>
                    Інформація, отримана за допомогою даних файлів cookie та
                    подібних технологій (щоб дізнатися більше про використання файлів cookie,
                    ознайомтеся з нашою <a href="#">Політикою щодо файлів cookie</a>)
                </li>
                <li>
                    Відомості про пристрій
                </li>
                <li>
                    Дані про використання та висновки
                </li>
                <li>
                    Налаштування користувача
                </li>
                <li>
                    Дані з інших джерел (зі сторонніх платформ; від партнерів із технічних послуг;
                    рекламодавців та інших партнерів)
                </li>
            </ul>
            <h5 class="page-subtitle bold">
                Для спілкування з вами ми:
            </h5>
            <ul class="page-body-ul">
                <li>
                    Щоб відповідати на ваші запитання або коментарі.
                </li>
                <li>
                    Повідомляємо вам про оновлення (наприклад, коли хтось зберігає або
                    коментує ваші піни в Pinterest) і новини електронною поштою або у вигляді
                    push-сповіщень залежно від ваших налаштувань. Наприклад, ми щотижня ми
                    надсилаємо повідомлення, що містять піни, які можуть вам сподобатися.
                    Залежно від вашого місця проживання ці повідомлення можуть бути маркетинговими,
                    і в певних випадках ми отримуватимемо вашу згоду. Ви можете <a href="#">вимкнути сповіщення</a>
                    в <a href="#">налаштуваннях</a>.
                </li>
            </ul>
            <p class="page-body bold">
                Законні інтереси, на які ми покладаємось
            </p>
            <ul class="page-body-ul">
                <li>
                    У наших інтересах та інтересах користувачів Pinterest —
                    постійно вдосконалювати й розвивати службу підтримки клієнтів.
                </li>
                <li>
                    Крім того, у наших із користувачами спільних інтересах — пропонувати нові функції та
                    елементи, які можуть зацікавити користувачів.
                </li>
            </ul>
            <p class="page-body bold">
                Категорії інформації, які ми використовуємо
            </p>
            <ul class="page-body-ul">
                <li>
                    Інформація про обліковий запис (за винятком расової чи етнічної приналежності)
                </li>
                <li>
                    Контент
                </li>
                <li>
                    Інформація про місцезнаходження
                </li>
                <li>
                    Зміст вашого спілкування з нами
                </li>
                <li>
                    Дані журналу
                </li>
                <li>
                    Інформація, отримана за допомогою даних файлів cookie та
                    подібних технологій (щоб дізнатися більше про використання файлів cookie,
                    ознайомтеся з нашою <a href="#">Політикою щодо файлів cookie</a>)
                </li>
                <li>
                    Відомості про пристрій
                </li>
                <li>
                    Дані про використання та висновки
                </li>
                <li>
                    Налаштування користувача
                </li>
                <li>
                    Дані з інших джерел (зі сторонніх платформ; від партнерів із технічних послуг;
                    рекламодавців та інших партнерів)
                </li>
            </ul>
            <h5 class="page-subtitle bold">
                Для надання актуальної, цікавої та персоналізованої реклами в межах Сервісів ми:
            </h5>
            <ul class="page-body-ul">
                <li>
                    Визначаємо, які рекламні оголошення показувати вам на основі інформації, отриманої нами в
                    нашому Сервісі. Наприклад, якщо ви цікавитеся наметами для кемпінгу в Pinterest,
                    ми можемо показувати вам рекламу інших товарів для активного відпочинку.
                </li>
            </ul>
            <p class="page-body bold">
                У наших інтересах та інтересах користувачів Pinterest — зробити так, щоб користувачі
                отримували актуальну та цікаву рекламу товарів або послуг, якими вони цікавляться,
                на відміну від випадкових і загальних рекламних оголошень, які можуть бути їм не цікавими.
                Це також є основним джерелом фінансування сервісу та дає змогу користувачам продовжувати
                користуватися сервісом безкоштовно, а Pinterest — отримувати дохід.
            </p>
            <ul class="page-body-ul">
                <li>
                    Інформація про обліковий запис (за винятком расової чи етнічної приналежності)
                </li>
                <li>
                    Контент
                </li>
                <li>
                    Інформація про місцезнаходження
                </li>
                <li>
                    Зміст вашого спілкування з нами
                </li>
                <li>
                    Дані журналу
                </li>
                <li>
                    Інформація, отримана за допомогою даних файлів cookie та
                    подібних технологій (щоб дізнатися більше про використання файлів cookie,
                    ознайомтеся з нашою <a href="#">Політикою щодо файлів cookie</a>)
                </li>
                <li>
                    Відомості про пристрій
                </li>
                <li>
                    Дані про використання та висновки
                </li>
                <li>
                    Налаштування користувача
                </li>
                <li>
                    Дані з інших джерел (зі сторонніх платформ; від партнерів із технічних послуг;
                    рекламодавців та інших партнерів)
                </li>
            </ul>
            <h5 class="page-subtitle bold">
                Для забезпечення вимірювань та аналітики реклами ми:
            </h5>
            <ul class="page-body-ul">
                <li>
                    Використовуємо зведену інформацію від наших постачальників вимірювань, щоб наші партнери
                    могли дізнатися про ефективність своєї реклами в Pinterest, а також про те, як її покращити.
                    Наприклад, ми можемо повідомити рекламодавця, що певний відсоток користувачів завітав на
                    його сайт після перегляду піна. Щоб дізнатися більше про звіти щодо реклами, <a href="#">
                    відвідайте Довідковий центр</a>.
                </li>
            </ul>
            <p class="page-body bold">
                Законні інтереси, на які ми покладаємось
            </p>
            <p class="page-body">
                У наших інтересах — надавати рекламодавцям і корпоративним користувачам можливість переглядати
                й визначати показники ефективності їхніх рекламних оголошень чи контенту, а також бачити
                категорії аудиторії, які переглядали чи взаємодіяли з їхньою рекламою чи контентом.
                Саме тому вони можуть приймати обґрунтовані рішення (наприклад, які рекламні кампанії
                запускати, які категорії аудиторії охоплювати та які типи контенту найбільше подобаються користувачам).
                Це також в інтересах інших користувачів, оскільки допомагає підтримувати рекламу й інший контент,
                який ми показуємо користувачам, актуальними та цікавими, і робить Сервіс безкоштовним для всіх
                користувачів.
            </p>
            <p class="page-body bold">
                Категорії інформації, які ми використовуємо
            </p>
            <ul class="page-body-ul">
                <li>
                    Інформація про обліковий запис (за винятком расової чи етнічної приналежності)
                </li>
                <li>
                    Контент
                </li>
                <li>
                    Інформація про місцезнаходження
                </li>
                <li>
                    Зміст вашого спілкування з нами
                </li>
                <li>
                    Дані журналу
                </li>
                <li>
                    Інформація, отримана за допомогою даних файлів cookie та
                    подібних технологій (щоб дізнатися більше про використання файлів cookie,
                    ознайомтеся з нашою <a href="#">Політикою щодо файлів cookie</a>)
                </li>
                <li>
                    Відомості про пристрій
                </li>
                <li>
                    Дані про використання та висновки
                </li>
                <li>
                    Налаштування користувача
                </li>
                <li>
                    Дані з інших джерел (зі сторонніх платформ; від партнерів із технічних послуг;
                    рекламодавців та інших партнерів)
                </li>
            </ul>
            <h5 class="page-subtitle bold">
                Для показу рекламних оголошень за межами Pinterest, актуальної,
                цікавої та персоналізованої інформації про Pinterest ми:
            </h5>
            <ul class="page-body-ul">
                <li>
                    Рекламуємо вам товари й послуги Pinterest на інших сайтах. Для цього ми розкриваємо інформацію,
                    як-от ідентифікатори файлів cookie, вашу IP-адресу та хешовану версію вашої електронної адреси
                    для сервісів, які ми використовуємо для реклами Pinterest на сайтах і в додатках,
                    відмінних від Pinterest, як-от Facebook Ads, Google Marketing Platform тощо.
                </li>
            </ul>
            <p class="page-body bold">
                Законні інтереси, на які ми покладаємось
            </p>
            <p class="page-body">
                Ми маємо законне право показувати вам цікаві актуальні й персоналізовані
                рекламні оголошення заради отримання прибутку.
            </p>
            <p class="page-body bold">
               Чому і як ми використовуємо ваші дані
            </p>
            <ul class="page-body-ul">
                <li>
                    Інформація про обліковий запис (за винятком расової чи етнічної приналежності)
                </li>
                <li>
                    Контент
                </li>
                <li>
                    Інформація про місцезнаходження
                </li>
                <li>
                    Зміст вашого спілкування з нами
                </li>
                <li>
                    Дані журналу
                </li>
                <li>
                    Інформація, отримана за допомогою даних файлів cookie та
                    подібних технологій (щоб дізнатися більше про використання файлів cookie,
                    ознайомтеся з нашою <a href="#">Політикою щодо файлів cookie</a>)
                </li>
                <li>
                    Відомості про пристрій
                </li>
                <li>
                    Дані про використання та висновки
                </li>
                <li>
                    Налаштування користувача
                </li>
                <li>
                    Дані з інших джерел (зі сторонніх платформ; від партнерів із технічних послуг;
                    рекламодавців та інших партнерів)
                </li>
            </ul>
        </div>
    </div>

    <div class="accordion">
        <div class="chapter">
            <h5 class="page-subtitle">
                Ми використовуємо інформацію відповідно до наших юридичних зобов’язань
            </h5>
             <img src="   https://cdn-icons-png.flaticon.com/512/32/32195.png " width="20"
                 height="20" alt="" title="" class="img-small">
        </div>
        <div class="explanation">
            <h5 class="page-subtitle bold">
                Чому і як ми використовуємо ваші дані
            </h5>
            <p class="page-body bold">
                Дотримання юридичних і нормативних зобов'язань
            </p>
            <ul class="page-body-ul">
                <li>
                    Отримання доступу до інформації, її зберігання чи розкриття у відповідь на судовий
                    наказ, ордер на обшук, виробничий наказ, повістку або подібний юридичний запит.
                </li>
                <li>
                    Отримання доступу до інформації, її зберігання чи розкриття, коли ми вважаємо
                    за доцільне дотримуватися юридичних або нормативних зобов’язань, зокрема надавати
                    інформацію правоохоронним або іншим органам влади
                </li>
                <li>
                    Реагування на запити й скарги та їх вирішення. Ми зберігаємо кореспонденцію, пов’язану
                    із запитами суб'єктів даних відповідно до GDPR, протягом двох років на випадок, якщо ці
                    запити не будуть задоволені, і ця кореспонденція необхідна для розгляду будь-яких скарг,
                    що можуть виникнути в результаті. У таких випадках кореспонденція зберігається на час
                    вирішення скарг.
                </li>
            </ul>
            <p class="page-body bold">
                Приклади законів, які можуть зобов’язувати нас обробляти інформацію зазначеним вище способом:
            </p>
            <ul class="page-body-ul">
                <li>
                    Нормативні вимоги: дотримуватися нормативних зобов’язань, наприклад,
                    відповідно до законів про конфіденційність (GDPR).
                </li>
                <li>
                    Закони у сфері цивільного, комерційного, кримінального права або закони
                    про захист прав споживачів: коли ми отримуємо судовий наказ про розкриття
                    інформації для цілей судового розгляду або запитів регуляторних органів
                    (наприклад, наказів або обов’язкових запитів відповідно до Закону Ірландії
                    про конкуренцію та захист прав споживачів 2014 року, GDPR).
                </li>
                <li>
                    Закони про корпорації та оподаткування: такі зобов’язання, як Закон Ірландії
                    про компанії 2014 року та Закон про консолідацію податків 1997 року.
                </li>
            </ul>
            <p class="page-body bold">
                Проблеми, пов’язані з безпекою нашого Сервісу та захистом прав, власності та користувачів
            </p>
            <ul class="page-body-ul">
                <li>
                    Ми зберігаємо інформацію у випадках, коли необхідно дослідити порушення наших Сервісів,
                    як-от розсилання спаму та інші негативні види діяльності. Якщо ми деактивуємо
                    обліковий запис через порушення наших Умов, ми також зберігаємо інформацію
                    про цього користувача з метою захисту, безпеки та цілісності.
                </li>
            </ul>
            <h5 class="page-subtitle bold">Категорії інформації, які ми використовуємо</h5>
            <p class="page-body">
                Будь-яка з категорій інформації, зазначених у розділі
                «<a href="#">Ми збираємо дані різними способами</a>», за винятком точних відомостей про
                місцезнаходження (які ми не збираємо від користувачів у ЄЕЗ, Швейцарії
                чи Великій Британії).
            </p>
        </div>
    </div>

    <div class="accordion">
        <div class="chapter">
            <h5 class="page-subtitle">
                Ми використовуємо відомості, якщо ви надаєте нам згоду
            </h5>
            <img src="   https://cdn-icons-png.flaticon.com/512/32/32195.png " width="20"
                 height="20" alt="" title="" class="img-small">
        </div>
        <div class="explanation">
            <h5 class="page-subtitle bold">
                Як і чому ми використовуємо ваші дані
            </h5>
            <p class="page-body">
                Якщо ви надали нам згоду (наприклад, через налаштування пристрою):
            </p>
            <ul class="page-body-ul">
                <li>
                    Дозвіл пошуку за фотографіями. Наприклад, якщо ви сфотографували пару взуття або меблі,
                    які вам до вподоби, ви можете попросити нас пропонувати вам схожі товари.
                    Ви можете ввімкнути цю функцію в налаштуваннях операційної системи пристрою.
                </li>
                <li>
                    Показ рекламних оголошень у Pinterest на основі дій поза сайтом.
                    Ми персоналізуємо рекламний контент, який показуємо вам,
                    визначаючи ваші інтереси на основі ваших дій поза сайтом, а також
                    використовуючи інформацію, яку отримуємо від партнерів із
                    реклами або третіх сторін. Коли партнери з реклами чи інші
                    треті сторони надають нам інформацію про вас, ми припускаємо,
                    що вони отримали на це вашу згоду.
                </li>
                <li>
                    Оголошення для генерації лідів. Якщо ви надішлете інформацію через форму оголошення для
                    генерації лідів (наприклад, щоб підписатися на розсилку рекламодавця або зареєструватися на
                    консультацію), ми передамо цю інформацію рекламодавцю, як описано у формі
                </li>
                <li>
                    Просування авторів. Якщо ви вирішите надати інформацію про расову чи етнічну приналежність,
                    ми використовуватимемо її для просування вас як автора,
                    наприклад, протягом місяця афроамериканської історії,
                    або зв’язуватимемося з вами щодо подій.
                </li>
            </ul>
            <h5 class="page-subtitle bold">
                Категорії інформації, які ми використовуємо
            </h5>
            <p class="page-body">
                Будь-яка з категорій інформації, зазначених у розділі «<a href="#">
                Ми збираємо дані різними способами</a>»,
                за винятком точних відомостей про місцезнаходження (які ми не збираємо від користувачів у
                ЄЕЗ, Швейцарії чи Великій Британії).
            </p>
        </div>
    </div>
    <p class="page-body">
        Якщо ми спираємося на вашу згоду, ви можете відкликати її в будь-який час.
    </p>
</article>