<article class="article" id="additional_info">
    <h3 class="page-title">
        Додаткова інформація для суб’єктів даних у ЄЕЗ, Швейцарії та Великій Британії:
        юридичні підстави, на які ми спираємося під час використання вашої інформації
    </h3>
    <p class="page-body">
        Наведений нижче розділ застосовується лише для жителів ЄЕЗ, Швейцарії та Великої Британії.
        Згідно з чинним законодавством про захист даних у Європейському регіоні (наприклад, GDPR),
        компанії повинні мати юридичне обґрунтування для обробки вашої інформації з різними цілями,
        описаними в цій Політиці конфіденційності.
    </p>
    <p class="page-body">
        Ви також маєте певні права залежно від того, які юридичні підстави ми використовуємо,
        і ми пояснюємо це нижче.
    </p>
    <div class="accordion-wrapper">
        <div class="accordion">
            <div class="accordion-heading">
                <h5 class="page-subtitle">
                    Ми використовуємо інформацію на основі законних інтересів
                </h5>
                <img src="   https://cdn-icons-png.flaticon.com/512/748/748113.png "
                     width="20" height="20" alt="" title="" class="img-small">
            </div>
            <div class="accordion-content">
                <p class="page-body">
                    Ми покладаємося на наші законні інтереси або інтереси третьої сторони,
                    якщо вони не переважають ваші інтереси й основні права.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-wrapper">
        <div class="accordion">
            <div class="accordion-heading">
                <h5 class="page-subtitle">
                    Ми використовуємо інформацію відповідно до наших юридичних зобов'язань
                </h5>
                <img src="   https://cdn-icons-png.flaticon.com/512/748/748113.png "
                     width="20" height="20" alt="" title="" class="img-small">
            </div>
            <div class="accordion-content">
                <p class="page-body">
                    Чому і як ми використовуємо ваші дані
                </p>
            </div>
        </div>
    </div>
</article>