<article class="article" id="changes_adding">
    <h3 class="page-title">
        Як ми вносимо зміни до цієї політики
    </h3>
    <p class="page-body">
        Ми можемо час від часу змінювати цю Політику, і в такому разі ми публікуватимемо
        будь-які зміни на цій сторінці. Якщо ви й далі використовуватимете Pinterest після
        набуття змінами чинності, до вас буде застосовано нову політику. Якщо зміни будуть суттєвими,
        ми можемо надіслати вам окреме сповіщення, наприклад, електронною поштою.
    </p>
</article>