<article class="article" id="contact_us">
    <h3 class="page-title">
        Зв'яжіться з нами
    </h3>
    <p class="page-body">
        Щоб зв’язатися з нами чи виконати описані вище дії, перейдіть на сторінку <a href="#">Довідкового центру</a>.
        Якщо ви проживаєте в Сполучених Штатах, за збереження вашої інформації несе відповідальність
        компанія Pinterest, Inc. Ви можете зв’язатися з Pinterest Inc. за адресою 651 Brannan Street,
        Сан-Франциско, Каліфорнія, 94107, США.
    </p>
    <p class="page-body">
        Ви можете також зв’язатися з нашою <a href="#">відповідальною за збереження даних особою</a> .
    </p>
    <p class="page-body">
        Дата набуття чинності: 1 серпня 2023 р.
    </p>
</article>