<article class="article" id="giving">
    <h3 class="page-title">
        Передавання вашої інформації
    </h3>
    <p class="page-body">
        Pinterest — це міжнародна служба. Користуючись нашими продуктами або службами,
        ви даєте нам дозвіл передавати й зберігати вашу інформацію для цілей, описаних у цій політиці,
        поза межами вашої країни, зокрема в Сполучених Штатах. Захист конфіденційності й права
        державних служб отримувати доступ до особистої інформації в цих країнах можуть відрізнятися
        від відповідних законів у вашій країні.
    </p>
    <div class="accordion">
        <div class="chapter">
            <h5 class="page-subtitle">
                Додаткові дії для передачі даних у ЄЕЗ,
                Швейцарії та Великій Британії
            </h5>
            <img src="   https://cdn-icons-png.flaticon.com/512/32/32195.png " width="20"
                 height="20" alt="" title="" class="img-small">
        </div>
        <div class="explanation">
            <p class="page-body">
                Якщо ви проживаєте в ЄЕЗ, Швейцарії або Великій Британії, ми вживаємо додаткових
                заходів щодо передачі даних. Інформація, що перебуває під контролем Pinterest Europe Limited,
                буде передана, або збережена та оброблена в США чи інших державах за межами країни,
                де ви проживаєте, з метою, описаною в цій політиці. Зверніть увагу, що передача даних
                необхідна для надання послуг, викладених у наших Умовах, і для функціонування
                нашої платформи в усьому світі.
            </p>
            <p class="page-body">
                Оскільки Pinterest є міжнародною службою, ми можемо передавати особисті дані жителів ЄЕЗ
                Швейцарії та Великої Британії за межі країн їх проживання. Коли ми передаємо дані з
                ЄЕЗ, Швейцарії або Великої Британії до країни, яка не дбає про належний рівень захисту,
                ми вживаємо відповідних заходів для убезпечення ваших даних.
            </p>
            <p class="page-body">
                Запобіжні заходи, на які ми покладаємося для забезпечення належного рівня захисту вашої інформації:
            </p>
            <ul class="page-body-ul">
                <li>
                    Рішення про достатність заходів. Це рішення, видані Європейською комісією відповідно до
                    статті 45 GDPR (або еквівалентні рішення відповідно до інших законів), у яких визнається,
                    що країна пропонує адекватний рівень захисту даних. Ми передаємо вашу інформацію, як
                    описано в розділі «<a href="#">Як ми використовуємо зібрану інформацію</a>», у деякі країни, що
                    відповідають рішенням про достатність заходів (список цих країн наведено тут); або
                </li>
                <li>
                    Стандартні договірні умови («<b>СДУ</b>»). Єврокомісія схвалила
                    договірні умови відповідно до статті 46 GDPR, що дозволяє компаніям у ЄЕЗ
                    передавати дані за межі ЄЕЗ. Ці умови (і їхній затверджений еквівалент для
                    Великої Британії та Швейцарії) називаються стандартними договірними умовами.
                    Ми покладаємося на стандартні договірні умови для передавання інформації, як
                    описано в розділі «<a href="#">Як ми використовуємо зібрану інформацію</a>», певним організаціям нашої
                    групи компаній і третім сторонам у країнах, що не відповідають рішенням про
                    достатність заходів.
                </li>
                <li>
                    У той час як передавання даних до країн, які не відповідають рішенням про достатність
                    заходів, зазвичай відбуваються на основі СДУ, за певних обставин передавання також може
                    відбуватися на підставі винятків, передбачених законодавством про захист персональних даних
                    . Наприклад, ми передаємо інформацію правоохоронним органами в надзвичайних ситуаціях,
                    коли дізнаємося, що життя людини під загрозою.
                </li>
            </ul>
            <p class="page-body">
                Крім того, ми визначаємо та застосовуємо додаткові засоби захисту для кожного випадку передачі даних.
                Наприклад, ми використовуємо:
            </p>
            <ul class="page-body-ul">
                <li>
                    технічні методи захисту, як-от шифрування та псевдонімизація; і
                </li>
                <li>
                    політики та процедури для оскарження невідповідних або незаконних запитів державних органів.
                </li>
            </ul>
            <p class="page-body">
                Для отримання копії рішень про достатність заходів або СДУ зверніться до нас за
                допомогою контактних даних, наведених у розділі «<a href="#">Зв’яжіться з нами</a>» нижче.
            </p>
        </div>
    </div>
</article>