<article class="article" id="information_given">
    <h3 class="page-title">Як ми збираємо інформацію</h3>
    <h5 class="page-subtitle">
        1.Коли ви надаєте її нам або даєте дозвіл на її отримання
    </h5>
    <p class="page-body">
        Під час використання сайтів, додатків, сервісів, технологій,
        API й віджетів або будь-яких інших <a href="#">товарів</a> чи функцій Pinterest,
        які ми («Pinterest» або «Сервіс») пропонуємо, ви добровільно надаєте певні дані.
    </p>
    <ul class="page-body-ul">
        <li>
            <b>Інформація про обліковий запис.</b>
            Коли ви приєднуєтеся до наших Сервісів, ми збираємо такі дані,
            як ваше ім’я, електронна адреса, дата народження, стать і
            вибрана мова. Якщо у вас корпоративний обліковий запис,
            то, залежно від вашого місця проживання, ви також можете
            додати у свій профіль інформацію про расову чи етнічну приналежність.
        </li>
        <li>
            <b>Контент.</b>Ми збираємо інформацію, коли ви зберігаєте або
            завантажуєте піни, фото або інший контент, взаємодієте з
            пінами чи іншим контентом (наприклад, коментуєте чи додаєте пін),
            а також надсилаєте повідомлення та взаємодієте з іншими користувачами.
        </li>
        <li>
            <b>Точна інформація про місцезнаходження.</b>
            Залежно від того, де ви проживаєте, ви можете вказати своє точне
            місцезнаходження в налаштуваннях пристрою.
        </li>
        <li>
            <b>Зміст вашого спілкування з нами</b>
            Якщо ви звертаєтеся до нас за підтримкою або інакше спілкуєтеся з нами,
            ми збираємо контент цих повідомлень.
        </li>
        <li>
            <b>Ваші контакти</b>
            Якщо ви раніше синхронізували контакти з обліковим записом, ми й далі
            оброблятимемо певні відомості про ваших контактів, які є
            користувачами Pinterest, щоб допомогти вам знайти одне одного в нашому Сервісі.
        </li>
    </ul>
    <h5 class="page-subtitle">
        2.Ми також отримуємо технічні відомості, коли ви користуєтесь Fineterest
    </h5>
    <p class="page-body">
        Коли ви користуєтеся сайтом, мобільним додатком або іншою інтернет-службою,
        певна інформація про дії в Інтернеті чи локальній мережі записується й зберігається автоматично.
        Це стосується й Pinterest. Нижче наведено кілька типів інформації, яку ми збираємо.
    </p>
    <ul class="page-body-ul">
        <li>
            <b>Інформація про пристрій.</b>
            Ми збираємо інформацію про пристрій, який ви використовуєте для доступу до наших Сервісів,
            включаючи тип пристрою, операційну систему, постачальника мережевих послуг,
            налаштування та унікальні ідентифікатори пристрою.
        </li>
        <li>
            <b>Дані журналу.</b>
             Щоразу, коли ви користуєтеся нашими Сервісами, ваш браузер або мобільний додаток автоматично
            надсилає дані, які записуються та зберігаються на наших серверах (у журналі активності).
            У журналі активності зберігаються, наприклад, ваша IP-адреса, дії на відвідуваних вами сайтах,
            що мають вбудовані функції Pinterest (наприклад, кнопку «Зберегти»), тип і налаштування браузера,
            а також дата й час отримання доступу до сервісів. <a href="#">Тут ви можете дізнатися більше про дані,
            які ми зберігаємо в журналах активності </a>.
        </li>
        <li>
            <b>Інформація, отримана за допомогою файлів cookie та подібних технологій</b>
            Ми використовуємо файли cookie або подібні технології для отримання даних журналу.
            Наприклад, ми використовуємо файли cookie, щоб зберігати відомості про налаштування мови
            або інші настройки. Завдяки цьому вам не потрібно налаштовувати їх щоразу,
            коли ви заходите на Pinterest. Щоб дізнатися більше про використання файлів cookie,
            <a href="#">ознайомтеся з політикою щодо файлів cookie</a> .
        </li>
        <li>
            <b>Дані про використання та висновки</b>
            Коли ви користуєтеся нашими Сервісами, ми аналізуємо ваші дії: які піни ви натискаєте, які терміни
            шукаєте, які дошки створюєте, які описи та коментарі публікуєте. На основі цих відомостей,
            а також даних, які ви надали під час реєстрації та інформації від наших партнерів і р
            екламодавців ми робимо висновки про вас і ваші вподобання. Наприклад, якщо ви створюєте дошку про
            подорожі, ми можемо вирішити, що ви захоплюєтеся туризмом. Крім того, ми також можемо зробити інші
            висновки, як-от про вашу освіту чи професійний досвід.
        </li>
        <li>
            <b>Інформація про місцезнаходження.</b>
            Ми використовуємо вашу IP-адресу для визначення вашого приблизного місцезнаходження,
            навіть якщо ви не вказуєте його, а фотографії, якими ви ділитеся, можуть містити
            інформацію про місце, де вони були зроблені.
        </li>
        <li>
            <b>Вибір користувача:</b>
            ми візьмемо до уваги вибрані вами налаштування, зокрема налаштування конфіденційності та
            ввімкнення сповіщень.
        </li>
    </ul>
    <h5 class="page-subtitle">
        3.Наші партнери й рекламодавці надають нам дані
    </h5>
    <p class="page-body">
        Ми також отримуємо інформацію про вас і ваші дії за межами Pinterest від наших афілійованих компаній,
        рекламодавців, партнерів і третіх осіб, з якими ми співпрацюємо. Ось кілька прикладів.
    </p>
    <ul class="page-body-ul">
        <li>
            <b>Сторонні платформи</b>
            Якщо ви зареєструєтеся в Сервісі або ввійдете в обліковий запис для його використання
            за допомогою сторонньої платформи, ця платформа надасть нам певну інформацію,
            щоб полегшити вам створення вашого облікового запису в нашому Сервісі або
            вхід у нього. Крім того, якщо ви <a href="#">підключите сторонні облікові записи</a> до наших Сервісів,
            ми можемо використовувати інформацію з цих облікових записів для покращення
            вашої взаємодії із Сервісами. Також, для деяких сторонніх додатків використовуються
            функції Pinterest, як-от наша кнопка «Зберегти», або ви можете встановити нашу кнопку
            «Зберегти» для браузера. У цьому разі ми збираємо дані журналу з цих сайтів або додатків,
            зокрема дані про використання.
        </li>
        <li>
            <b>Партнери з технічних послуг.</b>
            Іноді ми отримуємо інформацію про вас від наших партнерів із технічних послуг,
            зокрема від маркетингових фірм.
        </li>
        <li>
            <b>Рекламодавці чи інші партнери.</b>
            Інтернет-рекламодавці або треті сторони діляться з нами інформацією про вас для оцінки чи
            підвищення ефективності рекламних оголошень у Pinterest або кращого визначення типу реклами,
            який вам краще пропонувати на нашій платформі. Наприклад, ми можемо отримувати відомості
            про відвідування вами сайту рекламодавців або товари, які ви в них придбали,
            а також інформацію про ваші зацікавлення від третіх сторін, яку ми можемо
            використовувати, щоб показувати вам певну рекламу в межах нашого Сервісу.
            Іноді ми отримуємо цю інформацію за допомогою тега Pinterest (фрагмента коду,
            який рекламодавець розміщує на своєму сайті), який повідомляє нас і наших партнерів із
            реклами, як користувач взаємодіє з їхнім сайтом після перегляду рекламного оголошення в нашому
            Сервісі. <a href="#">Дізнайтеся більше про тег Pinterest</a> і типи даних,
            які рекламодавці або треті сторони надають нам.
        </li>
    </ul>
    <p class="page-body">
        Щоб керувати тим, як ми використовуємо цю інформацію для персоналізації
        матеріалів і рекламних оголошень, які ви бачите в Pinterest, перейдіть у розділ
        <a href="#">Налаштування конфіденційності й обробки даних </a>.
    </p>
</article>