<article class="article" id="information_usage">
    <h3 class="page-title">Як ми використовуємо зібрану інформацію</h3>
    <p class="page-body bold">
        Ми прагнемо показувати вам цікавий, актуальний і персоналізований контент.
        Для цього ми використовуємо вашу інформацію для забезпечення належної роботи Сервісу й
        удосконалення вашої взаємодії з ним, наприклад:
    </p>
    <ul class="page-body-ul">
        <li>
            Визначаємо вашу особу, коли ви користуєтеся нашими Сервісами.
        </li>
        <li>
            Рекомендуємо піни, дошки або контент, які можуть вам сподобатися, на основі
            ваших дій у нашому Сервісі й за межами наших сайтів. Наприклад, якщо ми побачимо,
            що в Pinterest вас цікавить контент на тему приготування страв, ми можемо пропонувати
            вам піни, пов’язані з продуктами харчування. Так само, якщо ви відвідаєте сайти,
            на яких продаються електрогітари, ми можемо пропонувати вам піни на тему гітар.
            Щоб дізнатися більше про те, як ми рекомендуємо контент, перегляньте наші
            <a href="#">Умови надання послуг</a> .
        </li>
        <li>
            Щоб відповідати на ваші запитання або коментарі.
        </li>
        <li>
            Розвиваємо вашу спільноту в межах наших Сервісів. Ми використовуємо вашу інформацію,
            щоб пропонувати вам інших людей, які мають схожі інтереси. Наприклад, якщо ви підписалися на
            дошки з дизайном інтер’єрів, ми можемо запропонувати дизайнерів інтер’єру,
            які можуть вас зацікавити. Ми також використовуємо дані, щоб допомогти вашим друзям
            і контактам знайти вас у Pinterest. Наприклад, люди можуть шукати ваш обліковий запис
            у Pinterest за допомогою вашої електронної адреси. Якщо ви раніше синхронізували свої
            контакти з вашим обліковим записом Pinterest, ми оброблятимемо певні відомості про ваших
            контактів, які є користувачами Pinterest, щоб допомогти вам знайти їх у нашому Сервісі.
        </li>
        <li>
            За вашим бажанням дозволяємо вам здійснювати пошук за допомогою фотографій.
            Наприклад, якщо ви сфотографували пару взуття або меблі, які вам до вподоби,
            ви можете попросити нас пропонувати вам схожі товари. Ви можете ввімкнути цю функцію
            в налаштуваннях операційної системи пристрою.
        </li>
        <li>
            Залежно від того, де ви проживаєте, і за вашої згоди ми можемо визначати ваше
            точне місцезнаходження та персоналізувати вашу взаємодію з нашими Сервісами.
            Наприклад, якщо ми знаємо, що ви перебуваєте поруч із певним продавцем,
            ми можемо показати вам його піни, які, на нашу думку, вас зацікавлять.
            Ви можете ввімкнути (і вимкнути) цю функцію в налаштуваннях операційної системи пристрою.
        </li>
        <li>
            Надсилаємо вам оновлення, зокрема електронною поштою, push-сповіщеннями, SMS або телефоном.
            Ви можете будь-коли скасувати підписку на рекламні листи й <a href="#">відмовитися від іншої розсилки</a>
            в <a href="#">налаштуваннях</a>
        </li>
    </ul>
    <p class="page-body bold">
        Ми використовуємо вашу інформацію для покращення наших Сервісів, для безпеки наших
        користувачів і громадськості, а також для захисту законних інтересів. Для цього ми:
    </p>
    <ul class="page-body-ul">
        <li>
            Відстежуємо ваші дії та повідомлення в нашому Сервісі, щоб виявляти спам або діяльність,
            яка становить загрозу для нашої спільноти або громадськості. Зокрема, ми можемо співпрацювати
            з правоохоронними органами, щоб підтримувати безпеку Pinterest.
        </li>
        <li>
            Аналізуємо дані журналів користувачів та інформацію про пристрої, щоб виявляти й
            досліджувати підозрілі дії або порушення наших правил або Умов.
        </li>
        <li>
            Можемо отримувати доступ до інформації про користувачів у зв’язку з позовною
            заявою, судовим процесом або адміністративним провадженням.
        </li>
        <li>
            Аналізуємо та вивчаємо дані про те, хто і як саме використовує наші Сервіси.
            Наприклад, обробка даних про частоту використання двох різних версій
            однієї функції на Pinterest дасть нам змогу дізнатися, яка з версій краща.
        </li>
        <li>
            Поліпшуємо якість товарів і сервісів нашої групи компаній, а також пропонуємо нові функції.
        </li>
        <li>
            Створюємо узагальнену або знеособлену інформацію, яка не може бути використана
            для вашої ідентифікації. Pinterest обробляє, зберігає й використовує цю інформацію
            тільки в знеособленому вигляді для цілей цієї Політики конфіденційності та не буде
            намагатися повторно ідентифікувати таку інформацію.
        </li>
    </ul>
    <p class="page-body bold">
        Крім того, ми використовуємо ваші дані для персоналізації реклами, яку ви бачите
    </p>
    <p class="page-body">
        Зокрема, ми використовуємо зібрану інформацію для зазначених нижче цілей.
    </p>
    <ul class="page-body-ul">
        <li>
            Визначаємо, які рекламні оголошення вам показувати. Наприклад, якщо вас
            зацікавлять туристичні намети на платформі Pinterest або ви переглядатимете
            спальні мішки на одному з сайтів нашого партнера, ми можемо показувати вам
            рекламу інших товарів для активного відпочинку на природі. Ми персоналізуємо
            рекламний контент, який показуємо вам, визначаючи ваші інтереси на основі
            ваших дій на сайті й поза ним, а також використовуючи інформацію,
            яку отримуємо від партнерів із реклами або третіх сторін. Ми використовуємо
            файли cookie для визначення ваших інтересів за межами платформи лише за
            наявності вашої згоди, якщо вона потрібна.
        </li>
        <li>
            Рекламуємо вам товари й послуги Pinterest на інших сайтах і в інших додатках.
            Для цього ми розкриваємо таку інформацію, як ідентифікатори файлів cookie,
            вашу IP-адресу або хешовану версію вашої електронної адреси третім особам,
            як-от Facebook Ads, Google Marketing Platform тощо, які можуть об’єднувати цю
            інформацію з іншими відомостями, що вони вже мають про вас, і
            показувати вам рекламу Pinterest. <a href="#">Дізнайтеся більше про наші маркетингові</a>
            практики поза межами Pinterest і про те, як відмовитися від них.
        </li>
        <li>
            Повідомляти наших партнерів із реклами про ефективність їхніх оголошень у Pinterest,
            а також надавати поради щодо її покращення. Для цього ми розкриваємо рекламодавцям
            і стороннім компаніям інформацію про рекламу, яку ви бачите або з якою взаємодієте
            в Pinterest, щоб покращити ефективність реклами, яку ми або вони використовуємо
            для аудиту або підвищення ефективності реклами чи контенту на сайтах і в додатках.
            Деякі із цих відомостей узагальнюються. Наприклад, ми можемо повідомити рекламодавця,
            що певний відсоток користувачів завітав на його сайт після перегляду піна.
            Залежно від вашого місця проживання і настройок ми також можемо розкривати цю
            інформацію на рівні окремих користувачів. Наприклад, ми можемо повідомити
            рекламодавця про тих користувачів, які зберегли певний пін. Щоб дізнатися
            більше про звіти щодо реклами, <a href="#">відвідайте Довідковий центр</a> .
        </li>
    </ul>
    <p class="page-body">
        Деякі з цих дій можуть вважатися «цільовою рекламою», «поширенням» або «продажем»
        відповідно до того, як ці терміни визначаються в межах законів певних штатів
        США про конфіденційність. Ви можете заборонити Pinterest використовувати й
        розкривати вашу інформацію для цих цілей. Для цього відкрийте <a href="#">налаштування
        конфіденційності й обробки даних</a> .
    </p>
    <p class="page-body">
        Якщо ми використовуємо файли cookie для вивчення ваших дій під час вашої
        взаємодії з нашими Сервісами чи за їхніми межами, ми або наші партнери отримуємо
        вашу згоду, яка може знадобитися відповідно до чинного законодавства.
        Щоб дізнатися більше про те, як ми використовуємо файли cookie,
        перегляньте нашу <a href="#">Політику щодо файлів cookie</a> .
    </p>
</article>