<article class="article" id="login-keeping">
    <h3 class="page-title">
        Як довго ми зберігаємо вашу інформацію
    </h3>
    <p class="page-body">
        Ми зберігаємо ваші дані поки вони потрібні вам або нам у цілях, описаних у цій Політиці,
        або для забезпечення роботи Pinterest. Коли ми припинимо використання ваших даних і їх
        не потрібно буде зберігати відповідно до законних або правових зобов’язань, ми видалимо
        їх із нашої системи або зробимо так, щоб вони не вказували на вашу особу.
    </p>
    <p class="page-body">
        Якщо ви проживаєте в ЄЕЗ, Великій Британії або Швейцарії, ознайомтеся з додатковою
        інформацією щодо нашої практики зберігання. Ми зберігаємо вашу інформацію, лише доки
        це необхідно для цілей, зазначених у цій Політиці конфіденційності, наприклад для надання
        нашого Сервісу, або для інших законних цілей, як-от дотримання юридичних зобов’язань,
        забезпечення дотримання та запобігання порушенням наших Умов, боротьба зі спамом або захист
        наших прав, власності та користувачів. Періоди зберігання визначаються в кожному окремому випадку.
        Ми зберігаємо дані облікового запису, як-от ваші ім’я, електронна адреса та пароль, поки ваш
        обліковий запис існує, оскільки ця інформація потрібна нам для його обслуговування.
    </p>
</article>