<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <ul class="nav-list">
                <li><a href="#">Заява про конфіденційність у Каліфорнії</a></li>
                <li><a href="#">Внесені зміни</a></li>
                <li><a href="#">Дякуємо, що користуєтесь Fineterest!</a></li>
                <li><a href="#">Сфера застосування Політики конфіденційності</a></li>
                <li><a href="#">Як ми збираємо інформацію</a></li>
                <li><a href="#">Як ми використовуємо зібрану інформацію</a></li>
                <li><a href="#">
                    Додаткова інформація для суб'єктів даних у ЄЕЗ,
                    Швейцарії та Великій Британії:юридичні підстави,
                    на які ми спираємось під час використання вашої
                    інформації
                </a></li>
                <li><a href="#">Ваші права та варіанти вибору</a></li>
                <li><a href="#">Як і коли ми передаємо вашу інформацію</a></li>
                <li><a href="#">Передавання вашої інформації</a></li>
                <li><a href="#">Як довго ми зберігаємо вашу інформацію</a></li>
                <li><a href="#">Політика щодо дитячих даних</a></li>
                <li><a href="#">Як ми вносимо зміни до цієї політики</a></li>
                <li><a href="#">Зв'яжіться з нами</a></li>
            </ul>
        </nav>
    </div>
</div>