<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <ul class="nav-list">
                <li><a href="#first-article">Заява про конфіденційність у Каліфорнії</a></li>
                <li><a href="#changes">Внесені зміни</a></li>
                <li><a href="#thank_article">Дякуємо, що користуєтесь Fineterest!</a></li>
                <li><a href="#usage_niche">Сфера застосування Політики конфіденційності</a></li>
                <li><a href="#information_given">Як ми збираємо інформацію</a></li>
                <li><a href="#information_usage">Як ми використовуємо зібрану інформацію</a></li>
                <li><a href="#additional_info">
                    Додаткова інформація для суб'єктів даних у ЄЕЗ,
                    Швейцарії та Великій Британії:юридичні підстави,
                    на які ми спираємось під час використання вашої
                    інформації
                </a></li>
                <li><a href="#user_rights">Ваші права та варіанти вибору</a></li>
                <li><a href="#when_giving">Як і коли ми передаємо вашу інформацію</a></li>
                <li><a href="#giving">Передавання вашої інформації</a></li>
                <li><a href="#long_keeping">Як довго ми зберігаємо вашу інформацію</a></li>
                <li><a href="#child_data">Політика щодо дитячих даних</a></li>
                <li><a href="#changes_adding">Як ми вносимо зміни до цієї політики</a></li>
                <li><a href="#contact_us">Зв'яжіться з нами</a></li>
            </ul>
        </nav>
    </div>
</div>