<article class="article" id="thank_article">
    <h3 class="page-title">Дякуємо, що користуєтесь Fineterest</h3>
    <p class="page-body">
        Наша мета — надихати кожного й давати людям
        можливість займатись улюбленою справою.
        Для цього ми на основі отриманої від вас та
        інших осіб інформації показуємо вам
        персоналізований контент і рекламні оголошення,
        які, на нашу думку, можуть вас зацікавити.
    </p>
    <p class="page-body">
        Ми розробили цю Політику, щоб роз’яснити вам,
        які дані ми збираємо, як ми їх використовуємо,
        і які можливості впливу на це маєте ви.
        Деякі з розглянутих нижче питань містять
        технічні подробиці, проте ми доклали
        всіх зусиль, щоб пояснити їх якомога доступніше.
    </p>
</article>