<article class="article" id="usage_niche">
    <h3 class="page-title">Сфера застосування Політики конфіденційності</h3>
    <p class="page-body">
        Це глобальна Політика конфіденційності Pinterest. Нижче ми підкреслили,
        де певний розділ застосовується до вас, виходячи з місця вашого проживання
    </p>
    <p class="page-body">
        Для цілей Загального регламенту про захист даних (<b>«GDPR»</b>) —
        якщо ви є резидентом ЄЕЗ, Швейцарії та Великої Британії, —
        Pinterest Europe Ltd. і Pinterest, Inc. є спільними контролерами
        ваших персональних даних. Pinterest Europe Ltd. — це ірландська компанія,
        офіс якої зареєстровано за адресою Palmerston House, 2nd Floor, Fenian Street, Dublin 2,
        Ireland.  Pinterest Inc. — це американська компанія, офіс якої зареєстровано за адресою 6
        51 Brannan St., San Francisco, CA 94107, USA. Pinterest Europe Ltd є відповідальним
        контролером за виконання ключових зобов’язань згідно з GDPR.  Якщо у вас є запитання
        щодо обробки даних, зверніться до нашого <a href="#">спеціаліста із захисту даних </a>.
    </p>
</article>