<article class="article" id="user-rights">
    <h3 class="page-title">
        Ваші права та варіанти вибору
    </h3>
    <p class="page-body">
        Ми пропонуємо вам певні варіанти керування даними. Залежно від місця вашого проживання
        (наприклад, ЄЕЗ, Швейцарія, Велика Британія, США), ці варіанти також можуть
        включати в себе права на конфіденційність, які ви маєте відповідно до місцевого
        законодавства. Щоб скористатися цими правами, перейдіть у <a href="#">налаштування облікового запису</a>
        та, за необхідності, у наш <a href="#">Довідковий центр</a> .
    </p>
    <ul class="page-body-ul">
        <li>
            <b>Доступ.</b>
            Ви можете надіслати запит на доступ до інформації, яку ми збираємо та
            зберігаємо про вас, зокрема в зручному для перенесення форматі.
            Додаткову інформацію про це можна знайти в <a href="#">нашому Довідковому центрі</a> .
        </li>
        <li>
            <b>Виправлення/змінення.</b>
            Ви можете виправити свої дані, змінивши відомості у своєму профілі.
        </li>
        <li>
            <b>Видалення/стирання.</b>
            Ви можете видалити свою інформацію. У настройках виберіть пункт «Видалення даних і
            облікового запису» і дотримуйтеся вказівок.
        </li>
        <li>
            <b>
                Відмова від «цільової реклами» «поширення» або «продажу»
            </b>
            Як пояснювалося вище, деякі види нашої діяльності можуть являти собою «цільову рекламу»,
            «поширення» або «продаж», відповідно до того, як ці терміни визначаються в межах законів
            певних штатів США про конфіденційність. Ви можете будь-коли вимкнути цю функцію,
            виконавши вказівки в меню «Настройки конфіденційності й обробки даних». Зауважте,
            що ви однаково бачитимете рекламні оголошення в нашому Сервісі, але вони не будуть
            засновані на інформації, яку ми отримали з джерел за межами нашої платформи.
        </li>
    </ul>
    <div class="accordion">
        <div class="chapter">
            <h5 class="page-subtitle">
                Додаткові права користувачів із
                ЄЕЗ, Великобританії та Швейцарії
            </h5>
            <img src="   https://cdn-icons-png.flaticon.com/512/32/32195.png " width="20"
                 height="20" alt="" title="" class="img-small">
        </div>
        <div class="explanation">
            <p class="page-body">
                Якщо ви проживаєте в ЄЕЗ, Великій Британії або
                Швейцарії, ви також маєте додаткові права:
            </p>
            <ul class="page-body-ul">
                <li>
                    <b>
                        Право на заперечення або обмеження обробки.
                    </b>
                    Ви можете заперечити проти безпосереднього маркетингу з нашого боку або обмежити обробку ваших
                    даних, коли ми покладаємося в цьому на наші законні інтереси.
                    Ви можете заявити про заперечувати за допомогою цієї <a href="#">форми</a>.
                </li>
                <li>
                    <b>
                        Право на відкликання згоди
                    </b>
                    Якщо ми покладаємося на згоду як юридичну підставу для обробки ваших даних, ви можете відкликати
                    свою згоду на будь-якому етапі. Відкликання вашої згоди не вплине на законність обробки
                    з боку Pinterest, яка могла відбутися до такого відкликання.
                </li>
                <li>
                    <b>
                        Право на перенесення
                    </b>
                     Ви можете надіслати інформацію, яку ви нам надали, до іншої організації, якщо ми зберігаємо
                    цю інформацію за вашою згодою або для виконання контракту з вами та якщо це технічно можливо.
                </li>
                <li>
                    <b>
                        Право подати скаргу.
                    </b>
                    Якщо ви проживаєте в ЄЕЗ, Швейцарії або Великій Британії, ви маєте право подати
                    скаргу до наглядового органу вашої країни.
                </li>
                <ul class="page-body-ul inner">
                    <li>
                        У Великій Британії відповідним органом із захисту даних є Офіс Уповноваженого з питань
                        інформації (Information Commissioner's Office Офіс), Wycliffe House,
                        Water Lane, Wilmslow, Cheshire, SK9 5AF, +44 (0303) 123 1113, ел.
                        пошта: casework@ico.org.uk.
                    </li>
                    <li>
                        В Ірландії відповідним органом із захисту даних є Комісія з питань захисту даних
                        (Data Protection Commission), 21 Fitzwilliam Square South, Дублін 2, D02 RD28,
                        +353 017650100 / + 353 1800437737, ел. пошта: info@dataprotection.ie або за
                        допомогою цієї онлайн-форми: <a href="#">Форма для захисту даних</a>.
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <p class="page-body">
        Якщо ви вирішите скористатися своїми правами або можливостями, пов’язаними з вашими особистими даними,
        це жодним чином не вплине на умови обслуговування. Ці права можуть бути обмежені,
        наприклад, якщо виконання вашого запиту призведе до розкриття персональних даних про
        іншу особу, якщо це порушить права третьої сторони (зокрема, наші права),
        або якщо ви попросите нас видалити інформацію, яку ми зобов’язані зберігати згідно
        із законом або щодо збереження якої маємо вагомий законний інтерес. Якщо ми відхилимо
        ваш запит на реалізацію ваших прав, ви можете оскаржити наше рішення, звернувшись
        до нас на адресу <a href="mailto:privacy-support@gmail.com">privacy-support@gmail.com</a>.
    </p>
    <p class="page-body">
        У вас є різні варіанти керування своєю інформацією в Pinterest. Якщо ви маєте обліковий запис Pinterest,
        більшість функцій можна знайти безпосередньо в Pinterest або налаштуваннях. Наприклад, ви можете:
        <a href="#">редагувати інформацію у своєму профілі</a>, <a href="#">пов’язати обліковий
        запис Pinterest з іншими
        службами (наприклад, Facebook чи Google) або від’єднати його від них</a>, <a href="#">редагувати
        налаштування прихованої дошки</a> та <a href="#">закрити обліковий запис у будь-який момент</a>.
        Ми також підтримуємо такі налаштування, як обмеження трекінгу реклами в
        iOS і персоналізація оголошень на пристроях з Android.
    </p>
    <p class="page-body">
        Ви можете також змінити налаштування пристрою або програмного забезпечення,
        за допомогою якого користуєтеся Pinterest. Ось кілька прикладів.
    </p>
    <ul class="page-body-ul">
        <li>
            Ви можете керувати файлами cookie або іншими типами локального збереження даних у
            браузері, яким користуєтеся.
        </li>
        <li>
            Ви можете визначати, як і коли ваші точне місцеперебування, фотографії та інші дані
            надаватимуться нам, у налаштуваннях мобільного пристрою.
        </li>
    </ul>
</article>