<article class="article" id="when_giving">
    <h3 class="page-title">
        Як і коли ми передаємо вашу інформацію
    </h3>
    <p class="page-body">
        Будь-хто може переглядати загальнодоступний контент, що ви публікуєте,
        як-от дошки й піни, а також публічну інформацію, що ви надаєте в профілі.
        Залежно від того, де ви проживаєте, ця інформація також є
        публічною завдяки API, якими ми користуємося (API — це спосіб
        швидко передавати інформацію). За допомогою API Pinterest партнери можуть дізнатися,
        котрі з їхніх пінів мають найбільший успіх або як вони поширюються в нашому
        сервісі. Ми також надаємо зазначені категорії інформації переліченим нижче третім сторонам.
    </p>
    <ul class="page-body-ul">
        <li>
            Іншим сервісам, за вашою ініціативою. Наприклад, коли ви приймаєте рішення <a href="#">пов’язати свій
            обліковий запис Pinterest</a> зі сторонніми сервісами або коли ви публікуєте свій контент
            Pinterest у таких сервісах, ви створюєте підставу для розкриття певної інформації
            цим службам. Автори можуть давати нам привід ділитись інформацією з рекламодавцями
            чи іншими партнерами для платних взаємодій.
        </li>
        <li>
            Ми передаємо дані для рекламування та пов’язаних цілей, зокрема показуємо вам рекламні оголошення про
            Pinterest у сторонніх сервісах і допомагаємо рекламодавцям зрозуміти, як працює реклама в
            Pinterest. Коли ви заповнюєте форму для показу оголошення для генерації лідів,
            ми надсилаємо цю інформацію рекламодавцю, як описано у формі.
        </li>
        <li>
            Продавцям, яких ми залучаємо до обробки даних від нашого імені відповідно до наших вказівок
            і для цілей, описаних у цій Політиці конфіденційності. Наприклад, ми надаємо дані
            консультантам із питань безпеки, щоб успішніше виявляти спам. Деякі з отримуваних
            нами відомостей можуть збирати від нашого імені продавці
        </li>
        <li>
            Правоохоронним чи державним органам або іншим сторонам згідно з вимогами законодавства.
            Наприклад, правоохоронні органи (поліція або судові установи) можуть надсилати
            нам запити на отримання інформації про облікові записи. Ми надаємо дані у
            відповідь на такі запити, лише якщо вважаємо, що їх розкриття є обґрунтовано
            необхідним для дотримання норм закону чи правового акта або внаслідок офіційного
            запиту для захисту безпеки, прав або власності суспільства, окремих осіб чи Pinterest,
            а також для виявлення шахрайства, порушень безпеки чи технічних проблем і запобігання
            їм або іншої боротьби з ними. Щоб дізнатися більше про те, як ми реагуємо на запити від
            правоохоронних органів, перегляньте <a href="#">Рекомендації для правоохоронних органів</a>
        </li>
        <li>
            Нашій групі компаній, включно з дочірніми й партнерськими компаніями, якими ми володіємо.
            У разі нашого банкрутства, розпуску, реорганізації, а також нашої участі в
            угодах про злиття, поглинання чи схожих операціях або процедурах,
            що передбачають передавання інформації, описаної в цій Політиці конфіденційності,
            ми передамо ваші дані стороні, залученій у відповідний процес (наприклад, потенційному покупцю).
        </li>
    </ul>
</article>