<article class="twelve-chapter" id="laws">
    <h3 class="page-title">12.Чинні закони і юрисдикція</h3>
    <p class="page-body">
        Якщо ви є споживачем у ЄЕЗ або Сполученому Королівстві,
        ці Умови та ваше використання Сервісу регулюються
        законом країни, у якій ви проживаєте,
        і будь-які претензії, суперечки або розбіжності,
        що виникають у зв’язку із цими Умовами або
        Сервісом, вирішуватимуться в судах країни,
        у якій ви проживаєте
    </p>
    <p class="page-body">
        У всіх інших випадках ці Умови й ваше використання
        Служби регулюються законами штату Каліфорнія
        без дотримання принципів колізійного права.
        Для всіх позовів, на які не поширюється
        дія розділу 11 (Арбітраж), виключним
        місцем юрисдикції для вирішення всіх претензій,
        суперечок або розбіжностей, що виникають через
        ці Умови або у зв’язку з ними, є округ Сан-Франциско,
        штат Каліфорнія або Окружний суд США Північного
        округу штату Каліфорнія, і такі суперечки
        визначатимуться відповідно до законодавства штату
        Каліфорнія.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Територія затоки прекрасна в цю пору року.
            Утім, як і в будь-яку іншу! Тож вирішуймо
            будь-які суперечки саме в Каліфорнії.
            Якщо ви є споживачем у ЄЕЗ або Сполученому
            Королівстві, ви можете позиватися на
            нас у судах на батьківщині.
        </p>
    </div>
</article>