<article class="eight-chapter" id="cashback">
    <h3 class="page-title">8.Відшкодування збитків</h3>
    <p class="page-body">
        Якщо ви використовуєте Pinterest із комерційною метою,
        погодившись на наші Умови надання послуг
        корпоративним користувачам ,
        як того вимагає розділ 2(c) цих Умов,
        ви погоджуєтеся виплачувати відшкодування та
        звільнити від відповідальності Pinterest Inc.,
        Pinterest Europe Ltd. і їхніх партнерів щодо
        будь-яких претензій (включно з обґрунтованими
        адвокатськими гонорарами), пов’язаними
        з використанням нашого Сервісу.
        Fineterest залишає за собою право за
        власний кошт брати на себе винятковий
        захист і контроль у будь-яких питаннях,
        які інакше підлягають відшкодуванню,
        і в цьому разі ви зобов’язуєтеся співпрацювати з
        Fineterest у повному обсязі.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Якщо ви корпоративний користувач і на
            Pinterest подано до суду через ваше
            використання Служби, ви несете повну
            фінансову відповідальність.
        </p>
    </div>
</article>