<article class="eleventh-chapter" id="arbitracy">
    <h3 class="page-title">11.Арбітраж</h3>
    <p class="page-body">
        Якщо ви є споживачем у ЄЕЗ або Сполученому Королівстві
        (Велика Британія), розділ 11 не застосовується до
        суперечок, ініційованих після дати набрання
        чинності цими Умовами.
    </p>
    <p class="page-body">
        Стосовно будь-якої суперечки, яка виникає у вас
        із нами, ви погоджуєтеся спочатку зв’язатися з
        нами й спробувати вирішити суперечку неофіційно.
        Жодна зі сторін не може ініціювати будь-який
        судовий розгляд — чи то в суді, арбітражі
        або будь-якому іншому органі — до завершення
        процедур Повідомлення про суперечку та
        Неформального врегулювання суперечки,
        описаних нижче. Однак, ніщо в цьому розділі не з
        аважає вам або нам домагатися тимчасової судової
        заборони в суді (або в арбітражі),
        щоб зберегти статус-кво або допомогти
        забезпечити виконання цього арбітражного
        застереження на початку розгляду будь-якої суперечки.
    </p>
    <p class="page-body">
        Сторона, що ініціює суперечку, повинна спочатку
        надіслати нам Повідомлення про суперечку,
        яке повинно містити такі відомості:
        ваше повне ім’я; ім’я вашого профілю Fineterest
        (що починається з @); адресу електронної пошти,
        пов’язану з вашим обліковим записом Fineterest;
        вашу країну проживання і, якщо ви є резидентом США,
        ваш штат проживання; ім’я вашого адвоката,
        якщо ви представлені адвокатом; детальний опис
        як суперечки, так і ймовірної шкоди; а також
        ваш підпис. Ця інформація повинна бути надіслана
        електронною поштою на адресу
        <a href="mailto:service_mail@gmail.com">
        service_mail@gmail.com.
        </a>
        Повідомлення можна надсилати лише від імені
        окремої сторони; Повідомлення про суперечку,
        у якому заявляється про права більш ніж однієї
        сторони, є неефективним.
        Отримавши повідомлення про суперечку, Fineterest
        відповість протягом 60 днів,
        щоб спробувати вирішити суперечку мирним шляхом.
        Після закінчення 60-денного періоду будь-яка
        сторона може ініціювати арбітраж.
    </p>
    <p class="page-body">
        <b class="imp-text">Арбітраж</b>. Якщо ми не змогли
        вирішити суперечку за допомогою обов’язкових
        процедур, описаних вище, ви й ми погоджуємося
        вирішити будь-яку претензію, суперечку або
        розбіжність, що випливає із цих Умов або Сервісу,
        через обов’язковий арбітраж або, для
        кваліфікованих позовів, у суді дрібних позовів.
    </p>
    <p class="page-body">
        Арбітраж — це більш неформальний спосіб розв’язання
        наших спірних питань, ніж судовий позов.
        Приймаючи ці Умови надання послуг, ви погоджуєтеся,
        що тлумачення та застосування цього Розділу
        регулюються Федеральним законом США про арбітраж,
        а також, що ви та Pinterest відмовляєтеся від
        права на суд присяжних або участь у груповому позові.
        Крім того, арбітр має виключні повноваження для
        вирішення будь-якої суперечки, пов’язаної з
        тлумаченням, застосовністю або виконанням цієї
        угоди про обов’язковий арбітраж.
    </p>
    <p class="page-body">
        Будь-який арбітраж здійснюватиметься Американською
        арбітражною асоціацією («AAA») відповідно
        до застосовних правил споживчого арбітражу,
        які діють для AAA. Якщо правила AAA якимось
        чином суперечать цим Умовам, переважну силу мають
        Умови. Форми AAA можна знайти на сайті
        <a href="https://www.adr.org/">www.adr.org</a>.
        Арбітр виносить вмотивоване письмове рішення з
        поясненням основних висновків, на яких
        ґрунтується арбітражне рішення.
        Рішення арбітражного суду може бути
        винесено в будь-якому суді компетентної
        юрисдикції. Якщо арбітр визнає,
        що позов сторони був необґрунтованим
        або поданий із неналежною метою, він повинен
        покласти всі збори та витрати, пов’язані
        з арбітражним розглядом, на цю сторону,
        відповідно до Регламенту споживчого арбітражу AAA.
    </p>
    <p class="page-body">
        Усі позови повинні подаватися стороною від її імені,
        а не в межах колективного чи представницького
        провадження. Ви погоджуєтеся, що, приймаючи
        ці умови, ви відмовляєтеся від права на
        суд присяжних або на участь у колективному позові.
    </p>
    <p class="page-body">
        Ніщо в цих умовах не впливає на будь-які нескасовні
        законні права, які застосовуються до вас.
        Якщо будь-яка суперечка є арбітражною згідно
        із чинним законодавством або інакше,
        ви погоджуєтеся з тим, що будь-яка суперечка
        вирішуватиметься виключно відповідно до розділу
        12 цих Умов.
    </p>
    <p class="page-body">
        <b class="imp-text">Пакетний арбітраж</b>.. Для
        забезпечення ефективнішого арбітражного процесу
        ми з вами погоджуємося, що якщо
        50 або більше подібних арбітражних
        вимог будуть подані протягом
        60-денного періоду або за допомогою
        тієї самої юридичної фірми або групи
        юридичних фірм, AAA об’єднає арбітражні
        вимоги. Для кожного пакета AAA стягуватиме
        один набір реєстраційних і адміністративних
        зборів із кожної сторони за кожен пакет,
        і AAA призначатиме одного арбітра для
        вирішення кожного пакета в межах єдиного
        консолідованого арбітражу.
        Арбітражні вимоги є подібними, якщо вони
        випливають з аналогічних фактів і порушують
        подібні правові питання й вимагають
        подібного судового захисту. Будь-яка суперечка
        про схожість буде передана на розгляд єдиному
        арбітру, гонорар якого оплачуємо ми.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">
            Іншими словами
        </h6>
        <p>
            Ви погоджуєтеся повідомити нас про будь-яку
            суперечку та спробувати вирішити її мирним шляхом.
            В іншому разі суперечка буде вирішуватися через
            арбітраж, а не в суді.
        </p>
    </div>
</article>