<article class="fifth-chapter" id="security">
    <h3 class="page-title">5.Безпека</h3>
    <p class="page-body">
        Ми дбаємо про безпеку наших користувачів.
        Хоча ми докладаємо всіх зусиль, щоб захистити ваш Контент
        і обліковий запис користувача, ми не можемо гарантувати,
        що несанкціоновані треті сторони не зможуть обійти
        наші заходи безпеки. Зберігайте ваш пароль у
        таємниці й не розголошуйте його жодній іншій особі
        чи установі. Негайно повідомляйте нас про
        несанкціонований доступ до вашого облікового запису
        або будь-які інші порушення безпеки.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Ви можете допомогти нам захистити ваш
            обліковий запис і платформу Pinterest,
            виконуючи ці <a href="#">поради щодо безпеки</a> .
        </p>
    </div>
</article>