<article class="first-chapter">
    <h3 class="page-title">1.Наш сервіс</h3>
    <p class="page-body">
        Fineterest прагне надихати кожного й давати людям можливість займатись улюбленою справою.
        Для цього ми показуємо речі, які, на нашу думку, будуть актуальними й цікавими саме для вас.
        Рекомендації формуються на основі ваших дій на сайті й поза ним.
        Щоб забезпечувати роботу Сервісу, ми повинні бути в змозі ідентифікувати вас
        і ваші теми, тому ми використовуємо ваші персональні дані для цього.
        Більше можна дізнатися в нашій <a href="#" class="text-link">Політиці конфіденційності .</a>
        Деякі матеріали, які ми вам показуємо, просувають рекламодавці.
        Оскільки рекламний контент є частиною Сервісу, ми намагаємося
        забезпечити актуальність і цікавість навіть такого контенту.
        Ви можете відрізнити рекламний контент від звичайного, оскільки він буде чітко позначений.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Pinterest прагне надихати кожного й давати людям можливість займатись улюбленою справою.
            Ми аналізуватимемо вибрані вами теми, щоб показувати в Pinterest контент і рекламу,
            які можуть вас зацікавити.
        </p>
    </div>
</article>