<article class="fourth-chapter">
    <h3 class="page-title">4.Інтелектуальна власність</h3>
    <h5 class="page-subtitle">а.Політика захисту авторських прав і Політика у відношенні до товарних знаків</h5>
    <p class="page-body">
        Згідно із чинним законодавством про інтелектуальну
        власність Служба Pinterest прийняла та впровадила
        Політику Pinterest щодо захисту авторських
        прав і Політику Pinterest щодо торгових марок.
        Додаткову інформацію можна знайти в нашій
        <a href="#">Політиці щодо захисту авторських прав</a> і
        <a href="#">Політиці щодо торгових марок</a> .
    </p>
    <h5 class="page-subtitle">b.Інтелектуальна власність Fineterest</h5>
    <p class="page-body">
        Ви визнаєте й погоджуєтеся з тим, що між вами й
        нами узгоджено, що ми є власниками всіх майнових
        та інших прав і правопідстав, а також усіх прав
        інтелектуальної власності (зокрема авторських прав,
        прав на торгові марки й патенти), що належать до
        Сервісу («Інтелектуальна власність Fineterest»),
        і ви не повинні використовувати жодну Інтелектуальну
        власність Fineterest, за винятком випадків,
        необхідних для дозволеного використання Fineterest.
        Маємо уточнити, що контент користувача не має
        стосунку до Інтелектуальної власності Fineterest.
    </p>
    <p class="page-body">
        Якщо ви використовуєте Інтелектуальну власність
        Fineterest із порушенням цих Умов, ваше право на
        використання Pinterest негайно
        припиняється і ви повинні повернути або знищити
        будь-які копії Інтелектуальної власності
        Fineterest, які ви створили.
        Згідно із цими Умовами вам не передаються
        жодні права на володіння, назву чи прибутки
        від Fineterest або будь-якої Інтелектуальної
        власності Finenterest, і ми зберігаємо за
        собою всі права, які не надані вам прямо.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Ми поважаємо інтелектуальну власність,
            включно з авторськими правами та правами
            на торгові марки. Вам слід поважати також.
        </p>
    </div>
</article>