<article class="ninth-chapter">
    <h3 class="page-title">9.Відмова від відповідальності</h3>
    <div class="bold-text">
        <p class="page-body">
            У МЕЖАХ, ДОПУСТИМИХ ЧИННИМ ЗАКОНОДАВСТВОМ,
            НАШІ ПОСЛУГИ ТА ВЕСЬ КОНТЕНТ У FINETEREST НАДАЮТЬСЯ
            НА УМОВАХ «ЯК Є» БЕЗ ЖОДНИХ ЯВНИХ АБО ПРИХОВАНИХ ГАРАНТІЙ.
        </p>
        <p class="page-body">
            Fineterest явно відмовляється від будь-яких
            гарантій та умов комерційної придатності,
            придатності для певної мети та відсутності
            порушення прав, а також будь-яких гарантій,
            що виникають у зв’язку з торгівлею або
            використанням товару.
        </p>
        <p class="page-body">
            Fineterest не несе відповідальності за будь-який
            користувацький контент, який ви або будь-яка
            інша особа чи стороння особа публікуєте або
            надсилаєте за допомогою сервісу. Ви розумієте
            й погоджуєтеся, що ви можете зіткнутися з
            користувацьким контентом, який є неточним,
            небажаним, неприйнятним для дітей або
            іншим чином не відповідає вашим цілям.
        </p>
        <p class="page-body">
            Ми не гарантуємо, що Fineterest чи будь-яка
            частина сервісу, або будь-які матеріали чи
            контент, що пропонуються через Pinterest,
            є точними, повними чи актуальними,
            або що вони будуть завжди доступні,
            безпечні чи не міститимуть помилок, вірусів
            або інших шкідливих компонентів.
        </p>
        <p class="page-body">
            Ми можемо вносити зміни до Pinterest із різних
            причин. Ми не несемо відповідальності
            за будь-які зміни в Pinterest, а також
            за будь-яке призупинення або припинення
            вашого доступу до Pinterest.
        </p>
        <p class="page-body">
            Обмеження, виключення та відмови від відповідальності
            в цьому розділі застосовуються в повному обсязі,
            дозволеному чинним законодавством.
        </p>
        <p class="page-body">
            Якщо ви є споживачем у Європейській економічній зоні
            (ЄЕЗ) або Сполученому Королівстві (Велика Британія),
            ми не виключаємо й не обмежуємо будь-яку
            відповідальність за грубу недбалість,
            умисел, смерть або тілесні ушкодження,
            спричинені нашою необережністю або
            навмисною поведінкою.
        </p>
    </div>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Ми працюємо щодня для поліпшення нашого
            сервісу та сподіваємося, що він вам
            подобається. Ми можемо час від часу та
            з різних причин вносити зміни до Pinterest,
            зокрема додавати, видаляти або змінювати функції
            та порядок роботи наших сервісів.
            Але такі сервіси, як Fineterest, не є ідеальними,
            і ви погоджуєтеся використовувати наші служби
            «як є», без гарантій.
        </p>
    </div>
</article>