<header class="policy_header">
    <ul class="header">
        <li><a href="#">Політика</a></li>
        <li><a href="{% url 'usage_terms' %}">Умови</a></li>
        <li><a href="{% url 'confidence_policy' %}">Конфіденційність</a></li>
        <li><a href="{% url 'community_guidelines' %}">Спільнота</a></li>
        <li><a href="#">Продавець</a></li>
        <li><a href="#">Реклама</a></li>
        <li><a href="#">Розробники</a></li>
        <li><a href="#">Копірайт</a></li>
        <li><a href="#">Товарні знаки</a></li>
        <li><a href="#">Доступність служб і даних</a></li>
        <li><a href="#">Забезпечення дотримання правил</a></li>
    </ul>
</header>