<article class="second-chapter" id="fineterest-usage">
    <h3 class="page-title">2.Користування Fineterest</h3>
    <h5 class="page-subtitle">1.Хто може користуватись Fineterest</h5>
    <p class="page-body">
        Ви можете використовувати Pinterest, лише якщо дотримуєтеся цих Умов і всіх застосовних законів.
        Використання Pinterest може включати завантаження програмного забезпечення на комп’ютер,
        телефон, планшет або інший пристрій. Ви погоджуєтеся з тим, що ми можемо автоматично
        оновлювати це програмне забезпечення та що ці Умови застосовуватимуться до будь-яких оновлень.
        Під час створення облікового запису Pinterest ви маєте надати точну й повну інформацію.
    </p>
    <p class="page-body">
        Користувачам віком до 13 років заборонено будь-який доступ до Pinterest
        чи користування цим Сервісом. Якщо вам виповнилося 13 років,
        ви можете користуватися Pinterest, якщо досягли мінімального віку для надання згоди,
        передбаченого у вашій країні. Якщо вам від 13 до 18 років,
        ви можете користуватися Сервісом лише з дозволу батьків або законного опікуна.
        Переконайтеся, що ваші батьки або законний опікун розглянули та обговорили з вами ці Умови.
    </p>
    <p class="page-body">
        Якщо ми вимкнули ваш обліковий запис через порушення цих Умов,
        будь-якої нашої політики або з юридичних причин, ви не зможете
        створити новий обліковий запис Pinterest без нашого письмового дозволу,
        який надається на наш власний розсуд.
    </p>
    <p class="page-body">
        Використовуючи Pinterest, ви погоджуєтеся не вилучати (через вебскрапінг),
        не збирати, не шукати, не копіювати дані або контент Pinterest і не отримувати
        до них доступ несанкціонованими способами, наприклад за допомогою
        автоматизованих засобів (без нашого прямого попереднього дозволу),
        а також не отримувати чи намагатись отримати доступ до даних, на які ви не маєте дозволу.
    </p>
    <p class="page-body">
        Ви не можете використовувати чи завантажувати Сервіс
        (зокрема пов’язане програмне забезпечення) або іншим чином
        отримувати до нього доступ, за винятком способів, дозволених
        чинними торговельними обмеженнями, зокрема санкціями та експортним
        контролем США, ЄС і Сполученого Королівства.
        Ви погоджуєтеся не використовувати Сервіс для будь-яких цілей,
        заборонених чинними торговельними обмеженнями.</p>
    <p class="page-body">
        Будь-яке використання Pinterest, прямо не дозволене цими
        Умовами, є порушенням цих Умов і може порушувати авторське право,
        право на торгову марку й інші закони.
    </p>
    <h5 class="page-subtitle">2.Наша ліцензія для вас</h5>
    <p class="page-body">
        У разі вашої згоди із цими Умовами й нашими політиками ми надаємо
        вам обмежену невиключну непередавану й відкличну ліцензію,
        що не передбачає права надавати субліцензію, на доступ до
        Служби та її використання відповідно до цих Умов і наших політик.
    </p>
    <p class="page-body">
        Ви не можете надавати дозвіл на використання Pinterest
        неавторизованими третіми сторонами чи в їхніх інтересах.
        Жодне положення цих Умов не тлумачитиметься як таке,
        що дозволяє вам передавати чи надавати право на доступ
        до Pinterest або використання Служби. Усі права, які
        не надані вам прямо, зберігаються за нами й нашими
        ліцензіарами. За винятком випадків, визначених у розділі
        3(b), ви не можете: (i) змінювати Службу або робити похідні роботи на її основі,
        (ii) відтворювати Службу чи доступ до неї або
        (iii) копіювати будь-які функції чи можливості Служби.
    </p>
    <h5 class="page-subtitle">3.Користування Fineterest із комерційною метою</h5>
    <p class="page-body">
        Якщо ви бажаєте використовувати Pinterest із комерційною метою,
        необхідно створити корпоративний обліковий запис і погодитися
        з нашими <a href="#">Умовами надання бізнес-послуг </a>. Якщо ви відкриваєте
        обліковий запис компанії, організації або іншої установи,
        то займенник «ви» стосуватиметься вас і цієї установи.
        Ви також засвідчуєте й гарантуєте, що маєте право надавати
        всі дозволи та ліцензії, передбачені цими Умовами, накладати
        на установу зобов’язання за цими Умовами, і погоджуєтесь із
        цими Умовами від імені установи. Якщо будь-які положення
        <a href="#">Умов надання бізнес-послуг</a> суперечать цим Умовам надання послуг,
        <a href="#">Умови надання бізнес-послуг</a> матимуть переважну силу.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Ці Умови є угодою між вами й нами. Ви не можете використовувати Fineterest,
            якщо не досягли віку 13 років (або більше в деяких країнах).
            Якщо ви користуєтеся Fineterest для роботи, необхідно налаштувати
            корпоративний обліковий запис. Ми надаємо вам відкличну ліцензію на
            використання Pinterest, на яку поширюються наші Умови й політики
            згідно з наведеними вище положеннями.  Якщо ми не домовилися про інше, то,
            якщо дію вашого облікового запису було призупинено, ви не зможете повернутися до Pinterest.
        </p>
    </div>
</article>