<article class="seventh-chapter" id="arrangement">
    <h3 class="page-title">7.Розірвання угоди</h3>
    <p class="page-body">
        Ми можемо припинити або призупинити ваше право на доступ до
        Fineterest або використання Сервісу через будь-яке
        порушення цих Умов. Якщо цього вимагає закон,
        ми надішлемо вам письмове повідомлення. Ви також
        можете будь-коли закрити або видалити свій
        обліковий запис. Щоб дізнатися,
        <a href="#">як видалити свій обліковий запис</a> ,
        відвідайте наш довідковий центр.
    </p>
    <p class="page-body">
        Після розірвання угоди розділи 3, 8, 9, 10, 11, 12 і 13
        цих Умов і далі будуть чинними.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Fineterest надається вам безплатно. Ми залишаємо
            за собою право відмовити в обслуговуванні
            будь-кому та надаємо повідомлення про
            розірвання угоди відповідно до закону.
        </p>
    </div>
</article>