<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <p>
                <a href="#">
                    Дякуємо за використання Fineterest!
                </a>
            </p>
            <ul class="nav-list">
                <li><a href="#our-service">1.Наш сервіс</a></li>
                <li><a href="#fineterest-usage">2.Використання Fineterest</a></li>
                <li><a href="#user-content">3.Ваш Користувацький контент</a></li>
                <li><a href="#intelectual-own">4.Інтелектуальна власність</a></li>
                <li><a href="#security">5.Безпека</a></li>
                <li>
                    <a href="#third-sides-links">
                        6.Посторонні посилання,веб-сайти і сервіси
                    </a>
                </li>
                <li><a href="#arrangement">7.Зупинка терміну дії згоди</a></li>
                <li><a href="#cashback">8.Гарантія відшкодування збитків</a></li>
                <li><a href="#ninth-chapter">9.Відмова від відповідальності</a></li>
                <li><a href="#tenth-chapter">10.Обмеження відповідальності</a></li>
                <li><a href="#arbitracy">11.Арбітраж</a></li>
                <li>
                    <a href="#laws">
                        12.Застосування законодавства і юрисдикція
                    </a>
                </li>
                <li>
                    <a href="#overall-terms">
                        13.Загальні умови
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>