<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <p>
                <a href="#">
                    Дякуємо за використання Fineterest!
                </a>
            </p>
            <ul class="nav-list">
                <li><a href="#">1.Наш сервіс</a></li>
                <li><a href="#">2.Використання Fineterest</a></li>
                <li><a href="#">3.Ваш Користувацький контент</a></li>
                <li><a href="#">4.Інтелектуальна власність</a></li>
                <li><a href="#">5.Безпека</a></li>
                <li>
                    <a href="#">
                        6.Посторонні посилання,веб-сайти і сервіси
                    </a>
                </li>
                <li><a href="#">7.Зупинка терміну дії згоди</a></li>
                <li><a href="#">8.Гарантія відшкодування збитків</a></li>
                <li><a href="#">9.Відмова від відповідальності</a></li>
                <li><a href="#">10.Обмеження відповідальності</a></li>
                <li><a href="#">11.Арбітраж</a></li>
                <li>
                    <a href="#">
                        12.Застосування законодавства і юрисдикція
                    </a>
                </li>
                <li>
                    <a href="#">
                        13.Загальні умови
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>