<article class="sixth-chapter">
    <h3 class="page-title">
        6.Зв'язки з третіми сторонами, сайтами й
        постачальниками послуг
    </h3>
    <p class="page-body">
        Fineterest може містити посилання на сайти,
        рекламодавців, служби, компоненти
        програмного забезпечення, спеціальні
        пропозиції чи інші події або діяльність
        третіх сторін, які не належать нам чи
        контролюються нами. Ми не підтримуємо й
        не несемо відповідальності за будь-які
        сторонні сайти, інформацію, матеріали,
        продукти або сервіси. Якщо ви отримуєте
        доступ до будь-якого стороннього сайту,
        сервісу чи контенту тощо через Fineterest,
        ви робите це на свій власний ризик і погоджуєтеся
        з тим, що ми не несемо відповідальності за
        використання або придбання вами будь-якого
        стороннього сайту, сервісу чи контенту тощо.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">
            Іншими словами
        </h6>
        <p>
            Ми дозволяємо користувачам включати посилання
            на контент за межами Fineterest.
            Ми не несемо відповідальності за будь-який
            контент, який ви переглядаєте на сторонніх
            сайтах або в інших сервісах, а також за
            використання вами такого контенту.
        </p>
    </div>
</article>