<article class="tenth-chapter">
    <h3 class="page-title">10.Обмеження відповідальності</h3>
    <div class="bold-text">
        <p class="page-body">
            У максимальному обсязі, дозволеному законом,
            ми не несемо відповідальності за будь-які непрямі,
            випадкові, особливі, побічні або штрафні збитки,
            або будь-яку втрату прибутку чи доходу,
            понесені прямо чи опосередковано, або будь-яку
            втрату даних, використання, ділової репутації
            чи інші нематеріальні збитки, що виникли внаслідок
            (а) вашого доступу до сервісу, його використання
            або неможливості отримати доступ до сервісу
            або використовувати його; (b) будь-якої
            поведінки або контенту будь-якої третьої
            сторони в сервісі, зокрема будь-якої наклепницької,
            образливої або незаконної поведінки інших
            користувачів або третіх осіб; або (c)
            несанкціонованого доступу, використання
            або зміни ваших переданих даних чи контенту.
        </p>
        <p class="page-body">
            У жодному разі наша сукупна відповідальність за
            всіма претензіями, пов’язаними із сервісом,
            не може перевищувати сто доларів США
            (100 дол. США). Вищезазначене не впливає
            на будь-яку відповідальність, яка не може
            бути виключена або обмежена відповідно до
            чинного законодавства.
        </p>
        <p class="page-body">
            Якщо ми заподіяли вам шкоду, і ви є споживачем у ЄЕЗ або
            Сполученому Королівстві, вищезазначене не застосовується.
            Натомість відповідальність Fineterest буде обмежена
            передбачуваними збитками, що виникли внаслідок
            порушення істотних договірних зобов’язань,
            характерних для цього типу договору. Fineterest не
            несе відповідальності за збитки, які виникли в
            результаті неістотного порушення будь-якого іншого
            застосовного обов’язку із забезпечення інтересів.
            Це обмеження відповідальності не поширюється на
            будь-яку передбачену законом відповідальність,
            яка не може бути обмежена, на відповідальність за
            смерть або тілесні ушкодження, спричинені нашою
            недбалістю або навмисними неправомірними діями,
            або на виключення нашої відповідальності за щось,
            що ми вам недвозначно пообіцяли.
        </p>
    </div>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Ми докладаємо всіх зусиль, щоб якість наших
            послуг була якомога кращою, проте не можемо
            гарантувати, що вона буде відмінною.
            Ми не несемо відповідальності за різні втрати
            або збитки.
        </p>
    </div>
</article>