<article class="thirteen_chapter" id="overall-terms">
    <h3 class="page-title">13.Загальні умови</h3>
    <h5 class="page-subtitle">
        a.Процедури сповіщень і внесення змін до цих Умов
    </h5>
    <p class="page-body">
        Ми можемо час від часу доопрацьовувати,
        додавати або видаляти будь-які або всі
        розділи цих Умов, і найновіша версія
        завжди буде розміщена на нашому сайті.
        Якщо іншого не вимагає законодавство,
        ми повідомлятимемо вас про будь-які
        суттєві зміни в цих Умовах до того,
        як будь-яке оновлення набуде чинності.
        Ваш подальший доступ до Pinterest чи його
        використання після такого оновлення означає
        обов’язкове прийняття вами цих змін. Суперечки,
        що виникають під час дії цих Умов,
        вирішуватимуться відповідно до версії цих
        Умов на момент виникнення суперечки.
        Зверніть увагу, що за подальшого користування
        Fineterest ви зобов’язуєтеся дотримуватися
        версії цих Умов, поточної на момент роботи із Сервісом.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">
            Іншими словами
        </h6>
        <p>
            Якщо ми вноситимемо суттєві зміни до поточних
            умов, то повідомимо вас про це заздалегідь.
            Якщо ви не погоджуєтеся з новими умовами,
            просимо вас негайно припинити використовувати
            Fineterest.
        </p>
    </div>
    <h5 class="page-subtitle">b.Передавання прав</h5>
    <p class="page-body">
        Якщо ви є споживачем у ЄЕЗ або Сполученому Королівстві,
        то ви або ми можемо передавати цю угоду та
        будь-які надані нею права й ліцензії третій стороні.
        У всіх інших випадках ви не можете передавати ці
        Умови та будь-які надані ними права й ліцензії,
        але ми можемо робити це без обмежень.
        Кожна спроба передання з порушенням цих
        умов визнаватиметься недійсною та такою,
        що не має законної сили.
    </p>
    <p class="page-body">
        У разі такого передання з нашої сторони ви маєте
        право негайно припинити дію угоди шляхом
        деактивації вашого облікового запису.
        Ми заздалегідь повідомимо вас про будь-яке
        таке передання.
    </p>
    <h5 class="page-subtitle">
        c.Повна угода/автономність положень угоди
    </h5>
    <p class="page-body">
        Ці Умови є повною угодою між вами й нами щодо Служби.
        Якщо будь-яке положення цих Умов буде визнано недійсним,
        тоді це положення буде обмежено або ігноруватиметься
        до необхідного мінімуму, а решта положень цих
        Умов залишатимуться чинними й матимуть повну
        юридичну силу.
    </p>
    <h5 class="page-subtitle">
        d.Відсутність відмови від права
    </h5>
    <p class="page-body">
        Жодна відмова від прав за будь-якими положеннями цих
        Умов не передбачає подальшої або постійної відмови
        від прав за таким або іншим положенням,
        і якщо ми не скористаємося будь-яким правом
        або положенням відповідно до цих Умов,
        це не означатиме, що ми відмовилися від
        такого права або положення.
    </p>
    <h5 class="page-subtitle">
        e.Сторони
    </h5>
    <p class="page-body">
        Якщо ви проживаєте в Сполучених Штатах,
        ці Умови є угодою між вами й компанією
        Pinterest Inc., розташованою за адресою
        651 Brannan Street, San Francisco, CA 94107.
        Якщо ви проживаєте за межами Сполучених Штатів,
        ці Умови є угодою між вами та Pinterest Europe Ltd.,
        ірландською компанією, офіс якої зареєстровано за
        адресою Palmerston House, 2nd Floor, Fenian Street,
        Dublin 2, Ireland. Оскільки Pinterest є всесвітньою
        службою, ви погоджуєтеся з тим, що будь-які права
        й ліцензії, надані чинним документом, приносять
        користь компанії Pinterest Inc. і всім її дочірнім
        і партнерським компаніям у всьому світі.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">
            Іншими словами
        </h6>
        <p>
            Те, до кого ви маєте звертатись, залежить від місця
            вашого проживання
        </p>
    </div>
    <p class="page-body">
        Дата набуття чинності: 1 серпня 2023 р.
    </p>
</article>