<article class="third-chapter">
    <h3 class="page-title">3.Ваш контент користувача</h3>
    <h5 class="page-subtitle">a.Публікація контенту користувача</h5>
    <p class="page-body">
        Fineterest дає змогу публікувати контент, зокрема фотографії, відео,
        коментарі, посилання та інші матеріали. Згідно із цими
        Умовами будь-які матеріали, що ви публікуєте або іншим способом
        робите доступними в Pinterest, називаються «контентом користувача».
        Ви зберігаєте всі права на контент користувача, який ви публікуєте
        в Pinterest, і несете повну відповідальність за нього.
        Увесь контент користувача повинен відповідати цим Умовам і нашим політикам,
        зокрема нашим <a href="#">Правилам спільноти</a> .
    </p>
    <p class="page-body">
        Ви публікуватимете лише контент користувача, який ви маєте право публікувати,
        і не публікуватимете контент користувача, який порушує чиїсь права
        інтелектуальної власності (наприклад, порушення авторських прав, прав
        на торгову марку чи підробка), або є незаконним у будь-який інший спосіб,
        крім випадків застосування винятків чи обмежень передбачених чинним
        законодавством. Ми можемо вживати заходів щодо контенту користувача,
        який порушує поточні Умови чи наші політики, або коли це дозволено чи
        вимагається законодавством, наприклад, видаляти контент або обмежувати
        доступ до нього чи його поширення. Ми також можемо призупинити або припинити
        дію облікових записів користувачів, які неодноразово чи грубо порушують
        права інтелектуальної власності третіх сторін, закон, ці Умови чи наші
        політики або коли це дозволено чи вимагається законодавством. Ми є
        нейтральними посередниками й не перевіряємо весь контент користувача
        до або після його публікації в Сервісі, тому не несемо відповідальності
        перед будь-якою третьою стороною за якість або точність контенту,
        розміщеного вами чи будь-яким іншим користувачем Pinterest.
        Щоб отримати додаткову інформацію про те, як ми застосовуємо нашу
        політику або в інший спосіб уживаємо заходів щодо контенту в Pinterest,
        див. нашу <a href="#">сторінку про контроль за дотриманням правил і політик</a> .
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Якщо ви публікуєте свій контент у Pinterest, він однаково належить вам.
            Використовуючи Pinterest, ви погоджуєтеся публікувати лише контент,
            який відповідає цим Умовам і нашим політикам, є законним і не порушує
            права інших осіб. Якщо ви публікуєте контент, який є незаконним чи
            таким, що порушує чиїсь права або наші Умови чи політики, ми можемо
            вжити заходів щодо контенту користувача та, за необхідності, вашого облікового запису.
        </p>
    </div>
    <h5 class="page-subtitle">b.Як ми й інші користувачі можемо використовувати ваш контент</h5>
    <p class="page-body">
        Публікуючи будь-який контент користувача в Сервісі, ви надаєте
        нам і нашим партнерським компаніям, постачальникам послуг,
        а також нашим користувачам невиключну, безоплатну, передавану,
        глобальну ліцензію, що передбачає право надавати субліцензію,
        на використання, зберігання, оприлюднення чи публічний показ,
        відтворення, збереження, редагування, створення похідних робіт,
        монетизацію, завантаження, переклад і поширення вашого контенту
        користувача, зокрема з метою просування та розповсюдження всього
        Сервісу Pinterest або його частини. Нічого в цих Умовах: (i) не
        надає вам право на отримання будь-якої оплати чи право на частку
        прибутку від будь-якої монетизації контенту користувача або (ii)
        не обмежує інші законні права, які ми можемо мати на контент
        користувача, наприклад, за іншими ліцензіями. Ми зберігаємо за
        собою право видаляти, змінювати контент користувача або спосіб
        його використання в Pinterest, а також обмежувати його поширення
        з будь-якої причини на власний розсуд і без попередження. Це стосується
        контенту користувача, який, на нашу думку, порушує не тільки поточні Умови,
        а й наші <a href="#">Правила спільноти</a> , <a href="#">Політику щодо авторських прав</a> ,
        <a href="#">Політику щодо торгових марок</a> чи будь-які інші наші політики або створює
        інші обставини, за яких, на нашу думку, зазначені вище заходи будуть в
        інтересах Pinterest або наших користувачів. Якщо необхідно, ви можете
        оскаржити рішення, які, на вашу думку, було прийнято помилково.
    </p>
    <p class="page-body">
        Рекомендації щодо контенту в Fineterest формуються на основі поєднання
        факторів. На рекомендації для вас впливає те, як ви взаємодієте з нашим
        сервісом, теми, які, на нашу думку, можуть вас зацікавити, рівень вашої
        зацікавленості, а також те, що подобається іншим користувачам, які мають
        схожі з вами інтереси та характеристики. На відносну важливість цих
        критеріїв впливає спосіб вашої взаємодії з нашим сервісом, зокрема
        частота взаємодій, а також те, який контент ви зберігаєте чи приховуєте.
    </p>
    <p class="page-body">
        Ви можете налаштувати спосіб створення рекомендацій у налаштуваннях
        конфіденційності та даних, а також у налаштуваннях головної стрічки.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Якщо ви публікуєте свій контент користувача в Pinterest,
            ми можемо показувати його іншим людям, які можуть використовувати
            й зберігати його. Pinterest показує контент користувачам
            на основі низки факторів, зосереджуючись на тому, що,
            на нашу думку, вам буде цікаво. Коли контент порушує ці
            Умови, ми можемо вжити заходів щодо нього та, якщо це необхідно,
            ви можете оскаржити наші дії.
        </p>
    </div>
    <h5 class="page-subtitle">c.Як довго ми зберігаємо ваш Контент користувача</h5>
    <p class="page-body">
        Після припинення дії або деактивації вашого облікового запису чи
        видалення Контенту користувача з Pinterest ми можемо зберігати ваш
        Контент користувача протягом періоду, потрібного для резервного копіювання,
        архівації або аудиту. Ми та наші користувачі можемо утримувати й далі
        використовувати, зберігати, відтворювати, повторно публікувати в пінах,
        змінювати, застосовувати в похідних роботах, оприлюднювати й розповсюджувати
        будь-який Контент користувача, який ви чи інші користувачі зберегли в Pinterest
        або яким поділилися за допомогою Служби.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Якщо ви вирішите опублікувати Контент користувача, ви даєте
            нам дозвіл використовувати його для забезпечення роботи й
            покращення Pinterest. Копії Контенту користувача, якими
            поділились інші користувачі, можуть залишатися, навіть
            якщо Контент користувача або ваш обліковий запис буде видалено.
        </p>
    </div>
    <h5 class="page-subtitle">4.Надані вами відгуки</h5>
    <p class="page-body">
        Ми цінуємо думку наших користувачів і завжди зацікавлені в пропозиціях
        щодо покращення Pinterest. Якщо ви вирішите надіслати коментар,
        ідею або відгук, ви погоджуєтеся, що ми не зобов’язуємося
        зберігати їх у таємниці й маємо повне право користуватися
        ними без компенсацій на вашу користь. Не надсилайте конфіденційні
        відгуки, що належать будь-якій третій стороні. Приймаючи ваше
        повідомлення, ми не відмовляємося від будь-яких прав на
        використання схожих або пов’язаних відгуків, раніше відомих
        нам або створених нашими працівниками чи отриманих з інших джерел.
    </p>
    <h5 class="page-subtitle">e.Наші канали надсилання скарг</h5>
    <p class="page-body">
        Fineterest пропонує канали надсилання скарг, за допомогою
        яких ви можете повідомити нам про контент у Fineterest,
        який, на вашу думку, порушує ці Умови,
        нашу політику або місцеве законодавство. Ми розглянемо ваш
        звіт і вчасно вживемо відповідних дій.  Використовуючи ці
        канали, ви погоджуєтеся подавати скарги добросовісно й не
        зловживати будь-яким каналом, надсилаючи безпідставні
        скарги або звернення. Відвідайте наш довідковий центр,
        щоб дізнатися більше про <a href="#">процедуру подання скарги на
        контент</a> у Fineterest.
    </p>
    <div class="main-info-container">
        <h6 class="main-title">Іншими словами</h6>
        <p>
            Ми цінуємо ваші відгуки й використовуватимемо ваші пропозиції
            та скарги для покращення Fineterest
        </p>
    </div>
</article>