<article class="article" id="complain_sending">
    <h3 class="page-title">
        Надсилання скарги про порушення прав на торгову марку
    </h3>
    <p class="page-body">
        Щоб подати скаргу про порушення прав на торгову марку, ви можете заповнити нашу онлайн-форму.
    </p>
    <p class="page-body">
        <a href="#" class="form-redirect-btn">Заповнення форми скарги про порушення прав на торгову марку</a>
    </p>
    <p class="page-body">
        Якщо ви не бажаєте заповнювати цю форму, надішліть наведену нижче інформацію на
        електронну адресу <a href="mailto:trademark@gmail.com">trademark@gmail.com</a>.
    </p>
    <ul class="page-body-ul">
        <li>
            Ваше повне ім’я за документами й електронний або фізичний підпис (наприклад, ввести ваше повне ім’я).
        </li>
        <li>
            Інформація про торгову марку (марки), права на яку (які), на вашу думку, порушено
            (наприклад, реєстраційний номер торгової марки або матеріали, що демонструють
            права на торгову марку).
        </li>
        <li>
            Контент у Pinterest, який порушує ваші права, включно з інформацією, необхідною для його пошуку,
            як-от URL-адресою контенту (піна, дошки чи облікового запису) на Pinterest.
        </li>
        <li>
            Пояснення, чому, на вашу думку, зазначений контент порушує ваші права на торгову марку.
        </li>
        <li>
            Заява з наведеними нижче тезами
        </li>
        <ul class="page-body-ul inner">
            <li>
                Ви вважаєте, що використання торгових марок, згаданих у вашій скарзі,
                порушує ваші права на торгову марку або права на торгові марки власників,
                яких ви представляєте.
            </li>
            <li>
                Ви заявляєте, що дані у вашій скарзі правдиві й правильні.
            </li>
            <li>
                Під страхом покарання та судової відповідальності ви стверджуєте, що є власником торгових
                марок або явним чином авторизовані діяти від імені власника.
            </li>
            <li>
                Ви розумієте, що копію скарги може бути надіслано користувачу,
                відповідальному за повідомлений контент.
            </li>
        </ul>
        <li>
            Ваша поштова адреса, номер телефону й адреса електронної пошти.
        </li>
    </ul>
</article>