<article class="article" id="counter_contrafakt">
    <h3 class="page-title">
        Боротьба з контрафактом на Pinterest
    </h3>
    <p class="page-body">
        Pinterest забороняє користувачам продавати контрафактну продукцію або сприяти її реалізації на Pinterest.
        Контрафактні товари — це товари, які рекламуються, продаються або поширюються з використанням торгової марки,
        що частково або повністю копіює іншу торгову марку без дозволу власника цієї торгової марки.
    </p>
    <p class="page-body">
        Якщо ви вважаєте, що на Pinterest продаються або рекламуються контрафактні товари, ви можете подати
        скаргу на відповідний контент за допомогою нашої зручної онлайн-форми. Ви також можете повідомити
        про підозру щодо контрафакту, надіславши листа на електронну адресу
        <a href="mailto:trademark@gmail.com">trademark@gmail.com</a>.
    </p>
    <p class="page-body">
        Повідомити про порушення прав на торгову марку найзручніше саме за допомогою форми,
        але ви також можете надіслати нам листа на електронну адресу
        <a href="mailto:trademark@gmail.com">trademark@gmail.com</a>.
    </p>
    <p class="page-body">
        Ми розглянемо скаргу й удамося до відповідних заходів.
    </p>
    <p class="page-body">
        Якщо ваш контент видалено відповідно до скарги на контрафакт, ви можете оскаржити її,
        надіславши листа на електронну адресу  <a href="mailto:trademark@gmail.com">trademark@gmail.com</a>
        і пояснивши, чому ви не згодні зі скаргою. Будь ласка, додайте номер скарги. Якщо ви хочете,
        щоб ми надіслали інформацію зі скарги, напишіть нам на електронну адресу
        <a href="mailto:trademark@gmail.com">trademark@gmail.com</a>,
        указавши номер скарги. Ми надішлемо вам інформацію (однак можемо видалити особисті контактні дані).
    </p>
    <p class="page-body">
        Це наша політика — за відповідних обставин і на наш розсуд — призупиняти облікові записи або видаляти
        користувачів, які явно або постійно просувають контрафактні товари. До користувачів,
        чий контент видалено за порушення нашої політики щодо контрафакту, також можуть застосовуватися
        додаткові дії, наприклад обмеження доступу до певних послуг або програм (наприклад, рекламних
        привілеїв, програм для звичайних і підтверджених продавців).
    </p>
    <p class="page-body">
         <a href="#" class="form-redirect-btn">Заповнення форми скарги на контрафакт</a>
    </p>
</article>