<article class="article" id="notification_appeal">
    <h3 class="page-title">
        Оскарження повідомлення про порушення прав на торгову марку
    </h3>
    <p class="page-body">
        Якщо ви вважаєте, що пін було видалено помилково або власник торгової марки в чомусь
        не правий (наприклад, ви стверджуєте, що ваш пін не порушує права на торгову марку заявника
        або ця особа не є власником торгової марки), ви можете оскаржити повідомлення про порушення,
        надіславши листа на цю електронну адресу: <a href="mailto:trademark@gmail.com">trademark@gmail.com.</a>
        Щоб надіслати оскарження, необхідно надати наведену нижче інформацію.
    </p>
    <ul class="page-body-ul">
        <li>
            Заява, яка пояснює, що ви не вважаєте використання вами торгової марки протиправним,
            з підставами для такого права.
        </li>
        <li>
            Заява про те, що ви розумієте, що копію оскарження, можливо, буде надіслано поточному(-им)
            власнику(-ам) облікового запису, якого(-их) стосується ваше оскарження.
        </li>
        <li>
            Ваше ім’я, адреса й номер телефону.
        </li>
        <li>
            Заява, у якій ви підтверджуєте точність наданої у вашому запиті на оскарження інформації
        </li>
    </ul>
</article>