<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <ul class="nav-list">
                <li><a href="#complain_sending">
                    Надсилання скарги про порушення прав на торгову марку
                </a></li>
                <li><a href="#notification_appeal">
                    Оскарження повідомлення про порушення прав на торгову марку
                </a></li>
                <li><a href="#counter_contrafakt">Боротьба з контрафактом Pinterest</a></li>
            </ul>
        </nav>
    </div>
</div>