<article class="article" id="applications_abuse">
    <h3 class="page-title">
        Інформація щодо зловживання додатками
    </h3>
    <p class="page-body">
        Ми хочемо, щоб програми для розробників допомагали кожному знаходити натхнення та
        займатись улюбленою справою. Додатки, створені для неправомірних дій
        (наприклад програми, створені для розповсюдження спаму), заборонені.
        Крім того, ми очікуємо, що розробники будуть відповідальними й
        співпрацюватимуть із нами для запобігання зловживанням додатків, а також
        вживатимуть заходів для зменшення ризику використання їхніх програм способами,
        які можуть нашкодити кінцевим користувачам. Наприклад, не пропонуйте функції,
        що полегшують розсилку спаму в Pinterest або іншим користувачам. Ми можемо в
        будь-який час видалити певні програми, щоб захистити користувачів Pinterest.
    </p>
</article>