<article class="article" id="audience_engagement">
    <h3 class="page-title">
        Послуги із залучення аудиторії та реклами
    </h3>
    <p class="page-body">
        Якщо ви надаєте послуги із залучення аудиторії, слід, зокрема,
        дотримуватися вимог щодо отримання згоди користувачів на обробку їхніх даних
        і обмежень стосовно цих даних: див. <a href="#">Умови надання рекламних даних</a>
        і <a href="#">Правила розміщення реклами</a> .
    </p>
    <p class="page-body">
        Якщо рекламодавці будуть використовувати дані, які ви їм надали, для поведінкової
        реклами в Інтернеті, вам потрібно виконати наведені нижче вказівки.
    </p>
    <ul class="page-body-ul">
        <li>
            Чітко й зрозуміло повідомляйте всім, що ви збираєте їхні дані, які буде надано
            третім особам для застосування в поведінковій рекламі в Інтернеті,
            й отримайте всі необхідні згоди.
        </li>
        <li>
            Розкажіть користувачам, як відмовитися від використання їхніх даних для поведінкової
            реклами в Інтернеті, наприклад за допомогою сайту AdChoices optout.aboutads.info.
        </li>
        <li>
            Не надсилати в Pinterest інформацію про людей, які відмовилися
            від використання їхніх даних чи не надали згоди.
        </li>
        <li>
            Регулярно оновлюйте дані, видаляючи відомості про користувачів, які відмовилися.
        </li>
    </ul>
    <p class="page-body">
        Якщо ви користуєтесь інформацією з будь-якого API Pinterest для надання рекламних послуг,
        ви маєте дотримуватись <a href="#">Умов надання рекламних даних</a>,
        <a href="#">Правил розміщення реклами</a>, а також виконувати зазначені далі дії.
    </p>
    <ul class="page-body-ul">
        <li>
            Якщо ви повідомляєте показник атрибуції «за останнім кліком», поряд із ним ви повинні
            зазначити показники одночасних доторків, які порівну ділять атрибуцію п
            оміж відповідними сервісами.
        </li>
        <li>
            Чітко й окремо вказуйте, скільки ви отримуєте за рекламу Pinterest і яка сума
            стягується з вас платформою Pinterest (загальна сума й дані
            згідно з платіжними показниками, наприклад CPM або CPC).
            Зазначайте окремо, скільки ми платимо вам, а ви — нам.
        </li>
        <li>
            Використовуйте інформацію з API Pinterest лише для надання послуг та оцінки
            ефективності реклами на Pinterest.
        </li>
    </ul>
</article>