<article class="article" id="bases">
  <h3 class="page-title">Основи</h3>
  <p class="page-body">
    Незалежно від функцій додатка дотримуйтесь основних принципів, наведених далі.
  </p>
  <ul class="page-body-ul">
    <li>
      Надавайте платформі Pinterest і кінцевим користувачам чесну та правдиву інформацію щодо
      змісту послуг, які надаєте. Не надавайте неправдивої, хибної чи оманливої інформації.
    </li>
    <li>
      Ви не можете зберігати жодну інформацію, отриману через матеріали Pinterest, зокрема API,
      за винятком аналітичної інформації про ваш обліковий запис для оцінки ефективності кампанії.
      Натомість викликайте API щоразу, коли вам потрібен доступ до інформації.
    </li>
    <li>
      Отримувати доступ до облікового запису користувача можна лише авторизовано, наприклад використовуючи
      токен доступу. Не вимагайте й не збирайте облікові дані користувачів, не використовуйте їх для
      входу до чужих облікових записів і не виконуйте дії від імені інших.
    </li>
    <li>
      Використовуйте інформацію з облікового запису користувача лише для надання йому послуг.
    </li>
    <li>
      Не зберігайте відомості про обліковий запис користувача разом з інформацією про інші
      облікові записи або послуги.
    </li>
    <li>
      Не передавайте й не продавайте відомості з наших API третім особам,
      зокрема будь-якій рекламній службі. (Не стосується випадків, коли ви
      надаєте ці дані користувачу, який є власником облікового запису,
      з якого отримана інформація.)
    </li>
    <li>
      Зберігайте конфіденційність даних для доступу до API.
      Не використовуйте чужі дані для доступу до API та не допускайте, щоб інші користувалися вашими.
    </li>
    <ul class="page-body-ul inner">
      <li>
        Кінцеві користувачі можуть запросити облікові дані для доступу до API, щоб використовувати
        їх із додатком «bring-your-own-key», якщо додаток зберігає облікові дані API користувача
        локально (не на сервері) і відповідає всім іншим політикам і правилам. Наприклад,
        додаток не повинен запитувати паролі користувачів Pinterest, файли cookie сеансу тощо.
      </li>
    </ul>
    <li>
      Забороняється ухилятися від наших систем із нагляду за дотриманням політики. Наприклад,
      якщо ми видалимо ваш додаток, не намагайтеся повторно підключити той самий або подібний додаток,
      використовуючи інший обліковий запис або інше ім’я.
    </li>
    <li>
      Дотримуйтеся всіх вказівок із нашої технічної документації.
    </li>
    <li>
      У вас має діяти політика конфіденційності, яка відповідає всім застосовним законам.
      Під час подання заявки на доступ до API необхідно вказати посилання на політику конфіденційності.
    </li>
  </ul>
</article>