<article class="article" id="content_publication">
    <h3 class="page-title">
        Публікація вмісту
    </h3>
    <p class="page-body">
        Якщо ваш додаток публікує вміст із Pinterest, ви повинні виконати певні дії.
    </p>
    <ul class="page-body-ul">
        <li>
            Пов’яжіть піни з джерелом у Pinterest
            (наприклад,
            <a href="https://www.pinterest.com/pin/424605071126047814/">
                https://www.pinterest.com/pin/424605071126047814/
            </a> ).
            Повинно бути зрозуміло, що вміст було взято з Pinterest.
        </li>
        <li>
            Не закривайте та не приховуйте вміст із Pinterest. Наприклад, не застосовуйте фільтри до пінів.
        </li>
        <li>
            Не створюйте новий вміст на основі пінів, який може поширюватись у вашому додатку чи сервісі.
        </li>
    </ul>
</article>