<article class="article" id="prohibited_actions">
  <h3 class="page-title">
    Заборонені дії
  </h3>
  <p class="page-body">
    Нижче наведені приклади неприпустимого використання матеріалів Pinterest, як-от інструментів розробників та API.
  </p>
  <ul class="page-body-ul">
    <li>
      Створення або надання додатка для порушення політики Pinterest.
    </li>
    <li>
      Вчинення дій від імені кінцевих користувачів без їхнього відома та згоди. До цих дій, зокрема,
      належать: внесення змін до профілів користувачів Pinterest, створення, збереження й редагування пінів,
      підписка й скасування підписки, надсилання повідомлень і коментування.
    </li>
    <li>
      Надання функцій, які дозволяють кінцевим користувачам автоматично ініціювати дії без детального розгляду.
    </li>
    <ul class="page-body-ul inner">
      <li>
        Наприклад, якщо ваш додаток надає можливість кінцевим користувачам планувати публікацію пінів,
        користувачі повинні вибирати кожний пін для публікації. Подібним чином, якщо ваш додаток надає
        можливість кінцевим користувачам підписуватися на облікові записи в Pinterest, кінцевий користувач
        повинен вибрати кожен обліковий запис для підписки.
      </li>
      <li>
        Іншими словами, кінцеві користувачі несуть відповідальність за дії,
        які вони здійснюють у Pinterest, і ми хочемо, щоб ці дії були автентичними.
        Тому не розробляйте інструменти автоматизації, які негативно впливають на
        справжню взаємодію з Pinterest або змушують кінцевих користувачів виконувати дію,
        коли вони не мають наміру цього робити або не усвідомлюють своїх дій.
      </li>
    </ul>
    <li>
      Спроба або обіцянка надати аналітичні дані про платформу, статистику чи функції для
      дослідження конкурентів, якщо у вас немає письмового дозволу від Pinterest.
      Наприклад, не розголошуйте інформацію про загальну ефективність Pinterest, пов’язану
      з конкурентом або галузевими тестами. Це також стосується брендів й облікових записів.
    </li>
    <li>
      Використання будь-яких автоматизованих інструментів для скрейпінгу чи вилучення
      даних для отримання доступу до інформації з Pinterest, за винятком випадків,
      коли це явно дозволено Pinterest.
    </li>
    <li>
      Неправдива інформація про вашу взаємодію з Pinterest або рівень доступу до матеріалів Pinterest.
    </li>
    <li>
      Використання інформації з Pinterest (безпосередньо чи разом зі сторонніми даними)
      для адресування реклами людям поза межами Pinterest. Наприклад, поширення та продаж
      вмісту або даних із Pinterest в інших рекламних мережах за допомогою брокерів даних
      чи будь-яких інших рекламодавців або постачальників послуг монетизації.
    </li>
    <li>
      Використання вашого доступу до API або інструментів розробника для перевірки обмежень швидкості
      виконання дій у Pinterest або інших систем для запобігання зловживанням без спеціального дозволу Pinterest.
    </li>
    <li>
      Не пропонуйте будь-які функції, що надають змогу обійти обмеження Pinterest. Наприклад, не
      пропонуйте функцію, за допомогою якої кінцеві користувачі в регіоні можуть отримувати доступ до
      вмісту, який Pinterest обмежив у цьому регіоні (геоблокування).
    </li>
    <li>
      Не вимагайте й не стимулюйте залучення. Наприклад, не вимагайте від кінцевих користувачів створювати
      або зберігати піни на певному сайті або зберігати певний пін за винагороду.
    </li>
    <li>
      Спроба ухилитися від наших механізмів отримання згоди й самостійно отримувати згоду
      користувачів на обробку інформації з API
    </li>
    <li>
      Додатки, призначені для дітей віком до 13 років, заборонені.
    </li>
  </ul>
</article>