<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <ul class="nav-list">
                <li><a href="#our-aim">Наша мета</a></li>
                <li><a href="#bases">Основи</a></li>
                <li><a href="#solutions">Вирішення</a></li>
                <li><a href="#prohibited_actions">Заборонені дії</a></li>
                <li><a href="#content_publication">Публікація вмісту</a></li>
                <li>
                    <a href="#audience_engagement">
                        Послуги із залучення авдиторії та реклами
                    </a>
                </li>
                <li><a href="#applications_abuse">Інформація щодо зловживання додатками</a></li>
            </ul>
        </nav>
    </div>
</div>