{% extends 'main/layout.html' %}


{% load static %}
{% block css_additional %}
<link rel="stylesheet" href="{% static 'business/css/hub_page.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block js_additional %}
    <script src="{% static 'business/js/disappear_search_icon.js' %}"></script>
    <script src="{% static 'business/js/open_modal.js' %}"></script>
    <script src="{% static 'business/js/change_content.js' %}"></script>
{% endblock %}

{% block body %}
    {% include '../_includes/header.html' %}
    <div class="wrapper">
        {% include '../_includes/image_sidebar.html' %}
        <div class="main-content">

        </div>
    </div>
{% endblock %}