{% extends 'main/layout.html' %}


{% load static %}
{% load i18n %}
{% block css_additional %}
<link rel="stylesheet" href="{% static 'business/css/hub_page.css'%}">
<link rel="stylesheet" href="{% static 'business/css/additional_info_modal.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block js_additional %}
    <script src="{% static 'business/js/disappear_search_icon.js' %}"></script>
    <script src="{% static 'business/js/open_modal.js' %}"></script>
    <script src="{% static 'business/js/change_content.js' %}"></script>
    <script src="{% static 'business/js/circle_indicator.js' %}"></script>
{% endblock %}

{% block body %}
    {% include '../_includes/header.html' %}
    <div class="wrapper">
        {% include '../_includes/image_sidebar.html' %}
        <div class="main-content">
            <form action="" method="post" class="profile-form">
                {% csrf_token %}
                {% if wizard.steps.current == '0' %}
                    <h4 class="form-title">Створіть профіль</h4>
                    {% include '../_includes/user_avatar_container.html' %}
                {% elif wizard.steps.current == '1' %}
                    <div class="form-header">
                        <h4 class="form-title">Опишіть свою компанію</h4>
                        <p class="form-subtitle">Отримуйте налаштовувані рекомендації на основі даних акаунту</p>
                    </div>
                {% endif %}
                <table>
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {{ form.as_table }}
                        {% endfor %}
                    {% else %}
                        {% if wizard.steps.current == '0' %}
                            <div class="first-form form" id="first-form">
                                {% for field in wizard.form %}
                                    {% if field.errors %}
                                        <div>{{ field.errors }}</div>
                                    {% endif %}
                                    {% if forloop.first %}
                                        <label class="form-label" id="first-label">{{ field.label }}</label>
                                        {{ field }}
                                    {% elif forloop.last %}
                                        <label class="form-label" id="last-label">{{ field.label }}</label>
                                        {{ field }}
                                    {% else %}
                                        <label class="form-label">{{ field.label }}</label>
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% elif wizard.steps.current == '1' %}
                            <div class="second-form form" id="second-form">
                                {% for field in wizard.form %}
                                    {% if field.errors %}
                                        <div>{{ field.errors }}</div>
                                    {% endif %}
                                    {% if forloop.first %}
                                        <label class="first-label" for="{{ field.if_for_label }}">{{ field.label }}</label>
                                        {{ field }}
                                    {% else %}
                                        <label class="rest-label {{ forloop.counter }}">{{ field.label }}</label>
                                        <p class="label-description">
                                            Оберіть до 3 цілей. Ви можете в будь-який час змінити
                                            ці дані в розділі "Налаштування"
                                        </p>
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% elif wizard.steps.current == '2' %}
                            <div class="form-header">
                                <h4 class="header-title">Опишіть свою компанію</h4>
                                <p class="header-description">
                                    Отримуйте налаштовувані рекомендації на основі даних акаунту
                                </p>
                            </div>
                            <div class="third-form form" id="third-form">
                                {% for field in wizard.form %}
                                    {% if field.errors %}
                                        <div>{{ field.errors }}</div>
                                    {% endif %}
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                {% endfor %}
                            </div>
                        {% elif wizard.steps.current == '3' %}
                            <div class="form-header">
                                <h4 class="header-title">
                                    Чи цікавить вас розміщення реклами на Pinterest?
                                </h4>
                                <p class="header-description">
                                    Оголошення допомагають рекламувати бренди і товари серед
                                    більш ніж 400 мільйонів людей, які використовують Pinterest щомісяця
                                </p>
                            </div>
                            <div class="fourth-form form" id="fourth-form">
                                {% for field in wizard.form %}
                                    {% if field.errors %}
                                        <div>{{ field.errors }}</div>
                                    {% endif %}
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </table>
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" id="back-button" type="submit" value="{{ wizard.steps.prev }}">
                        {% translate "Назад" %}
                    </button>
                {% endif %}
                <input type="submit" id="submit-button" value="{% translate 'Далі' %}"/>
            </form>
            <div class="step-indicator">
                <div class="step-circle" id="step1"></div>
                <div class="step-circle" id="step2"></div>
                <div class="step-circle" id="step3"></div>
                <div class="step-circle" id="step4"></div>
            </div>
        </div>
    </div>
{% endblock %}