<header class="business-header">
    <div class="header-info">
        <p class="header-name">Бізнес</p>
    </div>
    <div class="account-info" id="open-modal-div">
        {% include './user_avatar_container.html' %}
        <p class="username">
            {{ user.username }}
        </p>
        <a href="#" id="open-modal">
            <i class="fa-solid fa-angle-down"></i>
        </a>`
        {% include '../_includes/advertise_modal.html' %}
    </div>
    <div class="additional-info">
        {% include './user_avatar_container.html' %}
        <a href="#" id="open-another-modal">
            <i class="fa-solid fa-angle-down"></i>
        </a>
    </div>
</header>