<div class="sidebar">
    <div class="image-container">
        <img class="hCL kVc L4E MIw sidebar-img cutted" id="first-img"
             src="https://i.pinimg.com/originals/55/45/1b/55451ba9422f5e3ae8cc2fbedb3a7320.png">
        <img class="hCL kVc L4E MIw sidebar-img cutted"
             src="https://i.pinimg.com/originals/1a/c0/14/1ac014621a6a4eda91f978e3d56bcc3f.png">
        <img class="hCL kVc L4E MIw sidebar-img"
             src="https://i.pinimg.com/originals/3e/9f/e0/3e9fe065eafe957078d883230fac33c8.png">
        <img class="hCL kVc L4E MIw sidebar-img smaller-img"
             src="https://i.pinimg.com/originals/60/f5/ec/60f5ec0e4c76553ad0c34a87f3776b08.png">
        <img class="hCL kVc L4E MIw sidebar-img"
             src="https://i.pinimg.com/originals/1e/e6/39/1ee639c6ec1e5f02865e37fd7764e3dc.png">
        <img class="hCL kVc L4E MIw sidebar-img"
             src="https://i.pinimg.com/originals/7f/c2/28/7fc228565362c9db186440154963dd63.png">
        <img class="hCL kVc L4E MIw sidebar-img"
             src="https://i.pinimg.com/originals/5b/ce/c5/5bcec52d769dc878ef12edb383e6850f.png">
        <img class="hCL kVc L4E MIw sidebar-img"
             src="https://i.pinimg.com/originals/b3/f6/1e/b3f61e1376f2ab6a840605c5e5cead45.png">
    </div>
</div>