body {
    overflow: hidden;
}

.business-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.account-info,
.additional-info {
    display: flex;
    align-items: center;
}

.account-info {
    margin-left: auto;
}

.header-info p {
    font-weight: 500;
}

header img {
    border-radius: 50px;
}

.account-info {
    border: 1px solid #CDCBCB;
    border-radius: 20px;
    padding: 0px 10px;
    height: 45px;
}

.account-info:hover {
    background: #CECCCC;
}

.account-info p {
    margin-top: 12px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.account-info a {
    margin-left: 5px;
    color: black;
    text-decoration: none;
}

.additional-info {
    margin-right: 10px;
    margin-left: 10px;
}

.additional-info a {
    color: black;
    margin-left: 7px;
    border: none;
    border-radius: 50px;
    padding: 3px 3px;
}

.additional-info a:hover {
    background: #CECCCC;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
}

.main-content {
    width: 80%;
    padding-left: 20%;
    padding-top: 5%;
}

header .modal-window {
    position: fixed;
    top: 55px;
    width: 20%;
    right: 200px;
    border: 1px solid #C3BFBF;
    border-radius: 10px;
    display: none;
}

.modal-window .modal-content .modal-header {
    border-bottom: 1px solid #C3BFBF;
}

.modal-window .modal-content .modal-header p {
    font-size: 0.8rem;
    font-weight: 400;
}

.user-info i,
.user-info img,
.user-info p {
    display: inline-block;
    vertical-align: middle;
}

.user-info i {
    margin-left: 7px;
}

.user-info img {
    margin-left: 10px;
}

.user-info p {
    font-size: 0.8rem;
    font-weight: 500;
}

.user-info #briefcase {
    margin-left: 90px;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E1DEDE;
    width: 90%;
    border-radius: 10px;
    margin-left: 5%;
    height: 50px;
    padding: -5px 1px;
    margin-bottom: 5px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    font-size: 0.7rem;
    font-weight: 500;
    height: 45px;
}

#first-label {
    text-align: left;
}

#second-label {
    text-align: center;
    padding: 15px 0;
}

.radio-group input[type="radio"]:checked + label {
    background-color: white;
    color: black;
}

.radio-group input[type="radio"]:not(:checked) + label {
    background: #E1DEDE;
    color: black;
    font-weight: 500;
}

.search-bar {
    width: 90%;
    margin-bottom: 10px;
}

.search-bar i {
    position: absolute;
    top: 167px;
    right: 248px;
}

.search-bar input {
    font-size: 0.9rem;
    width: 100%;
    padding-left: 25px;
    margin-left: 5%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #E1DEDE;
}

.search-bar input:hover {
    border: 2 px solid #B5B5B5;
}

.puzzle-container {
    margin-top: 25px;
    margin-left: 33%;
    margin-bottom: 25px;
}

.explanation-container {
    text-align: center;
    justify-content: center;
}

.explanation-container .gray-title {
    font-size: 0.7rem;
    color: #929191;
    width: 100%;
}

.explanation-container .smaller {
    margin-top: -8px;
    width: 95%;
    font-size: 0.6rem;
}

#add-account-btn {
    background: #E60D0D;
    display: inline-block;
    width: 60%;
    border-radius: 18px;
    padding: 5px 10px;
    font-size: 0.7rem;
    color: white;
    font-weight: 500;
    margin-left: 20%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}

#add-account-btn:hover {
    background: #D11313;
}

#open-modal-div #open-modal i {
    transition: transform 0.3s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
    margin-top: -45px;
}

#second-choice {
    display: none;
}

#second-choice .accounts-list {
    margin-left: 5%;
    margin-top: -5px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 7px;
}

#second-choice .accounts-list:hover {
    background: #C3C1C1;
}

#second-choice .accounts-list p {
    margin-top: 15px;
}

#second-choice .accounts-list a {
    display: inline-block;
    margin-left: 95px;
    cursor: pointer;
}

.sidebar-img {
    width: 120px;
    height: 170px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.cutted {
    width: 120px;
    height: auto;
    object-fit: cover;
    clip-path: polygon(0 0 , 100% 0 100% 50%, 0 50%);
}

.image-container img:nth-child(3){
    margin-top: -40px;
    height: 220px;
}

.image-container img:nth-child(5){
    height: 150px;
    margin-top: -30px;
}

.image-container img:nth-child(7){
    height: 180px;
    margin-top: -45px;
}

#first-img {
    margin-top: -40px;
}

.profile-form .form-title {
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.profile-form label {
    font-family: "Rubik";
    font-size: 1rem;
    font-weight: 500;
}


.profile-form .user-avatar {
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

.profile-form #id_0-business_name {
    margin-top: -30px;
    margin-left: 87px;

}

.profile-form .form-control {
    width: 30%;
    border-radius: 10px;
    border; 1px solid gray;
}

.profile-form label[for="id_0-is_site_exists_0"],
.profile-form label[for="id_0-is_site_exists_1"] {
    font-weight: 400;
    font-size: 0.9rem;
}

.profile-form .form-label {
    margin-top: 15px;
}

.profile-form #first-label {
    margin-left: 90px;
    margin-top: -70px;
    margin-bottom: 30px;
    display: block;
}