<article class="article" id="be_carefully">
    <h3 class="page-title">
        Будьте обережними, використовуючи будь-які дані
    </h3>
    <p class="page-body">
        Використовуючи дані, щоб вибрати цільову аудиторію або проаналізувати рекламу в Pinterest,
        ви повинні дотримуватись <a href="#">Умов надання рекламних даних</a> . Це стосується таких функцій,
        як теги, аудиторії, кампанії для збільшення кількості завантажень додатка.
    </p>
    <h5 class="page-subtitle">
        Дотримуйтеся всіх правил щодо аналізу даних і вибору цільової аудиторії.
    </h5>
    <p class="page-body">
        Якщо ви будь-де збираєте дані, які використовуються в рекламних сервісах Pinterest, ви повинні
        розкрити інформацію та отримати передбачений законом дозвіл на збір, надання та використання
        цих даних від кожної особи.
    </p>
    <p class="page-body">
        Якщо ви використовуєте теги Pinterest або надсилаєте дані про діяльність у мобільному додатку,
        ви повинні повідомити користувачів сайту та додатка, що їхні дані буде надано третім
        особам для поведінкової інтернет-реклами, від якої вони можуть відмовитися в <a href="#">налаштуваннях
        персоналізації</a> Pinterest, на сайті AdChoices <a href="https://optout.aboutads.info/?c=2&lang=EN">
        optout.aboutads.info</a>
        (якщо ви використовуєте теги Pinterest) або в налаштуваннях мобільного рекламного
        ідентифікатора (якщо ви надаєте нам дані про діяльність у додатку).
    </p>
    <p class="page-body">
        Не надавайте нам інформацію, яка стосується конфіденційних категорій, як-от стану здоров’я
        або етнічного походження. Не допускається також збирання відомостей на сайтах і в додатках,
        призначених для дітей, і інформації про осіб, яким не виповнилося 13 років, або які не досягли
        передбаченого законом віку, щоб надавати відповідний дозвіл. Ви можете передавати нам лише
        ідентифікатори користувачів (наприклад, ідентифікатори рекламних оголошень на мобільних телефонах
        або хешовані електронні листи) у визначених полях і відповідно до нашої документації.
    </p>
    <p class="page-body">
        Не надсилайте списки клієнтів Pinterest на основі дій користувачів у додатку або на сайті на пристрої з
        ОС iOS. Не надсилайте інформацію з Pinterest про будь-яких осіб, що відмовилися від
        використання цих даних у рекламних цілях.
    </p>
    <h5 class="page-subtitle">
        Поважайте дані та конфіденційність нашої спільноти
    </h5>
    <p class="page-body">
        Ви не можете:
    </p>
    <ul class="page-body-ul">
        <li>
            Використовувати дані, зібрані або отримані через рекламний сервіс Pinterest,
            для будь-яких цілей, відмінних від роз’яснення суті ваших кампаній у Pinterest
            (зокрема для вибору цільової аудиторії або збору даних про користувачів),
            і порушувати анонімність.
        </li>
        <li>
            Надавати дані рекламного сервісу Pinterest третій стороні, зокрема іншим рекламним сервісам.
        </li>
        <li>
            Об’єднувати дані рекламного сервісу Pinterest із персональними відомостями
            (наприклад, адресою електронної пошти) і відомостями, які ідентифікують користувача,
            браузер або пристрій (наприклад, файли cookie або мобільний рекламний ідентифікатор).
        </li>
    </ul>
    <p class="page-body">
        Якщо ви отримуєте будь-які дані від Pinterest, прив’язані до унікального ідентифікатора
        (наприклад, дані звітів кампаній, для яких вказано ідентифікатор мобільного пристрою),
        ви не можете використовувати їх для продажу товарів і послуг або для будь-яких інших цілей,
        окрім аналізу кампаній Pinterest. Крім того, ви повинні видалити ці дані не пізніше ніж через
        6 місяців після їх отримання.
    </p>
    <p class="page-body">
        Рекламодавці, які використовують рекламні продукти із запитом інформації про користувачів,
        повинні дотримуватися всіх <a href="#">Правил розміщення реклами</a> .
    </p>
    <p class="page-body">
        Крім того, рекламодавці не повинні запитувати або посилатися на інформацію конфіденційного характеру:
    </p>
    <ul class="page-body-ul">
        <li>
            конфіденційна інформація про стан здоров’я, як-от генетичні дані,
            дані щодо фертильності або вагітності;
        </li>
        <li>
            расового або етнічного походження;
        </li>
        <li>
            особистих труднощів, зокрема пов’язаних із фінансовим, фізичним і емоційним станом;
        </li>
        <li>
            релігійних або філософських поглядів чи переконань;
        </li>
        <li>
            сексуальної поведінки або сексуальної орієнтації;
        </li>
        <li>
            гаданого або фактично скоєного злочину;
        </li>
        <li>
            приналежності до професійних спілок;
        </li>
        <li>
            політичних уподобань.
        </li>
        <li>
            інформація про користувачів Pinterest молодше 18 років;
        </li>
        <li>
            точна геолокація (наприклад, GPS);
        </li>
        <li>
            домашня адреса
        </li>
        <li>
            статус громадянства або імміграційний статус;
        </li>
        <li>
            сімейний стан;
        </li>
        <li>
            статус стосунків;
        </li>
        <li>
            військовий статус;
        </li>
        <li>
            назва посади;
        </li>
        <li>
            робочий номер телефону;
        </li>
        <li>
            робоча адреса електронної пошти;
        </li>
        <li>
            назва компанії;
        </li>
        <li>
            розмір компанії;
        </li>
        <li>
            сфера діяльності;
        </li>
        <li>
            освітній ступінь;
        </li>
        <li>
            галузь навчання;
        </li>
        <li>
            університет/школа
        </li>
        <li>
            університет/школа
        </li>
    </ul>
    <p class="page-body">
        Рекламодавцям, які просувають аптеки (рецептурних ліків), безрецептурні товари, пов’язані
        зі здоров’ям додатки (наприклад, для вимірювання пульсу, ваги) та/або послуги
        телемедицини, заборонено використовувати оголошення для генерації лідів.
    </p>
    <p class="page-body">
        Рекламодавці не повинні збирати персональні дані, які не описано в
        <a href="#">Політиці конфіденційності Pinterest</a> . Якщо вам незрозуміло, чи описано певну
        інформацію в Політиці конфіденційності, надішліть нам лист на електронну адресу
        <a href="mailto:privacy-legal@gmail.com">privacy-legal@gmail.com</a>.
    </p>
</article>