<article class="article" id="be_sincere">
    <h3 class="page-title">
        Будьте щирими зі своєю аудиторією
    </h3>
    <p class="page-body">
        Щирість означає, що слід надавати чесну та достовірну інформацію про товар чи послугу, яку ви рекламуєте.
        Це також означає, що слід правдиво повідомляти користувачам про результат взаємодії з
        вашими товарами чи послугами.
    </p>
    <h5 class="page-subtitle">
        Чесно повідомляйте про своє відношення до Pinterest
    </h5>
    <p class="page-body">
        Ваші оголошення не повинні порушувати наші <a href="#">правила використання бренда</a>. Крім того,
        вони не повинні викликати думок, що Pinterest спонсорує вашу рекламну кампанію або
        якось формально пов’язаний із нею. Загалом, дизайн вашої реклами має виглядати так,
        щоб він асоціювався з вашою компанією, а не з Pinterest. Ви можете використовувати
        слово «Pinterest», але не наш торговий знак.
    </p>
    <h5 class="page-subtitle">
        Надавайте інформацію про виставлення рахунків
    </h5>
    <p class="page-body">
        Якщо ви берете плату зі своїх користувачів на постійній основі, будьте з ними прозорими й
        повідомляйте їм про умови оплати
    </p>
    <h5 class="page-subtitle">
        Поважайте права інших користувачів
    </h5>
    <p class="page-body">
        Ваші оголошення не повинні порушувати прав будь-якої третьої сторони, зокрема авторських прав,
        прав торгової марки або конфіденційності.
    </p>
</article>