<article class="article" id="material_rules">
  <h3 class="page-title">
      Правила щодо заборони матеріалів
  </h3>
  <h5 class="page-subtitle">
      Зображення оголеного тіла й матеріали для дорослих
  </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу:
    </p>
    <ul class="page-body-ul">
        <li>
            секс-іграшок;
        </li>
        <li>
            товари у формі певних частин тіла (статевих органів, сідниць або жіночих грудей);
        </li>
        <li>
            відео, публікацій чи вистав еротичного або порнографічного характеру;
        </li>
        <li>
            продуктів для підвищення сексуальної активності;
        </li>
        <li>
            реклама сервісів знайомств для сексу, міжнародних шлюбних агентств або ескорт-послуг;
        </li>
        <li>
            завуальоване зображення сексуальної активності (в одязі чи без);
        </li>
        <li>
            сексуалізація особи для продажу товару чи послуги.
        </li>
    </ul>
    <p class="page-body">
        Крім того, не дозволяються:
    </p>
    <ul class="page-body-ul">
        <li>
            зображення оголеного тіла, як відверте, так і завуальоване (як-от розмиті зображення та ілюстрації);
        </li>
        <li>
            завуальоване зображення сексуальної активності (в одязі чи без);
        </li>
        <li>
            зосередження уваги на певних частинах тіла (геніталії, лобкове волосся, чоловічі
            або жіночі сідниці та жіночі груди).
        </li>
    </ul>
    <p class="page-body">
        Дозволяється реклама одягу на моделях, як-от купальників і білизни, якщо ці товари не мають відверто
        сексуального характеру. Однак ми не допускаємо жодних зображень неповнолітніх у нижній білизні та
        забороняємо знімки неповнолітніх у купальниках, якщо на фото вони не в супроводі дорослих.
    </p>
    <h5 class="page-subtitle">
        Клікбейт
    </h5>
    <p class="page-body">
        Ми хочемо, щоб реклама була красивою й корисною. Ми не хочемо, щоб вона тиснула на користувачів або
        обдурювала їх заманливим контентом. Ми не дозволяємо використовувати сенсаційні клікбейти,
        які експлуатують цікавість користувачів, а саме:
    </p>
    <ul class="page-body-ul">
        <li>
            грають на людських страхах;
        </li>
        <li>
            критикують людські вади;
        </li>
        <li>
            використовують тривожні чутки або зображення;
        </li>
        <li>
            навмисно приховують інформацію.
        </li>
    </ul>
    <h5 class="page-subtitle">
        Наркотики та приладдя для їх вживання
    </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу:
    </p>
    <ul class="page-body-ul">
        <li>
            продажу або вживання заборонених чи рекреаційних наркотичних речовин;
        </li>
        <li>
            інформаційні матеріали про вживання або легалізацію заборонених або рекреаційних наркотичних речовин;
        </li>
        <li>
            що містить зображення заборонених чи рекреаційних наркотичних речовин;
        </li>
        <li>
            товарів, пов’язаних із наркотиками, зокрема призначених для використання,
            зберігання або вживання заборонених або рекреаційних наркотичних речовин.
        </li>
        <li>
            товари, що містять канабідіол чи схожі сполуки.
        </li>
        <ul class="page-body-ul inner">
            <li>
                У Сполучених Штатах Америки дозволяється реклама товарів для зовнішнього застосування,
                що містять олію з насіння конопель із незначним контентом тетрагідроканабінолу і
                без канабідіолу, за умови відсутності тверджень про терапевтичні й лікарські властивості цих товарів.
            </li>
            <li>
                Ми дозволимо публікувати інформаційний або брендовий контент на тему канабідіолу й конопель.
                Рекламодавці несуть відповідальність за дотримання всіх законів і правил.
            </li>
        </ul>
    </ul>
    <h5 class="page-subtitle">
        Вимираючі види тварин і живі тварини
    </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу живих тварин або товарів, призначених для заподіяння фізичної шкоди
        тваринам в ім'я навчання. Ми також не дозволяємо вироби з черепахової черепашки, слонової
        кістки, коралів, крокодилової шкіри, панголіну, тигра, білого ведмедя або морської видри
        та інших видів дикої природи, що перебувають під загрозою зникнення. Сюди входять також
        лікарські засоби, отримані з носорогів, тигрів або гімалайських ведмедів. Повний перелік
        заборонених товарів, виготовлених із диких тварин, ви можете переглянути на сайті нашого партнера,
        <a href="https://www.endwildlifetraffickingonline.org/coalition-prohibited-wildlife-policy">
            Всесвітнього фонду дикої природи
        </a> .
    </p>
    <h5 class="page-subtitle">
        Заборонені товари та послуги
    </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу сервісів, дій і товарів, зокрема таких, що навчають або надають можливості
        чи обладнання для несанкціонованого доступу або пошкодження програмного забезпечення, серверів,
        мобільних телефонів або сайтів, а також посилань на програмне забезпечення, яке призводить до
        зловмисних дій проти користувачів, незаконних трансляцій чи завантажень матеріалів, захищених
        авторськими правами. Ми також забороняємо продаж або пропозиції підробних посвідчень особи,
        паспортів або інших офіційних документів.
    </p>
    <h5 class="page-subtitle">
        Підробки
    </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу:
    </p>
    <ul class="page-body-ul">
        <li>
            підробок товарів;
        </li>
        <li>
            реплік брендованих товарів;
        </li>
        <li>
            товарів, які незаконно рекламуються під виглядом справжніх брендів;
        </li>
    </ul>
    <h5 class="page-subtitle">
        Політичні кампанії
    </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу:
    </p>
    <ul class="page-body-ul">
        <li>
            виборів або поразки політичних кандидатів на державні посади, а також збір коштів
            на підтримку політичних діячів або партій;
        </li>
        <li>
            політичних партій або комітетів дій;
        </li>
        <li>
            політичних питань із наміром вплинути на вибори;
        </li>
        <li>
            законодавства, зокрема референдумів або ініціатив голосування.
        </li>
        <li>
            промо-товарів, пов’язаних із політичними кандидатами, партіями чи виборами.
        </li>
    </ul>
    <h5 class="page-subtitle">
        Делікатні матеріали
    </h5>
    <p class="page-body">
        Ми хочемо створити в Pinterest атмосферу привітності, позитиву та натхнення, тому не дозволяємо
        публікувати рекламу, яка викликає ворожнечу або занепокоєння. Ми не дозволяємо
        висловлювання або зображення, які:
    </p>
    <ul class="page-body-ul">
        <li>
            є образливими (навіть якщо вони пройшли цензуру);
        </li>
        <li>
            є надмірно жорстокими;
        </li>
        <li>
            є вульгарними або огидними;
        </li>
        <li>
            містять хибну або оманливу інформацію, як-от теорії змови, спроби поставити під сумнів чесність
            виборів чи перешкодити громадянській участі в них осіб або груп, зокрема голосуванню та
            внесенню в реєстр, а також заперечення факту зміни клімату або спотворення загальноприйнятого
            наукового консенсусу щодо причин або наслідків зміни клімату та рішень цієї проблеми;
        </li>
        <li>
            містять дискримінацію за політичною, культурною або расовою ознакою.
        </li>
        <li>
            містять матеріали зі зловживанням темою контроверсійних або трагічних подій чи
            важкого стану здоров’я (якщо тільки це не має освітньої або благодійної цілі).
        </li>
    </ul>
    <h5 class="page-subtitle">
        тютюну
    </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу тютюнових виробів, зокрема:
    </p>
    <ul class="page-body-ul">
        <li>
            сигарет
        </li>
        <li>
            електронних сигарет;
        </li>
        <li>
            електронних сигарет або картриджів для них;
        </li>
        <li>
            жувального тютюну;
        </li>
        <li>
            супровідних товарів (як-от люльок, паперу для самокруток, вапорайзерів, картриджів для них тощо).
        </li>
        <li>
            товари, що містять нікотин (наприклад, нікотинові жувальні гумки або пластирі);
        </li>
        <li>
            будь-яких торгових марок, пов’язаних із вищезазначеними товарами.
        </li>
    </ul>
    <p class="page-body">
        Крім того, ми не дозволяємо рекламу кальянів, кальянних барів, сигар,
        сигарних клубів, інгаляторів для ефірних олій чи схожих товарів.
    </p>
    <h5 class="page-subtitle">
        неприйнятної бізнес-діяльності
    </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу таких продуктів, послуг або бізнес-моделей:
    </p>
    <ul class="page-body-ul">
        <li>
            скандинавських аукціонів;
        </li>
        <li>
            позик до зарплати;
        </li>
        <li>
            послуг із найму позивачів;
        </li>
        <li>
            порук під заставу;
        </li>
        <li>
            Усі криптовалютні продукти й послуги, за винятком тих, які прямо передбачені в
            нашій <a href="#">Політиці щодо фінансових продуктів і послуг</a>
        </li>
        <li>
            сервісів, що обіцяють великий фінансовий прибуток від мінімальних інвестицій або зусиль,
            як-от моделі багаторівневого маркетингу або схеми швидкого збагачення;
        </li>
        <li>
            послуг несправжньої онлайн-служби з технічної підтримки;
        </li>
        <li>
            товарів або послуг, що передбачають приховані витрати або тактику заманювання й підміни;
        </li>
        <li>
            компаній, що пропонують послуги з виконання домашніх завдань або написання творів для
            студентів або школярів (дозволяється реклама послуг із репетиторства);
        </li>
        <li>
            компаній, які продають підписників у соцмережах;
        </li>
        <li>
            послуг оплати з перевищенням наявного балансу;
        </li>
        <li>
            товарів або послуг із нереалістичними або перебільшеними обіцянками чи
            приписаними чудодійними властивостями;
        </li>
        <li>
            рекламних оголошень, які навмисно вводять в оману, демонструючи
            товари чи послуги, відмінні від пропонованих.
        </li>
    </ul>
    <p class="page-body">
        Ми очікуємо, що рекламодавці будуть чесними зі своїми клієнтами та формуватимуть реалістичні
        очікування щодо якості товарів, часу доставки, процесу повернення та надання послуг.
        Ми зберігаємо за собою право відмовити рекламодавцю в розміщені реклами через погані
        оцінки від третіх сторін або історію скарг.
    </p>
    <h5 class="page-subtitle">
        зброї й вибухових речовин
    </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу зброї, зокрема (але не тільки):
    </p>
    <ul class="page-body-ul">
        <li>
            Вогнепальної зброї та боєприпасів. Це стосується, зокрема, старовинної зброї в робочому стані,
            пневматичної зброї, зброї для страйкболу й пейнтболу, а також моделей, що схожі на
            справжню вогнепальну зброю.
        </li>
        <li>
            Будь-якого приладдя для зброї.
        </li>
        <li>
            Ножів, призначених для насильницьких дій (наприклад, пружинних або мисливських).
        </li>
        <li>
            Товарів, призначених, щоб завдавати шкоду або спричиняти поранення (наприклад, арбалетів,
            електрошокерів чи перцевих балончиків).
        </li>
        <li>
            Феєрверків.
        </li>
        <li>
            Вибухових речовин.
        </li>
        <li>
            Інструкцій із виготовлення зброї чи феєрверків, а також інформації про те,
            як завдавати шкоди або вбивати людей.
        </li>
    </ul>
</article>