<article class="article" id="national_legislation">
  <h3 class="page-title">
    Вимоги національного законодавства
  </h3>
  <p class="page-body">
    У нас є вказівки для окремих країн, яких ви маєте дотримуватися під час вибору певного
    регіону для таргетингу. Вибираючи певний регіон для таргетингу, ураховуйте місцеві
    мови та культурні особливості аудиторії. Радимо розміщувати рекламу на мові відповідного регіону.
  </p>
  <h5 class="page-subtitle">
    Аргентина
  </h5>
  <p class="page-body">
    Якщо ваше оголошення відображається в Аргентині, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
  </ul>
  <h5 class="page-subtitle">
    Бельгія
  </h5>
  <p class="page-body">
    Якщо ваше оголошення відображається в Бельгії, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
  </ul>
  <h5 class="page-subtitle">Бразилія</h5>
  <p class="page-body">
    Якщо ваше оголошення відображається в Бразилії, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Дитячі суміші
    </li>
    <li>
      Традиційні казино
    </li>
  </ul>
  <h5 class="page-subtitle">
    Чилі
  </h5>
  <p class="page-body">
    Якщо ваше рекламне оголошення відображається в Чилі, заборонено рекламувати наступне:
  </p>
  <ul class="page-body-ul">
    <li>
      Безрецептурні препарати
    </li>
  </ul>
  <h5 class="page-subtitle">
    Колумбія
  </h5>
  <p class="page-body">
    Якщо ваше рекламне оголошення відображається в Колумбії, заборонено рекламувати наступне:
  </p>
  <ul class="page-body-ul">
    <li>
      Дитячі суміші
    </li>
    <li>
      Традиційні казино
    </li>
    <li>
      Традиційні аптеки
    </li>
  </ul>
  <h5 class="page-subtitle">
    Данія
  </h5>
  <p class="page-body">
    Якщо ваше оголошення відображається в Данії, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
    <li>
      Дитячі суміші
    </li>
    <li>
      Традиційні аптеки
    </li>
  </ul>
  <h5 class="page-subtitle">
    Франція
  </h5>
  <p class="page-body">
    Якщо ваше оголошення відображається у Франції, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Дитячі суміші
    </li>
    <li>
      Аптеки
    </li>
  </ul>
  <h5 class="page-subtitle">
    Німеччина
  </h5>
  <p class="page-body">
    У Німеччині не можна рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
  </ul>
  <h5 class="page-subtitle">
    Італія
  </h5>
  <p class="page-body">
    В Італії не можна рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
    <li>
      Медичні пристрої
    </li>
    <li>
      Безрецептурні препарати
    </li>
  </ul>
  <h5 class="page-subtitle">
    Мальта, Люксембург, Кіпр, Словаччина, Румунія, Греція
  </h5>
  <p class="page-body">
    У Люксембурзі, Словаччині, Румунії, Греції, на Мальті та Кіпрі не можна рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
    <li>
      Дитячі суміші
    </li>
    <li>
      Безрецептурні препарати
    </li>
    <li>
      Медичні пристрої
    </li>
    <li>
      Традиційні аптеки
    </li>
  </ul>
  <h5 class="page-subtitle">
    Мексика
  </h5>
  <p class="page-body">
    У Мексиці не можна рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
  </ul>
  <h5 class="page-subtitle">
    Нідерланди
  </h5>
  <p class="page-body">
    Якщо ваше оголошення відображається в Нідерландах, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
    <li>
      Дитячі суміші
    </li>
  </ul>
  <h5 class="page-subtitle">
    Польща, Угорщина, Чехія
  </h5>
  <p class="page-body">
    У Польщі, Угорщині й Чехії заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
    <li>
      Дитячі суміші
    </li>
    <li>
      Традиційні аптеки
    </li>
  </ul>
  <h5 class="page-subtitle">
    Португалія
  </h5>
  <p class="page-body">
    Якщо ваше оголошення відображається в Португалії, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
  </ul>
  <h5 class="page-subtitle">
    Іспанія
  </h5>
  <p class="page-body">
    Якщо ваше оголошення відображається в Іспанії, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Традиційні казино
    </li>
    <li>
      Дитячі суміші
    </li>
  </ul>
  <h5 class="page-subtitle">
    Швейцарія
  </h5>
  <p class="page-body">
    Якщо ваше оголошення відображається у Швейцарії, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Дитячі суміші
    </li>
  </ul>
  <h5 class="page-subtitle">
    Швеція, Норвегія, Фінляндія
  </h5>
  <p class="page-body">
    Якщо ваше оголошення відображається у Швеції, Норвегії чи Фінляндії, заборонено рекламувати:
  </p>
  <ul class="page-body-ul">
    <li>
      Алкоголь
    </li>
    <li>
      Традиційні казино
    </li>
    <li>
      Дитячі суміші
    </li>
    <li>
      Традиційні аптеки
    </li>
  </ul>
  <h5 class="page-subtitle">
    Торгові санкції
  </h5>
  <p class="page-body">
    Ви не можете використовувати рекламні товари Pinterest, якщо <a href="https://ofac.treasury.gov/">
    санкції США</a>
    забороняють їх. Наші рекламні послуги зараз недоступні в таких регіонах:
  </p>
  <ul class="page-body-ul">
    <li>
      Крим
    </li>
    <li>
      Куба
    </li>
    <li>
      Іран
    </li>
    <li>
      Північна Корея
    </li>
    <li>
      Сирія
    </li>
  </ul>
</article>