<article class="article" id="prohibited_materials">
    <h3 class="page-title">
        Правила щодо заборонених матеріалів
    </h3>
    <h5 class="page-subtitle">
        Алкоголь
    </h5>
    <p class="page-body">
        Ми дозволяємо рекламу алкоголю, зокрема пива, вина та лікеро-горілчаних виробів,
        а також присвячених ним клубів.
    </p>
    <p class="page-body">
        У всіх випадках ви відповідаєте за дотримання відповідних федеральних і місцевих законів
        і норм, зокрема вікових обмежень у разі необхідності.
    </p>
    <p class="page-body">
        Реклама алкоголю в Pinterest:
    </p>
    <ul class="page-body-ul">
        <li>
            не повинна призначатися для неповнолітніх або зображати неповнолітніх, що споживають алкогольні напої;
        </li>
        <li>
            не повинна пов’язувати споживання алкоголю з покращенням фізичних показників,
            соціального статусу або сексуальної привабливості;
        </li>
        <li>
            не повинна заохочувати надмірне вживання алкоголю чи натякати, що надмірне споживання алкоголю
            є корисним або що алкоголь має лікувальні властивості (збуджувальні або розслаблювальні);
        </li>
        <li>
            не повинна зображати людей у нетверезому стані або пов’язувати споживання алкоголю з
            відповідальною діяльністю (наприклад, з керуванням автомобілем або
            важкою технікою), асоціальною чи незаконною поведінкою;
        </li>
        <li>
            не повинна підкреслювати високий контент алкоголю як позитивну властивість.
        </li>
    </ul>
    <h5 class="page-subtitle">
        Конкурси, лотереї та винагороди Pinterest
    </h5>
    <p class="page-body">
        Якщо ви рекламуєте конкурси або лотереї, заохочуйте вільну поведінку, утримуйтеся від поширення
        спаму на Pinterest і обов’язково дотримуйтеся всіх відповідних законів і положень. Крім того:
    </p>
    <ul class="page-body-ul">
        <li>
            не вимагайте в учасників, щоб вони зберігали якісь конкретні зображення;
        </li>
        <li>
            не дозволяйте жодному учаснику розміщувати більше однієї публікації,
            якщо для участі потрібна дія на Pinterest;
        </li>
        <li>
            не вимагайте, щоб користувачі купували товар чи послугу або платили гроші за участь;
        </li>
        <li>
            не натякайте на те, що Pinterest рекомендує брати участь у вашій акції чи спонсорує її або вас;
        </li>
        <li>
            переконайтеся, що заголовок, опис чи зображення рекламного оголошення вказує на те,
            що це конкурс чи лотерея.
        </li>
    </ul>
    <p class="page-body">
        Ми не дозволяємо нічого, що спонукає користувачів натискати кнопки Pinterest
        заради отримання грошей, призів або знижок.
    </p>
    <h5 class="page-subtitle">
        Послуги та інструменти фінансування
    </h5>
    <p class="page-body">
        Реклама фінансових товарів і послуг має містити чітку та вичерпну інформацію про відповідні правила та
        умови згідно з місцевими законами та нормами країни або регіону, де розповсюджується реклама.
        Наприклад, реклама споживчих кредитів повинна містити інформацію про річну відсоткову ставку,
        строк повернення коштів, комісії, штрафи та кредитну установу.
    </p>
    <p class="page-body">
        Ми забороняємо рекламувати певні види фінансових продуктів, як-от криптовалютні продукти й послуги, а
        також позики до зарплати, про що написано в правилах щодо неприйнятної бізнес-діяльності.
        Однак рекламодавці можуть рекламувати такі послуги/продукти з урахуванням указаних обмежень:
    </p>
    <ul class="page-body-ul">
        <li>
           Централізовані біржі криптовалют або цифрових активів, що належним
            чином зареєстровані та/або ліцензовані й підпорядковуються, якщо це передбачено
            законодавством, всім державним органам відповідної юрисдикції.
        </li>
        <li>
            Саморозміщені й розміщені на сервері криптовалютні гаманці та продукти й послуги для зберігання,
            що належним чином зареєстровані та/або ліцензовані й підпорядковуються, якщо це передбачено законодавством,
            всім державним органам відповідної юрисдикції.
        </li>
        <li>
            Реклама дозволених продуктів або послуг не може гарантувати фінансовий прибуток,
            передбачати майбутню вартість або ціни на криптовалюти. В подачі реклами не дозволено
            використовувати надмірну настирливість, щоб переконати людей придбати або скористатися
            товаром чи послугою.
            <p class="page-body">
                Рекламні оголошення дозволених товарів або послуг можуть пропонувати мінімальні розумні
                фінансові винагороди (наприклад, у таких оголошеннях: «Отримайте 25 доларів
                у біткойнах за реєстрацію!»)
            </p>
        </li>
        <li>
            Рекламодавці повинні бути попередньо схвалені Pinterest.
        </li>
    </ul>
    <h5 class="page-subtitle">
        Ігрові послуги та товари для азартних ігор
    </h5>
    <p class="page-body">
        Ми не дозволяємо рекламу:
    </p>
    <ul class="page-body-ul">
        <li>
            будь-яких лотерей;
        </li>
        <li>
            додатків для азартних ігор;
        </li>
        <li>
            додатків для азартних ігор;
        </li>
    </ul>
    <p class="page-body">
        Ми також не дозволяємо розміщувати рекламу змагань із фентезі-спорту чи інших ігор за винагороду,
        які потребують внеску за участь.
    </p>
    <p class="page-body">
        Ми дозволяємо розміщувати рекламу звичайних казино, яка не веде до азартних онлайн-ігор,
        а також лотерей або ігор, що базуються на навичках, якщо це не забороняється нашими
        правилами для певної країни.
    </p>
    <h5 class="page-subtitle">
        Товари та послуги медичного призначення
    </h5>
    <p class="page-title">
        Ми не дозволяємо таке:
    </p>
    <ul class="page-body-ul">
        <li>
            оголошення про набір суб’єктів клінічних випробувань;
        </li>
        <li>
            пропозиції щодо проведення тестів на батьківство;
        </li>
        <li>
            безпосереднє проведення генетичних тестів, за винятком тих,
            що використовуються для визначення генеалогічної інформації;
        </li>
        <li>
            послуги сурогатного материнства;
        </li>
        <li>
            заяви щодо профілактики або лікування хвороб;
        </li>
        <li>
            рекламу небезпечних і ненадійних консультацій і товарів або товарів, які викликають звикання;
        </li>
        <li>
            рекламу інвазійних медичних процедур.
        </li>
        <li>
            продаж або придбання людських частин тіла, органів, тканин або рідин.
        </li>
    </ul>
    <p class="page-body">
        Ми дозволяємо рекламу:
    </p>
    <ul class="page-body-ul">
        <li>
            окулярів і контактних лінз;
        </li>
        <li>
            медичних приладів класу I і II, якщо це дозволено правилами для певної країни;
        </li>
        <li>
            безрецептурних препаратів, якщо це не заборонено нашими правилами для певної країни;
        </li>
        <li>
            безрецептурні контрацептивні засоби, що не зосереджуються на сексуальному задоволенні,
            якщо це не заборонено нашими правилами для певної країни
        </li>
        <li>
            постачальників послуг телемедицини (діють обмеження).
        </li>
    </ul>
    <p class="page-body">
        З попереднім дозволом від Pinterest наведені нижче рекламні оголошення дозволено розміщувати
        з певними обмеженнями:
    </p>
    <ul class="page-body-ul">
        <li>
            рекламу фармацевтичних виробників (із зазначенням бренду або без нього);
        </li>
        <li>
            оголошення щодо рецептурних ліків (для людей або хатніх і свійських тварин);
        </li>
        <li>
            рекламу інтернет-аптек;
        </li>
        <li>
            рекламу рецептурних препаратів постачальниками послуг телемедицини;
        </li>
        <li>
            Нижче наведено обмеження щодо рекламних оголошень для цих категорій:
        </li>
        <ul class="page-body-ul inner">
            <li>
                Рекламні оголошення можна розміщувати лише в США.
            </li>
            <li>
                Рекламні оголошення можуть показуватися лише користувачам віком від 18 років.
            </li>
            <li>
                Рекламні оголошення не можуть просувати повністю або частково заборонені препарати,
                зокрема рецептурні знеболювальні на основі опіатів.
            </li>
            <li>
                Рекламні оголошення не можуть просувати препарати для схуднення.
            </li>
            <li>
                Рекламні оголошення не можуть пропонувати ліки, що відпускаються за рецептом,
                без надання останнього, або закликати до зловживання рецептурними препаратами.
            </li>
            <li>
                Рекламні оголошення не можна націлювати на неповнолітніх.
            </li>
        </ul>
    </ul>
    <p class="page-body">
        Зверніть увагу, що ми покладаємося на сторонні перевірки, щоб визначити право рекламодавця на
        показ цих рекламних оголошень. Рекламодавці несуть відповідальність за дотримання всіх законів і правил.
    </p>
    <h5 class="page-subtitle">
        товарів і послуг, що сприяють втраті ваги
    </h5>
    <p class="page-body">
        Ми хочемо створити в Pinterest атмосферу доброзичливості та натхнення для кожного, тому не
        дозволяємо публікувати рекламу, яка закликає до схуднення чи принижує через зовнішній вигляд.
        Забороняється публікувати
    </p>
    <ul class="page-body-ul">
        <li>
            будь-які тексти або зображення, що закликають до схуднення;
        </li>
        <li>
            будь-які відгуки щодо схуднення або товарів для схуднення;
        </li>
        <li>
            будь-які тексти чи образи, що ідеалізують або принижують певні типи фігури;
        </li>
        <li>
            посилання на індекс маси тіла (ІМТ) або подібні індекси;
        </li>
        <li>
            пігулки, харчові добавки та інші товари для зниження ваги або апетиту;
        </li>
        <li>
            будь-які товари для схуднення, що передбачають носіння пристосувань чи нанесення засобів на шкіру;
        </li>
        <li>
            зображення до та після втрати ваги;
        </li>
        <li>
            опис процедур для схуднення, як-от ліпосакції або спалювання жирів в організмі;
        </li>
        <li>
            приниження людей через зовнішній вигляд, зокрема зображення або висловлювання, що висміюють
            певні типи фігури чи зовнішні особливості або привертають негативну увагу до певних ділянок тіла;
        </li>
        <li>
            заяви щодо нереалістичних косметичних результатів.
        </li>
    </ul>
    <p class="page-body">
        Дозволяється розміщувати рекламні оголошення, що пропагують здоровий спосіб життя
        та звички або фітнес-послуги та товари, якщо вони не зосереджені на втраті ваги.
    </p>
</article>