<article class="article" id="respect_audience">
    <h3 class="page-title">
        Поважайте свою цільову аудиторію
    </h3>
    <p class="page-body">
        Налаштуйте таргетинг відповідно до аудиторії та правил нижче.
    </p>
    <h5 class="page-subtitle">
        Не вибирайте своєю цільовою аудиторією вразливі категорії користувачів
    </h5>
    <p class="page-body">
        Вибір певної цільової аудиторії може виглядати недоречним і навіть образливим.
        За жодних обставин не дозволяється вибирати цільову аудиторію на основі відомої
        вам конфіденційної інформації про користувачів. Ви не можете вибирати цільову аудиторію на основі:
    </p>
    <ul class="page-body-ul">
        <li>
            важкого стану здоров’я;
        </li>
        <li>
            расового або етнічного походження;
        </li>
        <li>
            особистих труднощів, зокрема пов’язаних із фінансовим, фізичним і емоційним станом;
        </li>
        <li>
            релігійних або філософських поглядів чи переконань;
        </li>
        <li>
            сексуальної поведінки або орієнтації чи гендерної ідентичності;
        </li>
        <li>
            гаданого або фактично скоєного злочину.
        </li>
        <li>
            приналежності до професійних спілок;
        </li>
        <li>
            політичних уподобань.
        </li>
        <li>
            крім того, не можна вибрати пінерів, якім не виповнилося 18 років.
        </li>
    </ul>
    <p class="page-body">
        Зверніть увагу, що таргетинг на основі проксі-сервісів за наведеними вище
        категоріями делікатного характеру також не допускається.
    </p>
    <h5 class="page-subtitle">
        Захищені групи
    </h5>
    <p class="page-body">
        Для певних категорій рекламних оголошень застосовуються додаткові обмеження таргетингу.
        Крім правил щодо таргетингу груп із делікатними особливостями, рекламні оголошення
        наведених нижче категорій не можуть виключати захищені групи або використовувати
        таргетинг відповідно до схожої діяльності, віку, статі чи розташування.
    </p>
    <ul class="page-body-ul">
        <li>
            Кредитування — реклама кредитних продуктів, таких як кредитні картки, іпотеки, закладні, займи.
        </li>
        <li>
            Працевлаштування — реклама можливостей із пошуку роботи, зокрема з повною та
            частковою зайнятістю та в дистанційному форматі.
        </li>
        <li>
            Нерухомість — реклама покупки, продажу чи оренди землеволодінь або будинків.
        </li>
    </ul>
    <p class="page-body">
        Не забувайте, що на додачу до окремих груп, щодо яких таргетинг у Pinterest заборонено взагалі,
        ми захищаємо дані про вік, стать і сімейний стан. Ми не допустимо рекламні кампанії із забороненим
        таргетингом у цих категоріях. Рекламні оголошення в цих категоріях із таргетингом як за забороненими,
        так і за незабороненими ключовими словами та/або темами, може бути схвалено, але вони не показуватимуться
        на основі заборонених критеріїв таргетингу.
    </p>
</article>