<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <ul class="nav-list">
                <li><a href="#our-aim">Наша мета</a></li>
                <li><a href="#be_sincere">Будьте щирі зі своєю авдиторією</a></li>
                <li><a href="#respect_audience">Поважайте свою цільову авдиторію</a></li>
                <li><a href="#be_carefully">Обережно використовуйте інформацію</a></li>
                <li><a href="#well_think">Добре продумуйте зміст оголошень</a></li>
                <li>
                    <a href="#be_responsible">
                        Будьте відповідальні за свій контент
                    </a>
                </li>
                <li><a href="#prohibited_materials">Не розміщайте заборонений контент</a></li>
                <li><a href="#material_rules">Притримуйтесь правил для контенту з обмеженнями</a></li>
                <li><a href="#national_legislation">Вимоги національного законодавства</a></li>
                <li><a href="#to_remember">Майте на увазі...</a></li>
            </ul>
        </nav>
    </div>
</div>