<article class="article" id="to_remember">
    <h3 class="page-title">
        Майте на увазі...
    </h3>
    <p class="page-body">
        Вам потрібно переконатися, що ваша реклама відповідає нашим стандартним правилам
        розміщення реклами та вимогам національного законодавства. Ви маєте дотримуватися
        всіх чинних місцевих законів, норм і галузевих стандартів у регіоні, у якому показуватиметься
        ваша реклама, а також отримувати необхідні дозволи для такого показу. Ви також маєте
        дотримуватися наших правил спільноти, умов і наведених вище правил розміщення реклами,
        зокрема наших правил таргетингу. Ці правила розміщення реклами стосуються всіх компонентів
        ваших рекламних матеріалів, зокрема зображень, опису, призначення, а також таких можливостей
        націлювання, як таргетинг за ключовими словами та аудиторією.
    </p>
    <p class="page-body">
        Ми зберігаємо за собою право відхилити або видалити будь-яке рекламне оголошення, яке негативно впливає
        на нашу взаємодію з користувачами Pinterest або порушує наші інтереси. Ми також можемо видалити рекламні
        оголошення, їхні категорії чи рекламодавців, які отримали багато негативних відгуків від користувачів
        Pinterest. Ці правила можуть змінитися будь-якої миті.
    </p>
</article>