<article class="article" id="well_think">
    <h3 class="page-title">
        Добре продумуйте редакційний аспект своїх матеріалів
    </h3>
    <p class="page-body">
        Щоб рекламні оголошення надихали й були ефективними, ми встановили високі редакційні стандарти для
        рекламних матеріалів у Pinterest. Щоб отримати поради, ви можете переглянути розділ із
        <a href="#">найкращими творчими методами</a> , а також <a href="#">дошки в Студії</a> .
    </p>
    <h5 class="page-subtitle">
        Професійні й ретельно відредаговані зображення
    </h5>
    <p class="page-body">
        Реклама повинна відповідати найвищим редакційним стандартам. Ми не дозволяємо рекламу:
    </p>
    <ul class="page-body-ul">
        <li>
            розмитих або зернистих зображень (намагайтеся, щоб їхній розмір не був меншим за 600 х 900 пікселів);
        </li>
        <li>
            зображень із занадто дрібним чи розмитим текстом, який важко прочитати;
        </li>
        <li>
            неправильно орієнтованих зображень (розгорнутих боком або догори ногами);
        </li>
        <li>
            погано відредагованих чи обрізаних зображень;
        </li>
        <li>
            занадто перевантажених зображень, які містять забагато тексту різних шрифтів і
            кольорів (намагайтеся використовувати не більш ніж 4 рамки й не більш ніж 2 шрифти й кольори);
        </li>
        <li>
            зображень зі штучним функціоналом, наприклад кнопок для завантаження або відтворення,
            значків сповіщення, панелей пошуку або елементів, що імітують функції Pinterest
            (наприклад, наші кнопки «Зберегти» або «Купити»);
        </li>
        <li>
            елементів, що імітують функції Pinterest (наприклад, наших кнопок або значків трикрапки);
        </li>
        <li>
            граматичних і орфографічних помилок, надмірного вживання великих літер і спеціальних символів.
        </li>
        <li>
            створеного користувачами контенту низької якості, наприклад селфі або знімків екрана;
        </li>
        <li>
            рекламних оголошень, що містять відблиски, або є засвіченими.
        </li>
    </ul>
    <h5 class="page-subtitle">
        Цільові сторінки високої якості
    </h5>
    <p class="page-body">
        Нам важливо, щоб реклама була якісною від початку й до самого кінця. Це стосується навіть URL-адреси,
        посилання на яку містить рекламне оголошення. Ми хочемо, щоб користувачі завжди отримували те,
        чого очікують, коли натискають рекламу. Ми не дозволяємо розміщення цільових сторінок, які:
    </p>
    <ul class="page-body-ul">
        <li>
            вимагають від користувачів певної дії (наприклад, зареєструватися), перш ніж вони зможуть
            переглянути контент, якщо в рекламі прямо не зазначено, що така дія необхідна;
        </li>
        <li>
            містять спливаючу рекламу або починають автоматичні завантаження на пристроях користувачів;
        </li>
        <li>
            змушують користувачів відвідати іншу сторінку;
        </li>
        <li>
            містять здебільшого рекламний контент (сайти рекламних оголошень).
        </li>
        <li>
            відтворюють невідповідні матеріали.
        </li>
    </ul>
    <h5 class="page-subtitle">
        Створіть відповідні матеріали
    </h5>
    <p class="page-body">
        Ваші рекламні оголошення повинні передавати суть вашої діяльності та описувати товар,
        який ви рекламуєте, тому переконайтеся, що ваші зображення та описи ведуть на
        відповідні цільові сторінки. Ваші оголошення не можуть пропонувати товар або
        натякати на його наявність на цільовій сторінці, якщо насправді ви його не продаєте.
    </p>
</article>