{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'policy/css/community_guidelines.css' %}">
{% endblock %}

{% block js_additional %}
    <script src="{% static 'policy/js/community_guidelines.js' %}"></script>
{% endblock %}

{% block body %}
    {% include "./_includes/policy_header.html" %}
    <section class="main-page">
        <h1 class="section-title">
            Правила спільноти
        </h1>
        <div class="container">
            <article class="page-article" id="our-aim">
                <h3 class="page-title">
                    Наша мета
                </h3>
                <p class="page-body">
                    Мета Pinterest — надихати кожного й давати людям
                    можливість займатись улюбленою справою.
                    Проте не всі матеріали надихають, тож у нас є
                    правила спільноти, у яких указано, що можна та
                    не можна робити на Pinterest. Ці правила є нашою
                    політикою допустимого використання. Якщо ви
                    побачите контент, якого не має бути на Pinterest,
                    <a href="#">повідомте нас про це</a>.
                    Ми цінуємо ваш відгук і
                    докладемо максимум зусиль, щоб переглянути вашу
                    скаргу й ужити належних заходів. Ваші повідомлення
                    допомагають нам удосконалюватися та покращувати
                    наші стандарти. Ми співпрацюємо з експертами в
                    різних галузях із метою доповнення та оновлення
                    наших правил. Дізнайтеся більше про застосування
                    цих правил із нашого піврічного <a href="#">
                    звіту про роботу служб</a>.
                </p>
            </article>
            <aside>
                {% include "./_includes/community_guidelines/sidebar.html" %}
            </aside>
        </div>
        {% include "./_includes/community_guidelines/content_safety.html" %}
        {% include "./_includes/community_guidelines/adults_content.html" %}
        {% include "./_includes/community_guidelines/expluatation.html" %}
        {% include "./_includes/community_guidelines/enemy_actions.html" %}
        {% include "./_includes/community_guidelines/lying.html" %}
        {% include "./_includes/community_guidelines/desinformation.html" %}
        {% include "./_includes/community_guidelines/climat_lying.html" %}
        {% include "./_includes/community_guidelines/criticism.html" %}
        {% include "./_includes/community_guidelines/children_safety.html" %}
        {% include "./_includes/community_guidelines/personal_info.html" %}
        {% include "./_includes/community_guidelines/dangerous_behaviour.html" %}
        {% include "./_includes/community_guidelines/violence_and_threats.html" %}
        {% include "./_includes/community_guidelines/brutal_actions.html" %}
        {% include "./_includes/community_guidelines/dangerous_goods.html" %}
        {% include "./_includes/community_guidelines/copyright.html" %}
        {% include "./_includes/community_guidelines/safety.html" %}
        {% include "./_includes/community_guidelines/spam.html" %}
        {% include "./_includes/community_guidelines/pay_partner.html" %}
        {% include "./_includes/community_guidelines/partners_law.html" %}
        {% include "./_includes/community_guidelines/rules.html" %}
    </section>
    {% include "./_includes/policy_footer.html" %}
{% endblock %}