{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
  <link rel="stylesheet" href="{% static 'policy/css/transparency_report.css' %}">
{% endblock %}

{% block js_additional %}
  <script src="{% static 'policy/js/transparency_report.js' %}"></script>
{% endblock %}

{% block body %}
  {% include "./_includes/policy_header.html" %}
  <section class="main-page">
    <h1 class="section-title">
      Звіт про роботу служб
    </h1>
    <div class="container">
      <article class="article">
        <p class="page-body">
          Мета Pinterest — надихати кожного й давати людям можливість
          займатись улюбленою справою. І саме цим ми керуємось у розробці й
          упровадженні політик щодо контенту.
        </p>
        <p class="page-body">
          Оскільки не весь контент в інтернеті надихає, ми застосовуємо обмеження щодо того, що є прийнятним на
          Pinterest. Наші методи модерації постійно вдосконалюються, щоб не відставати від нових видів поведінки
          та тенденцій. Таким чином ми створюємо позитивний інтернет-простір для користувачів нашої платформі.
          Для протидії публікаціям, які порушують політику Pinterest, ми активно розвиваємо такий напрям, як
          технології машинного навчання, а також співпрацюємо зі сторонніми експертами та організаціями,
          щоб удосконалювати нашу політику та методи модерації контенту.
        </p>
        <p class="page-body">
          Ми почали публікувати <a href="#">звіт про роботу служб</a> у 2013 році та почали розширювати
          його з четвертого кварталу
          2020 року, щоб додати інформацію про дії, які ми виконуємо, для дотримання наших
          <a href="{% url 'community_guidelines' %}">Правил спільноти</a>.
          У цьому звіті про роботу служб ви знайдете інформацію про наші зусилля, спрямовані на те, щоб наша
          платформа була безпечною й надихаючою, як-от кількість деактивацій пінів і облікових записів.
          Цей розділ також містить дані про обсяг інформаційних запитів і запитів на деактивацію, отриманих
          від правоохоронних і державних органів. Звіт охоплює другу половину 2022 року з липня по грудень і
          охоплює понад 400 окремих точок даних.
        </p>
        <p class="page-body">
          Провідні політики та методи Pinterest сприяють інклюзивності, безпеці й ефективнішому онлайн-досвіду.
          Від таких рішень, як заборона шкідливої хибної інформації та всіх рекламних оголошень політичних
          кампаній, до пропонування інструментів для підтримки психічного здоров’я, Pinterest знаходиться
          в авангарді подібних платформ. Ми прагнемо вдосконалювати галузь у цих питаннях,
          щоб разом формувати більш натхненний інтернет
        </p>
      </article>
      <aside>
        {% include './_includes/enforcement/sidebar.html' %}
      </aside>
    </div>
    {% include './_includes/transparency_report/what_new.html' %}
    {% include './_includes/transparency_report/community_safety.html' %}
    {% include './_includes/transparency_report/rules_control.html' %}
    {% include './_includes/transparency_report/reporting_periods.html' %}
  </section>
  {% include './_includes/policy_footer.html' %}
{% endblock %}