{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'policy/css/transparency.css' %}">
{% endblock %}

{% block js_additional %}
    <script src="{% static 'policy/js/transparency.js' %}"></script>
{% endblock %}

{% block body %}
    {% include "./_includes/policy_header.html" %}
    <section class="main-page">
        <h1 class="section-title">
            Прозорість
        </h1>
        <div class="container">
            <article class="article">
                <p class="page-body">
                    Мета Pinterest — надихати кожного й давати людям можливість займатись улюбленою справою.
                    І саме цим ми керуємось у розробці й упровадженні політик щодо контенту.
                </p>
                <p class="page-body">
                    Оскільки не весь контент в інтернеті надихає, ми застосовуємо обмеження щодо того, що є
                    прийнятним на Pinterest. Ми постійно вдосконалюємо наші методи модерації, щоб не
                    відставати від нових видів поведінки й трендів. У такий спосіб ми створюємо
                    позитивний інтернет-простір для користувачів нашої платформи. Ми й далі
                    інвестуємо значні кошти в такі заходи, як технології машинного навчання,
                    щоб боротися з контентом, що порушує політику на Pinterest. Ми також співпрацюємо
                    зі сторонніми експертами й організаціями, щоб інформувати людей про нашу політику
                    та методи модерації вмісту.
                </p>
                <p class="page-body">
                    Ми почали публікувати звіт про роботу служб у 2013 році (раз на два роки) і почали розширювати
                    його з 2020 року, щоб додати інформацію про дії, які ми виконуємо, для дотримання наших
                    <a href="{% url 'community_guidelines' %}">Правил спільноти</a> .
                    У цьому звіті про роботу служб ви знайдете інформацію про наші зусилля,
                    спрямовані на те, щоб наша платформа була безпечним джерелом натхнення, як-от кількість
                    деактивацій пінів і облікових записів. Цей розділ також містить дані про обсяг запитів на
                    надання інформації та деактивацію, отриманих від правоохоронних і державних органів.
                </p>
                <h3 class="page-title">
                    Наш останній звіт
                </h3>
                <p class="page-body padding">
                    Наш останній звіт про роботу служб на глобальному рівні охоплює другу половину
                    2022 року (з липня по грудень)
                </p>
                <a href="{% url 'transparency_report' %}"
                   class="form-redirect-btn">Переглянути звіт</a>
                <div class="accordion">
                    <div class="chapter">
                        <h5 class="page-subtitle">
                            Минулі звіти
                        </h5>
                        <img src="   https://cdn-icons-png.flaticon.com/512/32/32195.png " width="20"
                 height="20" alt="" title="" class="img-small">
                    </div>
                    <div class="explanation">
                        <ul class="page-body-ul">
                            <li>
                                <a href="#">Звіт за січень - червень 2022 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіт за липень - грудень 2021 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіт за січень - червень 2021 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіти за 2020 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіти за 2019 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіти за 2018 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіти за 2017 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіти за 2016 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіти за 2015 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіти за 2014 р.</a>
                            </li>
                            <li>
                                <a href="#">Звіти за 2013 р.r</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}