{% extends 'main/layout.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'policy/css/usage_terms.css' %}">
{% endblock %}

{% block js_additional %}
    <script src="{% static 'policy/js/usage_terms.js' %}"></script>
{% endblock %}

{% block body %}
    {% include "./_includes/policy_header.html" %}
    <section class="main-page">
        <h1 class="section-title">
            Умови надавання послуг
        </h1>
        <div class="container">
            <article class="page-article">
                <h3 class="page-title" id="thanks">Дякуємо за використання Fineterest!</h3>
                <p class="page-body">
                    Ці Умови надання послуг (далі — «Умови») описують те,
                    як ви можете отримувати доступ до будь-яких сайтів,
                    додатків, послуг, технологій, API, віджетів,
                    платформ, каналів Pinterest або інших продуктів
                    чи функцій, якими ми володіємо, керуємо
                    і які пропонуємо під нашим брендом
                    (далі — «Pinterest» або «Сервіс»),
                    а також як ви використовуватимете їх, за винятком
                    випадків, коли ми прямо стверджуємо, що
                    застосовуються окремі умови (а не ці).
                    У межах поточних Умов займенник «ми»
                    стосується сторони, з якою ви укладаєте
                    цю угоду, відповідно до Розділу
                    13(e) (далі — «Сторони»).
                    Уважно прочитайте ці Умови й зв’яжіться з
                    нами, якщо матимете запитання.
                </p>
                <p class="page-body">
                    Ви не можете використовувати
                    Сервіс для створення або поширення
                    будь-яких матеріалів,
                    що суперечать цим Умовам.
                    Для більшої ясності, ці
                    Умови охоплюють такі політики:
                </p>
                <ul class="terms-ul">
                    <li>
                        наші <a href="#">Правила спільноти,</a> які пояснюють,
                        що можна та що не можна робити на Fineterest;
                    </li>
                    <li>
                        наші <a href="#">Правила розміщення реклами</a>
                        та <a href="#">Правила для продавців,</a>
                        у яких пояснюються додаткові політики,
                        що стосуються рекламних оголошень
                        і продавців у Fineterest;
                    </li>
                    <li>
                        наша методика <a href="#">контролю за дотриманням
                        правил і політик,</a> яка пояснює,
                        як ми впроваджуємо нашу політику,
                        зокрема обмеження, які ми можемо
                        накласти на ваш контент або
                        використання вами Fineterest.
                    </li>
                </ul>
                <p class="page-body">
                    Отримуючи доступ або використовуючи Fineterest,
                    ви погоджуєтеся дотримуватися цих Умов.
                    Якщо ви не погоджуєтеся з нашими Умовами,
                    просимо вас відмовитися від доступу
                    до Fineterest і припинити використовувати цей Сервіс.
                </p>
                <div class="main-info-container">
                    <h6 class="main-title">Простіше кажучи</h6>
                    <p>
                        У кожної компанії є власні умови надавання послуг.Це відноситься і до нас.
                        Вони включають справжні Умови надавання послуг й інші політики,перераховані вище
                    </p>
                </div>
            </article>
            <aside>
                {% include "./_includes/sidebar.html" %}
            </aside>
        </div>
        {% include "./_includes/first_article_chapter.html" %}
        {% include "./_includes/second_article_chapter.html" %}
        {% include "./_includes/third_article_chapter.html" %}
    </section>
{% endblock %}
