.reset-password {
    font-family: "Rubik" sans-serif;
    margin-left: 30%;
    margin-top: 5%;
    max-width: 45%;
    text-align: center;
    justify-content: center;
}

.main-title {
    font-family: "Rubik";
    font-size: 2em;
}

.find-user-form input {
    border: 1px solid gray;
    border-radius: 20px;
    width: 30%;
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 7px;
    position: absolute;
    right: 32%;
    height: 6%;
    z-index: 998;
}

.row-form {
    display: flex;
}

.search-btn {
    position: absolute;
    right: 27%;
    top: 29%;
    border: none;
    border-radius: 20px;
    background: #BABABA;
    padding: 5px 7px;
    font-weight: semi-bold;
    height: 6%;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.search-btn:hover {
    color: black;
}

#find-email {
    top: 36%;
}

#email-input {
    top: 37%;
}

.search-icon {
    position: absolute;
    left: 39%;
    z-index: 999;
    top: 29.5%;
    display: block;
}

.cancel-button {
    position: absolute;
    left: 66%;
    top: 37%;
    z-index: 999;
    cursor: pointer;
    display: none;
}

.reset-password-header {
    padding: 7px 0px 0 7px;
    display: flex;
}

.site-logo {
    color: red;
    font-weight: 500;
    margin-top: 4px;
}

.search-input {
    width: 60%;
}

#view-btn {
    font-weight: bold;
    margin-top: 2px;
}

.search-any {
    width: 100%;
    margin-left: 0.5%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 10px;
    padding-left: 50px;
    color: black;
    margin-right: 10px;
}

#header-icon {
    top: 2.2%;
    left: 18%;
}

.header-btn {
    border: none;
    border-radius: 15px;
}

#login {
    background: #E2E2E2;
    margin-left: 10px;
    height: 100%;
    text-align: center;
    justify-content: center;
    font-weight: 500;
}

#signup {
    background: #C70000;
    color: white;
    font-weight: 500;
    height: 100%;
}

.popup-menu {
    margin-left: 10px;
    padding: 2px;
    padding-bottom: 5px;
}

.popup-menu:hover {
    background: #E2E2E2;
    border-radius: 50px;
}

#header-cancel {
    display: block;
    top: 1.8%;
    left: 74%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
}

.switch:after {
    content: "";
    position: absolute;
    top: .1rem;
    left: .1rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: black;
    display: none;
    display: none;
}

.btn-send-mail {
    margin-top: 20%;
    margin-left: 38%;
    width: 155%;
    background: #C70000;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    display: none;
}

.btn-send-mail:hover {
    background: #C70000;
    color: white;
    font-weight: 500;
}

.sending-confirmation {
    display: none;
    margin-left: 100px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.sending-confirmation h2 {
    font-size: 1.5rem;
}

.sending-confirmation .info-title {
    text-align: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 50%;
    margin-left: 25%;
}


