.reset-password {
    font-family: "Rubik" sans-serif;
    margin-left: 30%;
    margin-top: 5%;
    max-width: 45%;
    text-align: center;
    justify-content: center;
}

.main-title {
    font-family: "Rubik";
    font-size: 2em;
}

.find-user-form input {
    border: 1px solid gray;
    border-radius: 20px;
    width: 30%;
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 7px;
    position: absolute;
    right: 32%;
    height: 6%;
    z-index: 998;
}

.row-form {
    display: flex;
}

.search-btn {
    position: absolute;
    right: 27%;
    top: 29%;
    border: none;
    border-radius: 20px;
    background: #BABABA;
    padding: 5px 7px;
    font-weight: semi-bold;
    height: 6%;
}

.search-icon {
    position: absolute;
    left: 39%;
    z-index: 999;
    top: 29.5%;
    display: block;
}

.cancel-button {
    position: absolute;
    left: 66%;
    top: 29.5%;
    z-index: 999;
    cursor: pointer;
    display: none;
}