body {
    font-family: "Rubik";
}

.reset-password {
    font-family: "Rubik" sans-serif;
    margin-left: 30%;
    margin-top: 5%;
    max-width: 45%;
    text-align: center;
    justify-content: center;
}

.main-title {
    font-family: "Rubik";
    font-size: 2em;
}

.find-user-form input {
    border: 1px solid gray;
    border-radius: 20px;
    width: 30%;
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 7px;
    position: absolute;
    right: 32%;
    height: 6%;
    z-index: 998;
}

.row-form {
    display: flex;
}

.search-btn {
    position: absolute;
    right: 27%;
    top: 29%;
    border: none;
    border-radius: 20px;
    background: #BABABA;
    padding: 5px 7px;
    font-weight: semi-bold;
    height: 6%;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.search-btn:hover {
    color: black;
}

#find-email {
    top: 36%;
}

#email-input {
    top: 37%;
}

.search-icon {
    position: absolute;
    left: 39%;
    z-index: 999;
    top: 29.5%;
    display: block;
}

.cancel-button {
    position: absolute;
    left: 66%;
    top: 37%;
    z-index: 999;
    cursor: pointer;
    display: none;
}

.reset-password-header {
    padding: 7px 0px 0 7px;
    display: flex;
}

.site-logo {
    color: red;
    font-weight: 500;
    margin-top: 4px;
}

.search-input {
    width: 60%;
}

#view-btn {
    font-weight: bold;
    margin-top: 2px;
}

.search-any {
    width: 100%;
    margin-left: 0.5%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 10px;
    padding-left: 50px;
    color: black;
    margin-right: 10px;
}

#header-icon {
    top: 2.2%;
    left: 18%;
}

.header-btn {
    border: none;
    border-radius: 15px;
}

.form-section {
    justify-content: center;
    margin-top: 7%;
    margin-left: 30%;
}

.form-header {
    width: 70%;
    justify-content: center;
    text-align: center;
}

.form-input {
    display: block;
    border-radius: 10px;
    border: 2px solid #C9C9C9;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    width: 45%;
    margin-bottom: 2%;
}

#set-new-password {
    margin-left: 15%;
    margin-top: 3%;
}

#set-new-password label {
    font-weight: 500;
}

#set-new-password button {
    background: #D7D7D7;
    color: #6C6C6C;
    font-weight: 500;
    border-radius: 15px;
    padding: 7px 5px;
    margin-left: 29%;

}

