@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Recursive:wght@300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Rubik";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background: #FFCECE;
    height: 20%;
}

header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    max-width: 10%;
    cursor: pointer;
    height: 100%;
}

header ul li a {
    color: #C41F1F;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
    color: #FF8315;
}

.container{
    display: flex;
    grid-template-columns: 5fr 1fr;
    grid-gap: 10px;
}

.main-page{
    /*
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 10px;
    */
    color: #C41F1F;
    margin-top: 15%;
    margin-left: 20%;
}

.section-title {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 20%;
}

article {
    width: 70%;
}

.first-chapter,
.second-chapter,
.third-chapter{
    width: 60%;
}

.page-title {
    font-size: 2.7rem;
    font-weight: 400;
    margin-bottom: 5%;
}

.page-article {
    width: 120%;
    grid-column: 1;
}

article .page-body {
    font-size: 1.2rem;
}

.terms-ul li a {
    color: #C41F1F;
}

.terms-ul li {
    font-size: 1.2rem;
}

.terms-ul li a:hover {
    color: #ECA500;
}

/* ASIDE PART */

aside {
    width: 50%;
    grid-column: 2;
    margin-right: 120px;
}

.sidebar h5 {
    font-weight: 400;
    font-size: 2rem;
}

.sidebar {
    height: 500px;
    overflow-y: scroll;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    /*max-height: calc(100vh - 60px):
    overflow-y: auto;
    position: static;*/
}

.sidebar-container {
    width: 300px;
    padding: 10px;
    position: relative;
    top: 0;
    transition: top 0.3s ease;
}

.sidebar p {
    max-width: 90%;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #C41F1F;
}

.sidebar p a {
    text-decoration: none;
    color: #C41F1F;
}

.sidebar ul {
    padding-left: 20px;
    counter-reset: item;
    list-style-type: none;
}

.sidebar ul li {
    margin-left: -20px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C41F1F;
}

.sidebar ul li a {
    text-decoration: none;
    color: #C41F1F;
}

.sidebar ul li a:hover,
.sidebar p a:hover{
    text-decoration: underline;
    color: #FF8315;
}

.main-info-container{
    background-color: #E6E6E6;
    padding: 15px;
    margin-bottom: 20px;
}

.main-info-container h6 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.main-info-container p {
    font-size: 1.2rem;
}

.page-body a {
    color: #C41F1F;
}

.page-body a:hover{
    color: #FF8315;
}

.second-chapter {
    display: block;
    margin-top:
}