header {
    font-family: "Rubik";

}

.main-header {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.logo-container {
    margin-left: 10px;
    margin-top: 10px;
}

.logo-title {
    color: #FA0000;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
}

.header-options-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 450;
}

.li-content {
    display: flex;
    align-items: center;
}

.login-container {
    display: flex;
    align-items: center;
}

.header-options {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: -200px;
}

.text-container {
    align-items: center;
}

.header-li {
    margin-right: 50px;
}

.header-li:hover {
    text-decoration: underline;
}

#phrase-container {
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.login-button,
.register-button {
    margin-left: 5px;
    margin-right: 20px;
}

.login {
    text-decoration: none;
}

.login-button {
    color: white;
    font-weight: 450;
    background: red;
    padding: 10px;
    border-radius: 50px;
}

.register-button {
    color: black;
    padding: 10px;
    border-radius: 50px;
    font-weight: medium;
    background: #C6C6C6;
}

.login-button:hover {
    color: white;
    background: #B52222;
}

.register-button:hover {
    color: black;
    background: #B9B9B9;
}

.main-title {
    margin-top: 180px;
    margin-left: 500px;
}

.find-new-title {
    font-size: 55px;
}

.carousel-title {
    font-size: 40px;
    margin-left: 5px;
    color: #B5A909;
}


.carousel-title{
    font-family: 'Rubik';
    display: none;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: -320px;
}

.carousel-indicator {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: #333;
}

.carousel-indicator.active::before {
    content: "",
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: red;
}

#first-title {
    color: #D8BD0C;
}

#second-title {
    color: #0F7000;
}

#third-title {
    color: #1352B2;
}

#fourth-title {
    color: color: #0F7000;
}

#first-point.active {
    background: orange;
}

.show {
    display: block;
}

.carousel-photos{
    position: relative;
    flex-direction: column;
    margin-left: -460px;
    margin-top: 10px;
}

.section-img {
    border-radius: 30px 30px 0 0;
}

#second-img {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: -30px;
}

.section-footer {
    margin-left: -500px;
    margin-top: 10px;
    height: 59px;
    text-align: center;
    background: #E2FD31;
}

.how-it-works {
    font-weight: semi bold;
    font-size: 18px;
    font-family: "Rubik";
    padding-top: 15px;
}

.how-it-works .img-small {
    margin-top: -3px;
    margin-left: -3px;
}


.link-btn {
    position: absolute;
    top: 70%;
    left: 42%;
    display: inline-block;
    margin-left: 100px;
    background: green;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 50px;
}

#third-img {
    margin-left: 290px;
   margin-top: 100px;
}

#fourth-img {
    margin-left: 10px;
}
