header {
    font-family: "Rubik";

}



.main-header {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.logo-container {
    margin-left: 10px;
    margin-top: 10px;
}

.logo-title {
    color: #FA0000;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
}

.header-options-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 450;
}

.li-content {
    display: flex;
    align-items: center;
}

.login-container {
    display: flex;
    align-items: center;
}

.header-options {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: -200px;
}

.text-container {
    align-items: center;
}

.header-li {
    margin-right: 50px;
}


.header-li:hover {
    text-decoration: underline;
}

#phrase-container {
    width: 58%;
    text-align: center;
}

.login-button,
.register-button {
    margin-left: 5px;
    margin-right: 20px;
}

.login {
    text-decoration: none;
}

.login-button {
    color: white;
    font-weight: 450;
    background: red;
    padding: 10px;
    border-radius: 50px;
}

.register-button {
    color: black;
    padding: 10px;
    border-radius: 50px;
    font-weight: medium;
    background: #C6C6C6;
}

.login-button:hover {
    color: white;
    background: #B52222;
}

.register-button:hover {
    color: black;
    background: #B9B9B9;
}


.main-title {
    margin-top: 180px;
    margin-left: 500px;
}

.find-new-title {
    font-size: 55px;
    margin-left: -20px;
    letter-spacing: 0.15rem;
}

.carousel-title {
    font-size: 40px;
    margin-left: -20px;
    color: #B5A909;
}

.carousel-group {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);
}

#second-title {
    margin-left: -50px;
}


.carousel-title{
    font-family: 'Rubik';
    display: none;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: -310px;
}

.carousel-indicator {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: #333;
}

.carousel-indicator.active::before {
    content: "",
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: red;
}

#first-title {
    color: #D8BD0C;
}

#second-title {
    color: #0F7000;
}

#third-title {
    color: #1352B2;
}

#fourth-title {
    color: color: #0F7000;
}

#first-point.active {
    background: orange;
}

.show {
    display: block;
}

.carousel-photos{
    position: relative;
    flex-direction: column;
    margin-left: -460px;
    margin-top: 10px;
}

.section-img {
    border-radius: 30px 30px 0 0;
    width: 230px;
    height: 200px;
    transition: opacity: 0.5s;

}


.fade-in {
    transition: 1;
}


.section-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    z-index: 1;
}

.lower-first {
    height: 100px;
    margin-bottom: -100px;
}

.lower {
    height: 100px;
    margin-bottom: -100px;
    margin-left: 20px;
    margin-right: 20px;
}

.left-section {
    margin-left: 360px;
}

.section-img:before {
    content: "";
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
    opacity: 0;
    transition: opacity: 0.5s;
}


#second-img {
    /*margin-top: 100px;*/
    margin-left: 25px;
    margin-right: 10px;
}

.section-footer {
    margin-left: -500px;
    margin-top: 10px;
    height: 59px;
    text-align: center;
    background: #E2FD31;
}

.how-it-works {
    font-weight: semi-bold;
    font-size: 18px;
    font-family: "Rubik";
    padding-top: 15px;
}

.how-it-works .img-small {
    margin-top: -3px;
    margin-left: -3px;
}


.link-btn {
    position: absolute;
    top: 70%;
    left: 41%;
    display: inline-block;
    margin-left: 100px;
    background: #D8BD0C;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 50px;
    color: white;
    transition: transform 0.6s ease-in-out;
}

#third-img {
    display: clear;
    margin-left: 400px;
    /*margin-top: 100px;*/

}

#fourth-img {
    margin-left: 10px;
}

#left-img {
    margin-left: -20px;
}

.house-decor,
.fashion-look,
.style-garden {
    display: none;
}