#registration {
    position: relative;
    height: 43em;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/registration_section/background_image.jpg");
}

.background-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.left-content,
.right-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.left-content {
    position: absolute;
    top: 0;
    padding: 15%;
    left: 0;
}

.right-content {
    position: absolute;
    top: 0;
    right: 0;
}

.first-section-link {
    position: absolute;
    top: 20px;
    left: -150px;
}

.link-btn {
    background: #9A1313
}

.desc-content {
    background-color: transparent;
}

.desc-content h1 {
    color: white;
    font-size: 60px;
}

.form-content {
    background-color: transparent;
    height: 100%;
}

.form-content .signin-form {
    height: 100%;
    padding: 50px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin-left: 5%;
    background: white;
    height: 100%;
    z-index: 1;
    
}

.form-content form h2 {
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.form-description {
    margin-bottom: -5px;
}

.form-content form p {
    text-align: center;
    line-height: 1.4;
}

.form-content form .form-control {
    border-radius: 15px;
    height: 45px;
    width: 85%;
    margin-left: 30px;
}

.form-content form label {
    margin-left: 30px;
    margin-top: 10px;
}

.continue-button {
    text-decoration: none;
    margin-left: 30px;
    background: #C00707;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 7px;
    margin-top: 10px;
    width: 85%;
    text-align: center;
    justify-content: center;
    font-weight: 500;
}

.continue-button:hover {
    color: white;
    background: #AE0707;
}

form h6 {
    margin-left: 50%;
    margin-top: 2%;
}

form .continue-with-btn {
    text-decoration: none;
    margin-left: 30px;
}

#facebook {
    color: white;
    background: #34299A;
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    width: 200%;
    cursor: pointer;
    font-weight: 500;
}

br {
    margin-bottom: 10px;
}

form .space {
    margin-top: 10px;
    margin-bottom: 20px;
}

form #google {
    border: 1px solid gray;
    width: 200px;
    color: black;
    margin-bottom: -100px;
    border-radius: 15px;
    padding: 10px 40px;
    font-weight: 500;
}

.login,
.usage-terms {
    max-width: 90%;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}

.usage-terms a {
    text-decoration: none;
    color: black;
}

#login {
    margin-top: -10px;
    margin-bottom: -30px;
}

#login a {
    text-decoration: none;
    color: black;
}

.errorlist {
    list-style-type: none;
    color: red;
    font-size: 12px;
    margin-bottom: -10px;
    font-weight: 500;
}

.test-block {
    display: none;
}

#login-form {
    height: 100%;
    padding: 50px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: -30%;
    background: white;
    height: 100%;
    z-index: 1;
}

.forgot-password {
    text-decoration: none;
    color: #776C6C;
    font-weight: bold;
}

.forgot-password:hover {
    color: #776C6C6;
}