<article class="article" id="categories-table">
    <table class="goverment_table">
        <thead>
            <tr>
                <th>Категорії персональних даних</th>
                <th>Ділові й комерційні цілі збору, використання та розкриття інформації</th>
                <th>Сторони, які можуть отримувати інформацію</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="row-title">
                    <ul class="page-body-ul">
                        <li>
                            ідентифікаційні дані, як-от ваші ім’я й прізвище, ім’я користувача,
                            електронна адреса, номер телефону, унікальні ідентифікатори пристрою
                            та IP-адреса;
                        </li>
                        <li>
                            захищені законом особисті характеристики, як-от стать і вік, а також,
                            за умови вашої згоди, інформація про вашу расову чи етнічну приналежність;
                        </li>
                        <li>
                            комерційна інформація, як-от ваші покупки та платіжні дані;
                        </li>
                        <li>
                            відомості про активність в Інтернеті або електронних мережах, як-от інформація
                            про ваш пристрій або використання наших Служб;
                        </li>
                        <li>
                            дані геолокації на основі вашої IP-адреси й, за умови вашої згоди, точні геодані,
                            що передаються через ваші налаштування пристрою або фотографії;
                        </li>
                        <li>
                            електронна, візуальна інформація тощо, як-от зображення профілю або фотографії;
                        </li>
                        <li>
                            інформація про професійну діяльність або працевлаштування, передана під час підключення
                            облікового запису Pinterest до інших платформ;
                        </li>
                        <li>
                            висновки, які ми робимо про користувачів, як-от ваші інтереси або вподобання;
                        </li>
                        <li>
                            інші надані вами відомості, наприклад ваші біографічні дані, піни, повідомлення та коментарі.
                        </li>
                    </ul>
                </td>
                <td class="second-cell">
                    <ul class="page-body-ul">
                        <li>
                            надання послуг Pinterest;
                        </li>
                        <li>
                            зв’язок із вами для надання оновлень або відповідей на ваші коментарі та запитання;
                        </li>
                        <li>
                            аудит послуг Pinterest;
                        </li>
                        <li>
                            виявлення інцидентів безпеки й запобігання шахрайству, налагодження та усунення помилок;
                        </li>
                        <li>
                            підтримання роботи вашого облікового запису;
                        </li>
                        <li>
                            обслуговування клієнтів;
                        </li>
                        <li>
                            оброблення або виконання замовлень;
                        </li>
                        <li>
                            проведення досліджень і розробок, а також інших заходів для поліпшення послуг Pinterest;
                        </li>
                        <li>
                            показ реклами;
                        </li>
                        <li>
                            просування наших послуг на ринку;
                        </li>
                        <li>
                            аналіз інформації про взаємодію користувачів зі службами Pinterest.
                        </li>
                    </ul>
                </td>
                <td class="third-cell">
                    <ul class="page-body-ul">
                        <li>
                            <b>інші користувачі або аудиторія, залежно від ваших налаштувань</b>
                            Наприклад, будь-хто може переглядати ваші загальнодоступні дошки, піни, які ви створюєте,
                            і інформацію, що ви надаєте в профілі.
                        </li>
                        <li>
                            <b>
                                інші служби
                            </b>
                            за вашою вказівкою, (наприклад, Facebook або Google) для реєстрації чи входу в Pinterest,
                            <a href="#">пов’язання вашого облікового запису Pinterest</a> із цими службами або публікації
                            ваших матеріалів із Pinterest на їхніх сайтах.
                        </li>
                        <li>
                            постачальники, яких ми наймаємо для оброблення інформації від нашого
                            імені на основі наших указівок;
                        </li>
                        <li>
                            правові й інші органи, тільки якщо ми вважаємо, що розкриття інформації необхідне
                            відповідно до закону, правової норми або законного запиту для захисту безпеки,
                            прав або власності громадськості, окремої особи або Pinterest, а також для
                            виявлення шахрайства, технічних неполадок або проблем із безпекою та запобігання їм;
                        </li>
                        <li>
                            корпоративні групи компаній, зокрема дочірні й афілійовані компанії.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="page-body">
        Ми отримали цю інформацію від вас, ваших пристроїв, наших партнерів, рекламодавців і інших третіх осіб .
    </p>
    <p class="page-body">
        Ми не збираємо й не обробляємо конфіденційну особисту інформацію про вас, щоб зробити
        висновок про ваші характеристики.
    </p>
    <p class="page-body">
        Ми зберігаємо вашу інформацію, лише поки вона потрібна нам для надання послуг Pinterest і
        досягнення цілей, описаних тут і в нашій Політиці конфіденційності. Коли ми припинимо
        використання ваших даних і їх не потрібно буде зберігати відповідно до законних або правових
        зобов’язань, ми видалимо їх із нашої системи або зробимо так, щоб вони не вказували на вашу особу.
    </p>
    <p class="page-body">
        Щоб показувати вам рекламні оголошення про Pinterest на інших сайтах і в додатках, ми іноді
        дозволяємо третім особам збирати інформацію про вас за допомогою файлів cookie та подібних
        технологій або розкриваємо їм інформацію для просування Pinterest. Відповідно до законодавства
        штату Каліфорнія ці дії можуть являти собою «обмін» або «продаж». Протягом попередніх 12 місяців
        такі дії були пов’язані зі збором зазначених нижче категорій персональних даних і передачею цих
        даних таким категоріям третіх осіб:
    </p>
    <table class="goverment_table">
        <thead>
            <tr>
                <th>
                    Категорії персональних даних
                </th>
                <th>
                    Категорії третіх осіб
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="row-title">
                    <ul class="page-body-ul">
                        <li>
                            ідентифікатори, як-от ваша IP-адреса, ідентифікатор
                            файлу cookie або адреса електронної пошти;
                        </li>
                        <li>
                            інформація про дії в інтернеті або електронній мережі;
                        </li>
                    </ul>
                </td>
                <td class="second-cell">
                    <ul class="page-body-ul">
                        <li>
                            рекламні мережі;
                        </li>
                        <li>
                            постачальники засобів аналізу даних;
                        </li>
                        <li>
                            соцмережі.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="page-body">
        Ми свідомо не «передаємо» й не «продаємо» інформацію про користувачів віком до 16 років.
    </p>
</article>