<article class="article" id="your_rights">
    <h3 class="page-title">
        Ваші права відповідно до CCPA
    </h3>
    <ul class="page-body-ul">
        <li>
            <b>Право на отримання інформації та доступу.</b>
            Ви можете надіслати підтверджений запит, щоб дізнатися більше про наші методи роботи з
            інформацією та про те, які саме персональні дані ми зібрали про вас.
        </li>
        <li>
            <b>
                Право на виправлення
            </b>
             Ви можете виправити неточні дані, оновивши інформацію профілю у своєму обліковому записі.
        </li>
        <li>
            <b>
                Право на видалення.
            </b>
            Ви можете надіслати підтверджений запит на видалення персональних даних, які ми зібрали про вас.
        </li>
        <li>
            <b>
                Право на відмову від продажу/передачі інформації.
            </b>
            У меню налаштувань ви можете заборонити «передачу» або «продаж» вашої інформації. Для цього виконайте
            інструкції для користувачів у Каліфорнії, наведені в розділі «Конфіденційність і дані».
            Якщо у вас є обліковий запис на нашій платформі й ви заходите на наш сайт з увімкненим
            сигналом вибору відмови (наприклад, Global Privacy Control), ми розглядатимемо це як запит на відмову.
        </li>
        <li>
            <b>
                Право на обслуговування на однакових умовах
            </b>
            Ми не встановлюватимемо жодних обмежень для вас, якщо ви скористаєтеся правами на конфіденційність.
        </li>
    </ul>
    <p class="page-body-ul">
        Для підтвердження вашої особистості під час подання запита вам потрібно буде ввійти в захищений
        паролем обліковий запис або відповісти на електронний лист із запитом на підтвердження.
    </p>
    <p class="page-body-ul">
        Щоб скористатися цими правами, відкрийте <a href="#">налаштування облікового запису</a> й, за необхідності,
        відвідайте наш <a href="#">Довідковий центр</a> або зв’яжіться з нами за
        адресою <a href="mailto:privacy-support@gmail.com">privacy-support@gmail.com</a>.
    </p>
    <p class="page-body">
        Окрім здійснення цих прав самостійно, ви можете також призначити вповноваженого представника
        для подання запитів від вашого імені. Для цього вам потрібно буде підтвердити запит електронною
        поштою або в захищеному паролем обліковому записі. Якщо вповноважений представник не надасть
        дійсного доручення, вам потрібно буде підтвердити запит електронною поштою або в захищеному
        паролем обліковому записі.
    </p>
</article>