<table class="advantages">
    <thead>
    <tr>
        <th></th>
        <th>Особистий</th>
        <th>Бізнес</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="first-cell">
            <div class="content">
                <i class="fa-solid fa-pen"></i>
                <h6>Інструменти для публікації</h6>
            </div>
            <p>Діліться ідеями за допомогою зображень і відео</p>
        </td>
        <td class="icon-column">
            <i class="fa-solid fa-check" style="color: #5d8ddf;"></i>
        </td>
        <td class="icon-column">
            <i class="fa-solid fa-check" style="color: #5d8ddf;"></i>
        </td>
    </tr>
    <tr>
        <td class="first-cell">
            <div class="content">
                <i class="fa-solid fa-info"></i>
                <h6>Служба управління рекламою</h6>
            </div>
            <p>Керуйте кампаніями та відстежуйте їх</p>
        </td>
        <td>
        </td>
        <td class="icon-column">
            <i class="fa-solid fa-check" style="color: #5d8ddf;"></i>
        </td>
    </tr>
    <tr>
        <td class="first-cell">
            <div class="content">
                <i class="fa-solid fa-chart-simple"></i>
                <h6>Статистика й аналітика</h6>
            </div>
            <p>
                Дізнайтесь, які з пінів і оголошень найефективніші
            </p>
        </td>
        <td>
        </td>
        <td class="icon-column">
            <i class="fa-solid fa-check" style="color: #5d8ddf;"></i>
        </td>
    </tr>
    <tr>
        <td class="first-cell">
            <div class="content">
                <i class="fa-regular fa-star"></i>
                <h6>Кредити та пропозиції</h6>
            </div>
            <p>Беріть участь в акціях, отримуйте кредити на оголошення тощо</p>
        </td>
        <td>
        </td>
        <td class="icon-column">
            <i class="fa-solid fa-check" style="color: #5d8ddf;"></i>
        </td>
    </tr>
    </tbody>
</table>