<div class="change-password-modal" id="change-modal">
    <div id="popup-content">
        <h4 class="popup__title">Зміна паролю</h4>
        <div class="popup__container" id="registration_form">
            <!--<form method="post" class="change-password modal-form" id="modal-form">
                {% csrf_token %}
                <div class="error-messages" id="error-messages"></div>
                {% for field in modal_form %}
                    <label>{{ field.label }}</label>
                    {{ field }}
                {% endfor %}
                <div class="buttons-rows">
                    <a href="#" class="modal-btn cancel" id="cancel">Скасувати</a>
                    <button type="submit" class="modal-btn save">
                        Змінити пароль
                    </button>
                </div>
            </form>-->
        </div>
    </div>
</div>