<span class="help-container">
    <span class="circle-button-modal" id="help-popup">
        <ul>
            <li>
                <a href="#">
                    Відвідати довідковий центр
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </li>
            <li>
                <a href="#" id="last-item">
                    Створити віджет
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </li>
        </ul>
        <span class="modal-footer">
            <div class="table-row">
                <div class="table-cell">
                    <a href="#">Про нас</a>
                </div>
                <div class="table-cell">
                    <a href="#">Новини</a>
                </div>
                <div class="table-cell">
                    <a href="#">Для організацій</a>
                </div>
                <div class="table-cell">
                    <a href="#">Вакансії</a>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <a href="#">Розробники</a>
                </div>
                <div class="table-cell" id="copyright-cell">
                    <a href="#" id="copyright">Авторські права</a>
                </div>
            </div>
            <div class="table-row">
                <div class="table-ceil">
                    <a href="#">
                        Політика конфіденційності
                    </a>
                </div>
            </div>
            <div class="table-row">
                <div class="table-ceil">
                    <a href="#">
                        Персоналізовані оголошення
                    </a>
                </div>
            </div>
            <div class="table-row">
                <div class="table-ceil">
                    <a href="#">
                        Ваші права на конфіденційність
                    </a>
                </div>
                <div class="table-ceil">
                    <a href="#">
                        Умови
                    </a>
                </div>
            </div>
        </span>
    </span>
</span>