<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pinterest</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Головна</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Створити</a>
        </li>
        <form class="d-flex" role="search">
          <img alt="Search interface symbol Catalin Fertu Lineal icon" loading="lazy" width="16" height="16"
               decoding="async" data-nimg="1" class=""
               src="https://cdn-icons-png.flaticon.com/512/54/54481.png?ga=GA1.1.1693000823.1695157800"
               style="color: transparent;">
          <input class="form-control me-2" type="search" placeholder="Пошук серед ваших пінів" aria-label="Search">
        </form>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button">
            Dropdown
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>