<div class="sidebar">
  <ul>
      <li>
          <a href="{% url 'settings-profile' %}">Редагування профілю</a>
      </li>
      <li><a href="#">Керування обліковими записами</a></li>
      <li><a href="#">Видимість профілю</a></li>
      <li><a href="#">Налаштувати стрічку</a></li>
      <li><a href="#">Підтверджені облікові записи</a></li>
      <li><a href="#">Дозволи для спільноти</a></li>
      <li><a href="#">Сповіщення</a></li>
      <li><a href="#">Конфіденційність і дані</a></li>
      <li><a href="#">Безпека</a></li>
      <li><a href="#">Контент бренду</a></li>
  </ul>
</div>