<article class="article" id="advertising_enforcement">
    <h3 class="page-title">
        Контроль за дотриманням правил розміщення реклами
    </h3>
    <p class="page-body">
        Ми вважаємо, що рекламований контент може допомогти людям досягти бажаного рівня життя.
        Саме тому ми хочемо, аби рекламні оголошення були одними з найкращих матеріалів, які ви
        бачите на Pinterest. Для цього наша команда вручну перевіряє деякі рекламні оголошення,
        перш ніж показувати їх користувачам, однак деякі з них можуть проходити автоматичну перевірку.
        Наприклад, наші системи можуть автоматично перевіряти й схвалювати оголошення, надіслані рекламодавцем,
        який постійно дотримується наших політик.
    </p>
    <p class="page-body">
        Дізнавшись про порушення наших Правил розміщення реклами, ми вживаємо наведених нижче заходів.
    </p>
    <ul class="page-body-ul">
        <li>
            <b>Відхилення.</b>
            Якщо рекламу відхилено, вона не відображатиметься для користувачів Pinterest.
            Ми можемо відхилити оголошення ще до його показу або вже після початку кампанії,
            наприклад, у відповідь на скаргу користувача Pinterest, який його побачив.
        </li>
        <li>
            <b>
                Обмежене схвалення
            </b>
            Обмежене схвалення означає, що оголошення може відображатися, але з деякими обмеженнями, наприклад,
            його зможуть бачити лише мешканці окремих регіонів або особи, що досягли певного віку; та/або
        </li>
        <li>
            <b>
                Видалення рекламодавця
            </b>
            Якщо ми видаляємо рекламодавця, він більше не має доступу до рекламних інструментів Pinterest.
            Це не впливає на можливість використання інших продуктів Pinterest.
        </li>
    </ul>
    <p class="page-body">
        Ознайомитися з усіма правилами розміщення реклами можна
        <a href="{% url 'advertising_guidelines' %}">тут</a>.
    </p>
</article>