<article class="article" id="control_procedure">
    <h3 class="page-title">
        Процедури й системи контролю за дотриманням правил і політик
    </h3>
    <p class="page-body">
        Ми постійно вдосконалюємо наші методи модерації з урахуванням нових моделей поведінки й
        тенденцій, щоб забезпечити позитивне середовище для відвідувачів нашої платформи.
    </p>
    <h5 class="page-subtitle">
        Процедури
    </h5>
    <ul class="page-body-ul">
        <li>
            <b>
                Скарги щодо порушення правил.
            </b>
            За допомогою скарг ви можете повідомити нам про матеріали, що, на вашу думку, порушують наші політики.
            Надіслати скаргу можна зі сторінки товару та через Довідковий центр. За певних обставин ми
            також можемо надати спеціальну форму для подання скарги на контент, наприклад, у разі порушення
            місцевого законодавства або прав інтелектуальної власності. Зверніть увагу, що ми можемо вжити заходів,
            щоб обмежити або запобігти опрацюванню скарг від осіб, які зловживають нашими каналами зв’язку.
            Наприклад, щоб запобігти зловживанням, ми можемо обмежити кількість повідомлень від однієї особи.
        </li>
        <li>
            <b>
                Скарги щодо відповідності місцевому законодавству
            </b>
             Державні органи, користувачі та інші треті сторони можуть повідомляти про контент, який,
            на їхню думку, може бути незаконним у країні їхнього перебування. Ми можемо обмежити доступ
            до такого контенту у відповідній країні, якщо він порушує місцеве законодавство, але не порушує
            наші правила. За особливих обставин, у зв’язку з функціоналом наших інструментів, ми можемо
            деактивувати контент, що порушує місцеве законодавство.
        </li>
        <li>
            <b>
                Оскарження
            </b>
            Процедура оскарження дає вам можливість повідомити про допущену нами, на вашу думку, помилку.
            Оскарження можна подати зі сторінки товару, через Довідковий центр або за допомогою посилання в листі,
            який ми вам надіслали. Ми розглядаємо запити на оскарження й змінюємо рішення, якщо виявляємо нашу помилку,
            а в деяких випадках надаємо людям другий шанс дотримуватися наших Правил спільноти. Як і у випадку зі
            скаргами, ми можемо обмежити подання оскаржень, наприклад, призупинити опрацювання оскаржень від осіб,
            які часто подають безпідставні або неправомірні оскарження, а також обмежити кількість спроб оскаржити
            певне рішення. Ми також можемо застосовувати засоби автоматизації для ефективнішого реагування на
            оскарження, наприклад поширюючи ухвалене рішення щодо одного піна на інші схожі піни. Доступність
            процедури оскарження може відрізнятися залежно від особливостей товару або регіону. Крім того,
            деякі користувачі можуть використовувати додаткові можливості або механізми оскарження, передбачені
            місцевим законодавством.
        </li>
    </ul>
    <h5 class="page-subtitle">
        Системи
    </h5>
    <p class="page-body">
        Ми контролюємо виконання наших політик за допомогою автоматизованих інструментів,
        ручної перевірки та гібридного підходу, який поєднує елементи обох методів.
        Ці системи можуть використовувати машинне навчання та правила, засновані на логіці.
        За необхідності ми можемо враховувати інформацію, надану довіреними сторонніми компаніями й
        інструментами, що застосовуються в цій сфері. Докладніше про наші методи можна прочитати у <a href="#">звітах
        про роботу служб</a> .
    </p>
    <ul class="page-body-ul">
        <li>
            <b>
                Автоматичне опрацювання
            </b>
            Автоматизовані інструменти використовують комбінацію сигналів для виявлення контенту, що
            потенційно порушує нашу політику, і застосування до нього відповідних заходів. Наприклад,
            моделі машинного навчання оцінюють контент, доданий на нашу платформу. На підставі виставлених
            оцінок автоматизовані інструменти можуть виконувати відповідні дії щодо контролю за
            дотриманням правил і політик.
        </li>
        <li>
            <b>
                Ручне опрацювання.
            </b>
            Опрацювання деяких пінів передбачає їх перевірку людиною. Цю процедуру проходять піни,
            виявлені внутрішніми модераторами, а також піни, на які поскаржилися треті сторони.
            Ця категорія також охоплює піни, перевірені й опрацьовані нашими співробітниками
            після отримання скарги.
        </li>
        <li>
            <b>
                Гібридне опрацювання
            </b>
            Під час процедури гібридного опрацювання наш співробітник визначає, що пін порушує одну з
            політик, а автоматизовані системи поширюють дію його/її рішення на такі самі піни,
            ідентифіковані моделями машинного навчання. Під час гібридного процесу може бути опрацьовано
            кілька пінів або жодного: це залежить від поширеності однакових пінів.
        </li>
    </ul>
    <p class="page-body">
        Механізми, які використовуються для реагування на потенційні порушення політики, відрізняються
        залежно від ступеня розвиненості доступних технологій, обсягу контенту, що порушує правила,
        і інших факторів, зокрема складності оцінювання. Ми й далі вдосконалюємо наші інструменти та
        прагнемо до постійних покращень.
    </p>
    <h5 class="page-subtitle">
        Додаткові заходи щодо контролю за дотриманням правил і політик
    </h5>
    <ul class="page-body-ul">
        <li>
            <b>
                Посилання
            </b>
            Ми можемо модерувати контент на основі пов’язаних із ним посилань (URL-адрес).
            Наприклад, ми можемо заблокувати створення піна з посиланням на неприйнятний вебсайт,
            або ми можемо видалити чи обмежити поширення наявного піна з посиланням на небезпечний
            вебсайт.
        </li>
        <li>
            <b>
                Текст.
            </b>
            Ми можемо модерувати контент на основі пов’язаного з ним тексту. Наприклад, ми можемо
            деактивувати контент або обмежити його поширення, якщо вміщений у ньому текст порушує правила,
            або ми можемо відмовитися відображати результати пошуку чи рекламні оголошення у відповідь на запити,
            текст яких порушує політику або містить неприйнятні матеріали.
        </li>
    </ul>
</article>