<article class="article" id="merchant_enforcement">
    <h3 class="page-title">
        Контроль за дотриманням правил для продавців
    </h3>
    <p class="page-body">
        Ми вважаємо, що можливість знаходити чудові товари від довірених продавців дає людям змогу
        займатись улюбленою справою. Коли ми схвалюємо продавця, він отримує доступ до засобів
        Pinterest для продавців, як-от каталогів і товарних пінів, на які поширюються наші Правила для продавців.
    </p>
    <p class="page-body">
        Дізнавшись про порушення наших Правил для продавців, ми вживаємо наведених нижче заходів.
    </p>
    <ul class="page-body-ul">
        <li>
            <b>
                Деактивація.
            </b>
            Якщо ми деактивуємо пін, він стає недоступним для всіх відвідувачів платформи.
            Деактивацію можна також назвати видаленням.
        </li>
        <li>
            <b>
                Обмеження поширення.
            </b>
             Якщо ми обмежуємо поширення піна, він залишається доступним на Pinterest, але більше не
            відображається в рекомендаціях, результатах пошуку або стрічці; та/або
        </li>
        <li>
            <b>
                Відхилення продавця.
            </b>
            Після відхилення продавцеві буде відмовлено в доступі до засобів Pinterest для продавців.
        </li>
    </ul>
    <p class="page-body">
        Ознайомитися з усіма нашими Правилами для продавців можна <a href="{% url 'merchant_guidelines' %}">тут</a> .
    </p>
</article>