<article class="article" id="rules_enforcement">
    <h3 class="page-title">
        Контроль за дотриманням Правил спільноти
    </h3>
    <p class="page-body">
        Не всі матеріали в Інтернеті надихають, тому ми запровадили <a href="{% url 'community_guidelines' %}">
        Правила спільноти
        </a> ,
        у яких указано, що можна та не можна робити на Pinterest. Нижче описано,
        як ми слідкуємо за дотриманням цих правил.
    </p>
    <p class="page-body">
        Дізнавшись про порушення наших Правил спільноти, ми вживаємо наведених нижче заходів.
    </p>
    <ul class="page-body-ul">
        <li>
            <b>Деактивація</b>
             Якщо ми деактивуємо певний контент (наприклад, піни, дошки, коментарі чи облікові записи користувачів),
            він стає недоступним для всіх відвідувачів платформи. Деактивацію можна також назвати видаленням; та/або
        </li>
        <li>
            <b>
                Обмеження поширення.
            </b>
             Якщо ми обмежуємо поширення піна, він залишається доступним на Pinterest, але більше не
            відображається в рекомендаціях, результатах пошуку або стрічці.
        </li>
    </ul>
    <p class="page-body">
        Ми визначаємо необхідність видалення або обмеження поширення контенту на основі рівня шкоди,
        якої він може завдати, зокрема, сили його впливу й уразливості його цільової аудиторії.
        За деяких обставин ми можемо залишити на платформі контент, деактивований за порушення наших Правил
        спільноти, але обмежити його поширення, щоб відвідувачі Pinterest не натрапили на нього випадково.
        Наприклад, ми можемо обмежити поширення контенту, де це доречно (як-от у випадках, коли він
        має викривальну чи просвітницьку мету).
    </p>
    <p class="page-body">
        Ми можемо блокувати або видаляти дошки чи облікові записи за повторні порушення Правил спільноти або
        за те, що вони спрямовані на порушення політик. Ми також можемо видалити обліковий запис після першого
        серйозного порушення політики або виявлення фактів неодноразового розміщення в ньому незаконного контенту.
        Якщо ми блокуємо або видаляємо дошку чи обліковий запис, ця дія застосовується до всіх пінів, розміщених на
        відповідній дошці чи в обліковому записі. Наприклад, якщо ми обмежуємо поширення дошки, це обмеження
        стосуватиметься всіх пінів на цій дошці. Крім того, дошки, поширення яких було обмежено, не відображатимуться
        під час перегляду профілів інших користувачів. Якщо ми деактивуємо обліковий запис, увесь його контент
        (піни й дошки) також деактивується та стає недоступним для відвідувачів Pinterest. За певних обставин
        ми можемо застосувати додаткові обмеження на використання Pinterest перед деактивацією облікового запису,
        наприклад обмежити можливість публікувати чи зберігати контент. Докладніше про видалення облікових
        записів (деактивацію чи блокування) можна дізнатися <a href="#">тут</a> .
    </p>
    <p class="page-body">
        Ми прагнемо допомогти користувачам знаходити цікавий, актуальний і безпечний контент.
        Контент, який не відповідає цим критеріям за оцінкою наших систем, може відображатися
        рідше або менш помітно, навіть якщо ми не виявили в ньому порушень наших Правил спільноти.
        Крім того, ми можемо використовувати додаткові функціональні можливості для покращення роботи
        Pinterest. Наприклад, ми можемо приховати частину контенту, якщо наші системи визначають,
        що вона може бути неприйнятною для певної аудиторії. Ми також можемо обмежити певні функції
        для пінів, зокрема вимкнути коментарі чи не показувати схожі матеріали, якщо вважатимемо їх
        небезпечними або з метою захисту неповнолітніх.
    </p>
    <p class="page-body">
        Прочитати всі наші Правила спільноти можна <a href="#">тут</a> .
    </p>
</article>