<div class="wrapper">
    <div class="sidebar-container">
        <nav class="sidebar">
            <h5>Зміст</h5>
            <ul class="nav-list">
                <li><a href="#rules_enforcement">
                    Контроль за дотриманням правил спільноти
                </a></li>
                <li><a href="#advertising_enforcement">
                    Контроль за дотриманням правил розміщення реклами
                </a></li>
                <li><a href="#merchant_enforcement">
                    Контроль за дотриманням правил для продавців
                </a></li>
                <li>
                    <a href="#control_procedure">
                        Процедури й системи контролю за дотриманням правил і політик
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>